{% extends 'sistema/base.html' %}

{% block body_block %}
<main role="main">
    <!-- PRIMERA SECCIÓN -->
    {% load static %}
    <div class="container-fluid" style="font-family: FivoSansModern-Regular;">
        <div class="row" style="padding-top: 72px;">
            <div class="col-lg-4 offset-lg-5 col-9 offset-2">
                <hr style="border-top: 8px solid rgba(0,0,0,1); margin-bottom: 5px !important;">
                <h3 style="font-family: FivoSansModern-Bold;">Sitio en construcción</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 offset-lg-3 col-10 offset-1">
                <img src="static/img/Logo_Cannava_H_1000px.png" alt="cannava" style="width: 100%;">
            </div>
        </div>
{#    desktop    #}
        <div class="row pt-xl-4 fixed-bottom pb-3 d-none d-md-block">
            <div class="col-lg-4 offset-lg-5 col-9 offset-2 pt-xl-4">
                <div class="row pt-xl-4" style="line-height: 1rem;">
                    <div class="col-6">
                        <hr class="mb-0" style="border-top: 2px solid rgba(0,0,0,1); margin-bottom: 2px !important;">
                        <p class="mb-0" style="font-family: UniversLTStd-Bold;">La Caridad 320</p>
                        <p class="mb-0" style="font-family: UniversLTStd-Bold;">Barrio Chijra</p>
                        <br>
                        <p class="mb-0" style="font-family: UniversLTStd-Regular;">CP 4600</p>
                        <p class="mb-0" style="font-family: UniversLTStd-Regular;">S. S. de Jujuy</p>
                        <p style="font-family: UniversLTStd-Regular;">Jujuy / Argentina</p>
                    </div>
                    <div class="col-6" style="">
                        <hr class="mb-0" style="border-top: 2px solid rgba(0,0,0,1); margin-bottom: 2px !important;">
                        <a href="tel:+543884612903" style="color: black; font-family: UniversLTStd-Bold;"><p class="mb-0">+54 388 4 612 903</p></a>
                        <a href="tel:+543884314361" style="color: black; font-family: UniversLTStd-Bold;"><p class="mb-0">+54 388 4 314 361</p></a>
                        <br>
                        <a href="mailto:info@cannava.com.ar" style="color: green; font-family: UniversLTStd-Bold;"><p class="mb-0">info@cannava</p><p>.com.ar</p></a>
                    </div>
                    <div class="col-12">
                        <hr style="border-top: 1px solid rgba(0,0,0,1);">
                        <p style="font-family: UniversLTStd-Regular;">© Cannabis Avatara SE 2019. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-6">
                        <img src="/static/img/Logo_GobJuj_V_400px.png" class="d-block d-lg-none" alt="" style="width: 100%;">
                        <img src="/static/img/Logo_GobJuj_H_500px.png" class="d-none d-lg-block" alt="" style="width: 100%;">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/static/img/Logo_Juj_400px.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
{#    mobile    #}
        <div class="row pt-0 pt-md-4 pb-3 d-block d-md-none" style="margin-top: 120px;">
            <div class="col-lg-4 offset-lg-5 col-9 offset-2 pt-xl-4">
                <div class="row pt-xl-4" style="line-height: 1rem;">
                    <div class="col-6">
                        <hr class="mb-0" style="border-top: 2px solid rgba(0,0,0,1); margin-bottom: 2px !important;">
                        <p class="mb-0" style="font-family: UniversLTStd-Bold;">La Caridad 320</p>
                        <p class="mb-0" style="font-family: UniversLTStd-Bold;">Barrio Chijra</p>
                        <br>
                        <p class="mb-0" style="font-family: UniversLTStd-Regular;">CP 4600</p>
                        <p class="mb-0" style="font-family: UniversLTStd-Regular;">S. S. de Jujuy</p>
                        <p style="font-family: UniversLTStd-Regular;">Jujuy / Argentina</p>
                    </div>
                    <div class="col-6" style="">
                        <hr class="mb-0" style="border-top: 2px solid rgba(0,0,0,1); margin-bottom: 2px !important;">
                        <a href="tel:+543884612903" style="color: black; font-family: UniversLTStd-Bold;"><p class="mb-0">+54 388 4 612 903</p></a>
                        <a href="tel:+543884314361" style="color: black; font-family: UniversLTStd-Bold;"><p class="mb-0">+54 388 4 314 361</p></a>
                        <br>
                        <a href="mailto:info@cannava.com.ar" style="color: green; font-family: UniversLTStd-Bold;"><p class="mb-0">info@cannava</p><p>.com.ar</p></a>
                    </div>
                    <div class="col-12">
                        <hr style="border-top: 1px solid rgba(0,0,0,1);">
                        <p style="font-family: UniversLTStd-Regular;">© Cannabis Avatara SE 2019. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-6">
                        <img src="/static/img/Logo_GobJuj_V_400px.png" class="d-block d-lg-none" alt="" style="width: 100%;">
                        <img src="/static/img/Logo_GobJuj_H_500px.png" class="d-none d-lg-block" alt="" style="width: 100%;">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/static/img/Logo_Juj_400px.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body_block %}