{% extends 'sistema/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
<section class="login">
  
  
  <div class="login-overlay-ignore">
    <div class="login-container">
    <h2>Ingrese al Sistema administrativo de Cannabis Avatara SE</h2>
    {% if form.errors %}
      <p style="color: red">Tu usuario y Contraseña son incorrectos, por favor intenta de nuevo.</p>
    {% endif %}
      <form method="post">
        {% csrf_token %}
          <div class="input-group">
            <label for="id_username">Usuario:</label><br>
            <input type="text" class="form-control" name="username" autofocus maxlength="254" required id="id_username" /><br>
          </div>
        
          <div class="input-group">
            <label for="id_password">Contraseña:</label><br>
            <input type="password" class="form-control" name="password" id="id_password" required /><br>
          </div>
        
          <div class="input-group">
          <button type="submit">Ingresar</button>
          </div>
          <a href="/signup/" class="signup">Eres nuevo? Registrate</a>
      </form>
    </div>
  </div>
</section>
{% endblock body_block %}