{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Detalle:</h2>
        </div>
        <div class="row">
        <div class="col-md-8">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Variedad</th>
                        <td>{{stock.variedad}}</td>
                    </tr>
                    <tr>
                        <th>Código del Paquete</th>
                        <td>{{stock.codigo}}</td>
                    </tr>
                    <tr>
                        <th>Cant. de Semillas</th>
                        <td>{{stock.cant_semillas}}</td>
                    </tr>
                    <tr>
                        <th>Peso en Gramos</th>
                        <td>{{stock.peso}}</td>
                    </tr>
                    <tr>
                        <th>Peso Utilizado</th>
                        <td>{{stock.peso_utilizado}}</td>
                    </tr>
                    <tr>
                        <th>Peso Disponible</th>
                        <td>{{stock.peso_disponible}}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Envase</th>
                        <td>{{stock.tipo_envase}}</td>
                    </tr>
                    <tr>
                        <th>SubUbicación</th>
                        <td>{{stock.sububicacion}}</td>
                    </tr>
                    <tr>
                        <th>Certificado de Importación</th>
                        <td><a href="../{{stock.certificado_importacion}}">Ver</a></td>
                    </tr>
                    <tr>
                        <th>Certificado Técnico</th>
                        <td><a href="../{{stock.certificado_tecnico}}">Ver</a></td>
                    </tr>
                    <tr>
                        <th>Tipo de Contenedor</th>
                        <td>{{stock.contenedor}}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        <td>{{stock.observaciones}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de alta</th>
                        <td>{{stock.fecha_alta}}</td>
                    </tr><tr>
                        <th>Fecha de carga</th>
                        <td>{{stock.fecha_carga}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div><br>
    <div><a class="btn btn-primary btn-sm float-right" href="{% url 'inventario:stock_semillas' %}">Volver al Listado</a></div>
{% endblock %}