{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Detalle de Semilla:</h2>
        </div>
        <div class="row">
        <div class="col-md-8">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Raza</th>
                        <td>{{semilla.raza}}</td>
                    </tr>
                    <tr>
                        <th>Origen</th>
                        <td>{{semilla.origen}}</td>
                    </tr>
                    <tr>
                        <th>Poder Germinativo</th>
                        <td>{{semilla.poder_germinativo}}</td>
                    </tr>
                    <tr>
                        <th>THC</th>
                        <td>{{semilla.thc}}</td>
                    </tr>
                    <tr>
                        <th>CBD</th>
                        <td>{{semilla.cbd}}</td>
                    </tr>
                    <tr>
                        <th>Morfología</th>
                        <td>{{semilla.morfologia}}</td>
                    </tr>
                    <tr>
                        <th>Sexo</th>
                        <td>{{semilla.sexo}}</td>
                    </tr>
                    <tr>
                        <th>Genotipo</th>
                        <td>{{semilla.genotipo}}</td>
                    </tr>
                    <tr>
                        <th>Dias de Floración</th>
                        <td>{{semilla.dias_floracion}}</td>
                    </tr>
                    <tr>
                        <th>Rendimiento Esperado</th>
                        <td>{{semilla.rendimiento}}</td>
                    </tr>
                    <tr>
                        <th>Altura Promedio</th>
                        <td>{{semilla.altura}}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        <td>{{semilla.observaciones}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Importación</th>
                        <td>{{semilla.fecha_importacion}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de carga</th>
                        <td>{{semilla.fecha_carga}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div><br>
    <div><a class="btn btn-primary btn-sm float-right" href="{% url 'inventario:lista_semillas' %}">Volver al Listado</a></div>
{% endblock %}