{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Semillas</h2>
            <a class="botoncito" href="{% url 'inventario:cargar_semillas' %}">
                Ingresar Semilla
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <a class="btn btn-primary btn-sm float-right" href="{% url 'core:menu' %}">Volver al Menú</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Rubro</th>
                        <th>Nombre</th>
                        <th>Identificador</th>
                        <th>Cantidad Utilizada</th>
                        <th>Cantidad Disponible</th>
                        <th>Administrador</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.cantidad_disponible > 0 %}
                            <tr>
                                <td>{{item.rubro}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.identificador}}</td>
                                <td>{{item.cantidad_distribuida}}{{item.get_medida_display}}</td>
                                {% if item.cantidad_disponible > 0 %}
                                <td style="color: green;">{{item.cantidad_disponible}}{{item.get_medida_display}}</td>
                                {% else %}
                                <td style="color: red;">{{item.cantidad_disponible}}{{item.get_medida_display}}</td>
                                {% endif %}
                                <td>{{item.responsable}}</td>
                                <td>
                                    <a href="{% url 'inventario:ver_item' item_id=item.id %}">
                                        <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}