{% extends 'base_inventario.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Semillas:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.inventario_admin %}
                                <li><a href="{% url 'inventario:lista_semillas' %}">Variedades</a></li>
                                <li><a href="{% url 'inventario:stock_semillas' %}">Almacenes</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}