{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
<style>
    .ref {
        border-top-width: 3px;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-top-style: dotted;
        border-right-style: dotted;
        border-bottom-style: dotted;
        border-left-style: dotted;
        border-top-color: green;
        border-right-color: green;
        border-bottom-color: green;
        border-left-color: green;
    }
</style>

    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
                <h2>Listado de Semillas:</h2>
                <a class="botoncito" href="{% url 'inventario:stock_ingresar' %}" target="_blank">
                    Ingresar al Stock
                   <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
                </a><br>
                <a class="btn btn-primary btn-sm float-right" href="{% url 'inventario:menu_semillas' %}">Volver al Menú</a>
            </div>
            <div class="col col-md-2 ref">
                <h5>Referencias:</h5>
                <p style="font-size: 80%;"><img class="icons" src="{% static '/img/icons/lupa.png' %}" style="width: 10%;">   Detalles
                <img class="icons" src="{% static '/img/icons/germinacion.png' %}" style="width: 10%;">   Germinar</p>
                <p style="font-size: 80%;"><img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 10%;">   Editar
                <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 10%;">   baja</p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Variedad</th>
                        <th>Código de Paquete</th>
                        <th>Cant. de Semillas</th>
                        <th>Peso en Gramos</th>
                        <th>Peso Utilizado</th>
                        <th>Peso Disponible</th>
                        <th>SubUbicación</th>
                        <th>Tipo de Contenedor</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in stock %}
                    {% if s.variedad.activo == True %}
                        <tr>
                            <td>{{s.variedad.raza}}</td>
                            <td>{{s.codigo}}</td>
                            <td>{{s.cant_semillas}}</td>
                            <td>{{s.peso}}</td>
                            <td>{{s.peso_utilizado}}</td>
                            <td>{% if s.peso_disponible > 0%}
                                <b style="color:green;">{{s.peso_disponible}}</b></td>
                            {% else %}
                                <b style="color:red;">{{s.peso_disponible}}</b></td>
                            {% endif %}
                            <td>{{s.sububicacion}}</td>
                            <td>{{s.contenedor}}</td>
                            <td>
                                <a href="{% url 'inventario:stock_detalles' stock_id=s.id %}" alt="Detalles">
                                    <img class="icons" src="{% static '/img/icons/lupa.png' %}" style="width: 20%">
                                </a>
                                <a href="{% url 'produccion:germinar' semilla_id=s.id %}" alt="Germinar">
                                    <img class="icons" src="{% static '/img/icons/germinacion.png' %}" style="width: 20%">
                                </a>
                                <a class="nolink" href="{% url 'inventario:stock_mod' stock_id=s.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar" style="width: 22%">
                                </a>
                                <a class="nolink" href="{% url 'inventario:stock_baja' stock_id=s.id %}">
                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Baja" style="width: 22%">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}