{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
{#<style>#}
{#    .ref {#}
{#        border-top-width: 3px;#}
{#        border-right-width: 3px;#}
{#        border-bottom-width: 3px;#}
{#        border-left-width: 3px;#}
{#        border-top-style: dotted;#}
{#        border-right-style: dotted;#}
{#        border-bottom-style: dotted;#}
{#        border-left-style: dotted;#}
{#        border-top-color: green;#}
{#        border-right-color: green;#}
{#        border-bottom-color: green;#}
{#        border-left-color: green;#}
{#    }#}
{#</style>#}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
                <h2>Listado de Alianzas</h2>
                    <a class="btn btn-primary btn-sm" href="{% url 'noticias:menu_comunicaciones' %}">Volver al Menú Anterior</a>
            <br><br>
            </div>
{#            <div class="col col-md-2 ref">#}
{#                <h5>Referencias:</h5>#}
{#                <p style="font-size: 80%;"><img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 10%;">   Editar#}
{#                </p>#}
{#                <p style="font-size: 80%;"><img class="icons" src="/static/img/icons/check.png" style="width: 10%;">   Activar#}
{#                <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 10%;">   Desactivar</p>#}
{#            </div>#}
        </div>
        <div class="row">
        <div class="col-md-12">
                    <a class="botoncito" href="{% url 'core:crear_alianza' %}">
                        Crear Alianza
                        <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                    </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Orden</th>
                        <th>Nacionalidad</th>
                        <th>Logo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% if alianzas %}
                    {% for alianza in alianzas %}
                        <tr>
                            <td>{{alianza.nombre}}</td>
                            <td>{{alianza.tipo}}</td>
                            <td>{{alianza.orden}}</td>
                            <td>{{alianza.nacionalidad}}</td>
                            <td>{{alianza.logo}}</td>
                            <td><!-- Icono de Activo -->
                                {% if alianza.activa == True %}
                                    <b style="color:green;">Activo</b>
                                {% else %}
                                    <b style="color:red;">Inactivo</b>
                                {% endif %}
                            </td>
                            <td>
                                <a title="Modificar" class="nolink" href="{% url 'core:modificar_alianza' alianza_id=alianza.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                                {% if alianza.activa == True %}
                                <a title="Desactivar" class="nolink" href="{% url 'core:desactivar_alianza' alianza_id=alianza.id %}">
                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                </a>
                                {% else %}
                                <a title="Activar" class="nolink" href="{% url 'core:desactivar_alianza' alianza_id=alianza.id %}">
                                    <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <h1>No hay registros</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
        </br></br>
            <p>Si desea eliminar una Alianza, comuníquese con el Administrador</p>
{% endblock %}