{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
{#<style>#}
{#    .ref {#}
{#        border-top-width: 3px;#}
{#        border-right-width: 3px;#}
{#        border-bottom-width: 3px;#}
{#        border-left-width: 3px;#}
{#        border-top-style: dotted;#}
{#        border-right-style: dotted;#}
{#        border-bottom-style: dotted;#}
{#        border-left-style: dotted;#}
{#        border-top-color: green;#}
{#        border-right-color: green;#}
{#        border-bottom-color: green;#}
{#        border-left-color: green;#}
{#    }#}
{#</style>#}
    <div class="beneficiario container">
        <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
                <h2>Listado de Videos</h2>
                    <a class="btn btn-primary btn-sm" href="{% url 'noticias:menu_comunicaciones' %}">Volver al Menú Anterior</a>
            </div>
{#            <div class="col col-md-2 ref">#}
{#                <h5>Referencias:</h5>#}
{#                <p style="font-size: 80%;"><img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 10%;">   Editar#}
{#                </p>#}
{#                <p style="font-size: 80%;"><img class="icons" src="/static/img/icons/check.png" style="width: 10%;">   Activar#}
{#                <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 10%;">   Desactivar</p>#}
{#            </div>#}
        </div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'core:cargar_video' %}">
                        Cargar Video
                        <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                    </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Archivo</th>
                        <th>Actual?</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% if videos %}
                    {% for video in videos %}
                        <tr>
                            <td>{{video.titulo}}</td>
                            <td>{{video.descripcion}}</td>
                            <td>{{video.archivo}}</td>
                            <td><!-- Icono de Activo -->
                                {% if video.actual == True %}
                                    <b style="color:green;">Sí</b>
                                {% else %}
                                    <b style="color:red;">No</b>
                                {% endif %}
                            </td>
                            <td>
                                <a title="Editar" class="nolink" href="{% url 'core:modificar_video' video_id=video.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                                {% if video.actual == True %}
                                <a title="Desactivar" class="nolink" href="{% url 'core:desactivar_video' video_id=video.id %}">
                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                </a>
                                {% else %}
                                <a title="Activar" class="nolink" href="{% url 'core:desactivar_video' video_id=video.id %}">
                                    <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <h1>No hay registros</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
        </br></br>
            <p>Si desea eliminar un Video, comuníquese con el Administrador</p>
{% endblock %}