{% extends 'base_inventario.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Comunicaciones:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.wservices %}
                                <li><a href="{% url 'noticias:lista_noticias' %}">Noticias</a></li>
                                <li><a href="{% url 'core:mostrar' %}">Visualizar Comunicaciones</a></li>
                                <li><a href="{% url 'core:lista_alianzas' %}">Alianzas</a></li>
                                <li><a href="{% url 'core:lista_directivos' %}">Directivos</a></li>
                                <li><a href="{% url 'core:lista_videos' %}">Videos</a></li>
                            {% endif %}
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                        <a class="btn btn-primary" href="{% url 'core:menu' %}">Volver al Menú Principal</a>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}