{% extends 'base_produccion.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Lotes Sembrados</h2>
            <a class="btn btn-primary btn-sm float-right" href="{% url 'reportes:menu' %}">Volver al Menú Anterior</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Código de Lote</th>

                        <th>Fecha de siembra</th>
                        <th>Identificador Semillas</th>
                        <th>Cantidad Semillas(g)</th>

                        <th>Ubicaciónes</th>
                        <th>Códigos de Contenedores</th>
                        
                        <th>Estado</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lote in lotes %}
                        <tr>
                            <td>{{lote.identificador}}</td>

                            <td>{{lote.fecha}}</td>
                            <td>
                                {% for semilla in lote.semillas.all %}
                                    <p>{{semilla.identificador}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for accion in lote.acciones.all %}
                                    {% if accion.tipo == 'GER' %}
                                        <p>{{accion.evento_item.cantidad|floatformat:1}} gr</p>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td>{{lote.ubicacion_general}}</td>
                            <td>
                                {% for ubicacion in lote.ubicacioneshistoricas.all %}
                                    {% with ubicacion.ubicacion as ubicacion %}
                                        {% if ubicacion.tipo == 'BDJ' or ubicacion.tipo == 'BDM' or ubicacion.tipo == 'MAC' %}
                                            <p>{{ubicacion.identificador}} ({{ubicacion.get_tipo_display}})</p>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </td>

                            <td>{{lote.get_estado_display}}</td>
                            <td>
                                <a href="{% url 'produccion:ver_objeto' objeto_id=lote.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}