{% extends 'base_produccion.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Lotes de Secado</h2>
            <a class="btn btn-primary btn-sm float-right" href="{% url 'reportes:menu' %}">Volver al Menú Anterior</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Código de Lote</th>
<!--                        <th>Código de Plantas</th> Por el momento no se toma este valor-->
                        <th>Cantidad de Plantas</th>
                        <th>Fecha de Cosecha</th>
<!--                        <th>Rendimiento Peso seco (kg)</th> Por el momento no se toma este valor-->
                        <th>Observaciones</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lote in lotes %}
                        <tr>
                            <td>{{lote.identificador}}</td>
<!--                            <td></td>-->
                            <td>{{lote.cantidad_plantas|floatformat:0}}</td>
                            <td>{{lote.fecha}}</td>
<!--                            <td></td>-->
                            <td></td>
                            <td>
                                <a href="{% url 'produccion:ver_objeto' objeto_id=lote.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}