{% extends 'base_produccion.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Eliminacion de Plantas</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Código de Lote</th>
                        <th>Situacion</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Aclaracion</th>
                        <th>Operador</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accion in eliminaciones %}
                        <tr>
                            <td>{{accion.objeto.identificador}}</td>
                            <td>{{accion.objeto.get_fase_display}} ({{accion.objeto.get_estado_display}})</td>
                            <td>{{accion.objeto.fecha}}</td>
                            <td>{{accion.cantidad|floatformat:0}}</td>
                            <td>{{accion.aclaracion}}</td>
                            <td>{{accion.operador}}</td>
                            <td>
                                {% if accion.objeto %}
                                    <a href="{% url 'produccion:ver_objeto' objeto_id=accion.objeto.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}