{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
<style>
    .ref {
        border-top-width: 3px;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-top-style: dotted;
        border-right-style: dotted;
        border-bottom-style: dotted;
        border-left-style: dotted;
        border-top-color: green;
        border-right-color: green;
        border-bottom-color: green;
        border-left-color: green;
    }
</style><br />

    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
                <h2>Listado de Materia Prima:</h2>
                <a class="botoncito" href="{% url 'laboratorio:crear' %}">
                    Ingresar Materia Prima
                   <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
                </a><br>
                <a class="btn btn-primary btn-sm float-right" href="{% url 'laboratorio:menu' %}">Volver al Menú Anterior</a>
            </div>
            <div class="col col-md-2 ref">
                <h5>Referencias:</h5>
                <p style="font-size: 80%;"><img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 10%;">   Editar
                <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 10%;">   Eliminar</p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo / Identificador</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% if materias %}
                    {% for materia in materias %}
                        <tr>
                            <td>{{ materia.codigo }}</td>
                            <td>{{ materia.tipo }}</td>
                            <td>
                                <a class="nolink" href="#">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                                <a class="nolink" href="#">
                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Eliminar">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <h1>No hay registros</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}