    /* show 3 items */
    #carouselExample .carousel-inner .active,
    #carouselExample .carousel-inner .active + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    #carouselExample .carousel-inner .carousel-item-next,
    #carouselExample .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    #carouselExample .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    #carouselExample .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #carouselExample .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }

    #carouselVideo .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselVideo .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselHacemos .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselHacemos .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselSomosVideo .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselSomosVideo .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselGestion .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 10px;
        margin-left: 10px;
        left: 0;
    }
    
    #carouselGestion .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselExampleIndicatorsValores .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselExampleIndicatorsValores .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    /* show 3 items */
    #carouselExample .carousel-inner .active,
    #carouselExample .carousel-inner .active + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    #carouselExample .carousel-inner .carousel-item-next,
    #carouselExample .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    #carouselExample .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    #carouselExample .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #carouselExample .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }

    #carouselVideo .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselVideo .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselHacemos .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselHacemos .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselSomosVideo .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselSomosVideo .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselGestion .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #e9e9eb;
        margin-right: 10px;
        margin-left: 10px;
        left: 0;
    }
    
    #carouselGestion .carousel-indicators li.active{
      background-color: var(--color_primario);
    }
    
    #carouselExampleIndicatorsValores .carousel-indicators li {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: 20px;
        margin-left: 20px;
        left: 0;
    }
    
    #carouselExampleIndicatorsValores .carousel-indicators li.active{
      background-color: var(--color_primario);
    }