@font-face {
    font-family: FivoSansModern-Regular;
    src: url('/static/fonts/FivoSansModern-Regular.otf') format("opentype");
}

@font-face {
    font-family: FivoSansModern-Bold;
    font-weight: bold;
    src: url('/static/fonts/FivoSansModern-Bold.otf') format("opentype");
}


@font-face {
    font-family: UniversLTStd-Regular;
    src: url('/static/fonts/UniversLTStd.otf') format("opentype");
}

@font-face {
    font-family: UniversLTStd-Bold;
    font-weight: bold;
    src: url('/static/fonts/UniversLTStd-Bold.otf') format("opentype");
}
@font-face {
    font-family: FivoSansModern-Regular;
    src: url('/static/fonts/FivoSansModern-Regular.otf') format("opentype");
}

@font-face {
    font-family: FivoSansModern-Bold;
    font-weight: bold;
    src: url('/static/fonts/FivoSansModern-Bold.otf') format("opentype");
}


@font-face {
    font-family: UniversLTStd-Regular;
    src: url('/static/fonts/UniversLTStd.otf') format("opentype");
}

@font-face {
    font-family: UniversLTStd-Bold;
    font-weight: bold;
    src: url('/static/fonts/UniversLTStd-Bold.otf') format("opentype");
}