@media (min-width: 320px) {
    .imagen-principal-contacto {background-image: url(/static/img/contacto/Contacto_600x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-cooperamos {background-image: url(/static/img/cooperamos/Cooperamos_600X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-hacemos {background-image: url(/static/img/hacemos/Hacemos_600x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-somos {background-image: url(/static/img/somos/Somos_600X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .padding-principal-video {
        padding-top: 240px;
        padding-bottom: 32px;
    }
    .margin-negative-g3{
        margin-top: -1.5px;
    }
    .line-g3-white{
        border-top: 3px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-green{
        border-top: 3px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-black{
        border-top: 3px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1{
        border-top: 1px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-green{
        border-top: 1px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-white{
        border-top: 1px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-black{
        border-top: 2px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-green{
        border-top: 2px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-white{
        border-top: 2px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }

    .txt2-green{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2-black{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-black{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-green{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-white{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt3{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt3-green{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt3-white{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt4{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4-white{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4-green{
        font-size: 2rem;
        line-height: 2rem;
    }

    .padding-top-140 {padding-top: 70px;}
    .padding-top-96 {padding-top: 48px;}
    .padding-top-72 {padding-top: 36px;}
    .padding-top-48 {padding-top: 24px;}
    .padding-top-32 {padding-top: 16px;}
    .padding-top-36 {padding-top: 18px;}
    .padding-bottom-72 {padding-bottom: 36px;}
    .padding-bottom-48 {padding-bottom: 24px;}
    .padding-bottom-32 {padding-bottom: 16px;}
    .padding-bottom-100 {padding-bottom: 60px !important;}

    .height-navbar {
        height: 100%;
    }
}

@media (min-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1400px) {
    .imagen-principal-contacto {background-image: url(/static/img/contacto/Contacto_1920x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-cooperamos {background-image: url(/static/img/cooperamos/Cooperamos_1920X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-hacemos {background-image: url(/static/img/hacemos/Hacemos_1920x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-somos {background-image: url(/static/img/somos/Somos_1920X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .padding-principal-video {
        padding-top: 280px;
        padding-bottom: 280px;
    }
    .margin-negative-g3{
        margin-top: -3px;
    }
    .line-g3-white{
        border-top: 6px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-green{
        border-top: 6px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-black{
        border-top: 6px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1{
        border-top: 2px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-green{
        border-top: 2px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-white{
        border-top: 2px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-black{
        border-top: 3px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-green{
        border-top: 3px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-white{
        border-top: 3px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }

    .txt2-green{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2-black{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-black{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-white{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-green{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt3{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt3-white{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt3-green{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4{
        font-size: 3rem;
        line-height: 3rem;
    }
    .txt4-white{
        font-size: 3rem;
        line-height: 3rem;
    }
    .txt4-green{
        font-size: 3rem;
        line-height: 3rem;
    }
    .padding-top-140 {padding-top: 140px;}
    .padding-top-96 {padding-top: 96px;}
    .padding-top-72 {padding-top: 72px;}
    .padding-top-48 {padding-top: 48px;}
    .padding-top-32 {padding-top: 32px;}
    .padding-top-36 {padding-top: 36px;}
    .padding-bottom-72 {padding-bottom: 72px;}
    .padding-bottom-48 {padding-bottom: 48px;}
    .padding-bottom-32 {padding-bottom: 32px;}
    .padding-bottom-100 {padding-bottom: 100px;}
    .height-navbar {
        height: 80%;
    }

}
@media (min-width: 320px) {
    .imagen-principal-contacto {background-image: url(/static/img/contacto/Contacto_600x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-cooperamos {background-image: url(/static/img/cooperamos/Cooperamos_600X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-hacemos {background-image: url(/static/img/hacemos/Hacemos_600x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-somos {background-image: url(/static/img/somos/Somos_600X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .padding-principal-video {
        padding-top: 240px;
        padding-bottom: 32px;
    }
    .margin-negative-g3{
        margin-top: -1.5px;
    }
    .line-g3-white{
        border-top: 3px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-green{
        border-top: 3px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-black{
        border-top: 3px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1{
        border-top: 1px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-green{
        border-top: 1px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-white{
        border-top: 1px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-black{
        border-top: 2px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-green{
        border-top: 2px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-white{
        border-top: 2px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }

    .txt2-green{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2-black{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-black{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-green{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt2b-white{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .txt3{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt3-green{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt3-white{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .txt4{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4-white{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4-green{
        font-size: 2rem;
        line-height: 2rem;
    }

    .padding-top-140 {padding-top: 70px;}
    .padding-top-96 {padding-top: 48px;}
    .padding-top-72 {padding-top: 36px;}
    .padding-top-48 {padding-top: 24px;}
    .padding-top-32 {padding-top: 16px;}
    .padding-top-36 {padding-top: 18px;}
    .padding-bottom-72 {padding-bottom: 36px;}
    .padding-bottom-48 {padding-bottom: 24px;}
    .padding-bottom-32 {padding-bottom: 16px;}
    .padding-bottom-100 {padding-bottom: 60px !important;}

    .height-navbar {
        height: 100%;
    }
}

@media (min-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1400px) {
    .imagen-principal-contacto {background-image: url(/static/img/contacto/Contacto_1920x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-cooperamos {background-image: url(/static/img/cooperamos/Cooperamos_1920X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-hacemos {background-image: url(/static/img/hacemos/Hacemos_1920x800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .imagen-principal-somos {background-image: url(/static/img/somos/Somos_1920X800.jpg); background-size: cover; min-height: 630px; color: white; padding-top: 80px;}
    .padding-principal-video {
        padding-top: 280px;
        padding-bottom: 280px;
    }
    .margin-negative-g3{
        margin-top: -3px;
    }
    .line-g3-white{
        border-top: 6px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-green{
        border-top: 6px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g3-black{
        border-top: 6px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1{
        border-top: 2px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-green{
        border-top: 2px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g1-white{
        border-top: 2px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-black{
        border-top: 3px solid rgba(0,0,0,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-green{
        border-top: 3px solid rgba(0,133,52,1); margin-bottom: 5px !important;
        width: 100%;
    }
    .line-g2-white{
        border-top: 3px solid rgba(255,255,255,1); margin-bottom: 5px !important;
        width: 100%;
    }

    .txt2-green{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2-black{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-black{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-white{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt2b-green{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .txt3{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt3-white{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt3-green{
        font-size: 2rem;
        line-height: 2rem;
    }
    .txt4{
        font-size: 3rem;
        line-height: 3rem;
    }
    .txt4-white{
        font-size: 3rem;
        line-height: 3rem;
    }
    .txt4-green{
        font-size: 3rem;
        line-height: 3rem;
    }
    .padding-top-140 {padding-top: 140px;}
    .padding-top-96 {padding-top: 96px;}
    .padding-top-72 {padding-top: 72px;}
    .padding-top-48 {padding-top: 48px;}
    .padding-top-32 {padding-top: 32px;}
    .padding-top-36 {padding-top: 36px;}
    .padding-bottom-72 {padding-bottom: 72px;}
    .padding-bottom-48 {padding-bottom: 48px;}
    .padding-bottom-32 {padding-bottom: 32px;}
    .padding-bottom-100 {padding-bottom: 100px;}
    .height-navbar {
        height: 80%;
    }

}