body {
    overflow-x: hidden;
    min-height: 95%;
}


.imagen-principal {
    min-height: 500px;
    color: white;
    padding-top: 80px;
}

.video-container {
    background-color: #ffffff;
    color: white;
}

.que-hacemos-container {
    background-color: #e9e9eb;
}

.footer-container {
    background-color: var(--color_primario);
}

.noticias-primera-seccion{
    background-color: var(--color_primario);
    margin-top: 10px;
    padding-top: 16px;
}

.backgoundcolor-green {
    background-color: var(--color_primario);
}

.backgoundcolor-grey {
    background-color: #e9e9eb;
}

.backgoundcolor-black {
    background-color: #1a171b
}


.closeModal{
    position: absolute;
    top: 25px;
    right: 25px;
}


.input-txt-black{
    background-color: transparent;
    color: white;
    border: 0;
}

.input-button-black{
    background-color: transparent;
    border: 0;
    border-top-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
    text-align: left;
}

.txt1-white{
    font-family: UniversLTStd-Regular;
    color: white;
    font-size: 16px;
    line-height: 19px;
}
.txt1-black{
    font-family: UniversLTStd-Regular;
    color: black;
    font-size: 16px;
    line-height: 19px;
}
.txt1-green{
    font-family: UniversLTStd-Regular;
    color: var(--color_primario);
    font-size: 16px;
    line-height: 19px;
}
.txt1b-white{
    font-family: UniversLTStd-Bold;
    color: white;
    font-size: 16px;
    line-height: 19px;
}
.txt1b-black{
    font-family: UniversLTStd-Bold;
    color: black;
    font-size: 16px;
    line-height: 19px;
}
.txt1b-green{
    font-family: UniversLTStd-Bold;
    color: var(--color_primario);
    font-size: 16px;
    line-height: 19px;
}
.txt2-black{
    font-family: UniversLTStd-Regular;
    color: black;
}
.txt2b-black{
    font-family: UniversLTStd-Bold;
    color: black;
}
.txt2b-white{
    font-family: UniversLTStd-Bold;
    color: white;
}
.txt2b-green{
    font-family: UniversLTStd-Bold;
    color: var(--color_primario);
}
.txt3{
    font-family: FivoSansModern-Bold;
    color: black;
}
.txt3-green{
    font-family: FivoSansModern-Bold;
    color: var(--color_primario);
}
.txt3-white{
    font-family: FivoSansModern-Bold;
    color: white;
}
.txt2-green{
    font-family: UniversLTStd-Regular;
    color: var(--color_primario);
}
.txt4{
    font-family: FivoSansModern-Bold;
}
.txt4-green{
    font-family: FivoSansModern-Bold;
    color: var(--color_primario);
}
.txt4-white{
    font-family: FivoSansModern-Bold;
    color: white;
}

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}


input[type=text]:focus {
    border: 0 solid var(--color_primario) !important;
    box-shadow: 0 0 0 var(--color_primario) !important;
    -moz-box-shadow: 0 0 0 var(--color_primario) !important;
    -webkit-box-shadow: 0 0 0 var(--color_primario) !important;
}

input[type=text]:focus {
    outline-offset: 0 !important;
    outline: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    border: none;
}
body {
    overflow-x: hidden;
    min-height: 95%;
}


.imagen-principal {
    min-height: 500px;
    color: white;
    padding-top: 80px;
}

.video-container {
    background-color: #ffffff;
    color: white;
}

.que-hacemos-container {
    background-color: #e9e9eb;
}

.footer-container {
    background-color: var(--color_primario);
}

.noticias-primera-seccion{
    background-color: var(--color_primario);
    margin-top: 10px;
    padding-top: 16px;
}

.backgoundcolor-green {
    background-color: var(--color_primario);
}

.backgoundcolor-grey {
    background-color: #e9e9eb;
}

.backgoundcolor-black {
    background-color: #1a171b
}


.closeModal{
    position: absolute;
    top: 25px;
    right: 25px;
}


.input-txt-black{
    background-color: transparent;
    color: white;
    border: 0;
}

.input-button-black{
    background-color: transparent;
    border: 0;
    border-top-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
    text-align: left;
}

.txt1-white{
    font-family: UniversLTStd-Regular;
    color: white;
    font-size: 16px;
    line-height: 19px;
}
.txt1-black{
    font-family: UniversLTStd-Regular;
    color: black;
    font-size: 16px;
    line-height: 19px;
}
.txt1-green{
    font-family: UniversLTStd-Regular;
    color: var(--color_primario);
    font-size: 16px;
    line-height: 19px;
}
.txt1b-white{
    font-family: UniversLTStd-Bold;
    color: white;
    font-size: 16px;
    line-height: 19px;
}
.txt1b-black{
    font-family: UniversLTStd-Bold;
    color: black;
    font-size: 16px;
    line-height: 19px;
}
.txt1b-green{
    font-family: UniversLTStd-Bold;
    color: var(--color_primario);
    font-size: 16px;
    line-height: 19px;
}
.txt2-black{
    font-family: UniversLTStd-Regular;
    color: black;
}
.txt2b-black{
    font-family: UniversLTStd-Bold;
    color: black;
}
.txt2b-white{
    font-family: UniversLTStd-Bold;
    color: white;
}
.txt2b-green{
    font-family: UniversLTStd-Bold;
    color: var(--color_primario);
}
.txt3{
    font-family: FivoSansModern-Bold;
    color: black;
}
.txt3-green{
    font-family: FivoSansModern-Bold;
    color: var(--color_primario);
}
.txt3-white{
    font-family: FivoSansModern-Bold;
    color: white;
}
.txt2-green{
    font-family: UniversLTStd-Regular;
    color: var(--color_primario);
}
.txt4{
    font-family: FivoSansModern-Bold;
}
.txt4-green{
    font-family: FivoSansModern-Bold;
    color: var(--color_primario);
}
.txt4-white{
    font-family: FivoSansModern-Bold;
    color: white;
}

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}


input[type=text]:focus {
    border: 0 solid var(--color_primario) !important;
    box-shadow: 0 0 0 var(--color_primario) !important;
    -moz-box-shadow: 0 0 0 var(--color_primario) !important;
    -webkit-box-shadow: 0 0 0 var(--color_primario) !important;
}

input[type=text]:focus {
    outline-offset: 0 !important;
    outline: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    border: none;
}