/* http://www.positioniseverything.net/easyclearing.html */
#djDebug .djdt-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#djDebug .djdt-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
#djDebug .djdt-clearfix {display: block;}
* html #djDebug .djdt-clearfix {height: 1%;}
/* end hide from IE-mac */

/* Debug Toolbar CSS Reset, adapted from Eric Meyer's CSS Reset */
#djDebug {color:#000;background:#FFF;}
#djDebug, #djDebug div, #djDebug span, #djDebug applet, #djDebug object, #djDebug iframe,
#djDebug h1, #djDebug h2, #djDebug h3, #djDebug h4, #djDebug h5, #djDebug h6, #djDebug p, #djDebug blockquote, #djDebug pre,
#djDebug a, #djDebug abbr, #djDebug acronym, #djDebug address, #djDebug big, #djDebug cite, #djDebug code,
#djDebug del, #djDebug dfn, #djDebug em, #djDebug font, #djDebug img, #djDebug ins, #djDebug kbd, #djDebug q, #djDebug s, #djDebug samp,
#djDebug small, #djDebug strike, #djDebug strong, #djDebug sub, #djDebug sup, #djDebug tt, #djDebug var,
#djDebug b, #djDebug u, #djDebug i, #djDebug center,
#djDebug dl, #djDebug dt, #djDebug dd, #djDebug ol, #djDebug ul, #djDebug li,
#djDebug fieldset, #djDebug form, #djDebug label, #djDebug legend,
#djDebug table, #djDebug caption, #djDebug tbody, #djDebug tfoot, #djDebug thead, #djDebug tr, #djDebug th, #djDebug td,
#djDebug button {
	margin:0;
	padding:0;
	min-width:0;
	width:auto;
	border:0;
	outline:0;
	font-size:12px;
	line-height:1.5em;
	color:#000;
	vertical-align:baseline;
	background-color:transparent;
	font-family:sans-serif;
	text-align:left;
	text-shadow: none;
	white-space: normal;
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#djDebug button, #djDebug a.button {
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eee, #cccccc);
	background-image: -moz-linear-gradient(top, #eee, #cccccc);
	background-image: -ms-linear-gradient(top, #eee, #cccccc);
	background-image: -o-linear-gradient(top, #eee, #cccccc);
	background-image: linear-gradient(top, #eee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	line-height: 1;
	padding: 0 8px;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
}

#djDebug button:hover, #djDebug a.button:hover {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
    background-image: -webkit-linear-gradient(top, #ddd, #bbb);
    background-image: -moz-linear-gradient(top, #ddd, #bbb);
    background-image: -ms-linear-gradient(top, #ddd, #bbb);
    background-image: -o-linear-gradient(top, #ddd, #bbb);
    background-image: linear-gradient(top, #ddd, #bbb);
    border-color: #bbb;
    border-bottom-color: #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

#djDebug button:active, #djDebug a.button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

#djDebug #djDebugToolbar {
	background-color:#111;
	width:200px;
	z-index:100000000;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	opacity:0.9;
	overflow-y: auto;
}

#djDebug #djDebugToolbar small {
	color:#999;
}

#djDebug #djDebugToolbar ul {
	margin:0;
	padding:0;
	list-style:none;
}

#djDebug #djDebugToolbar li {
	border-bottom:1px solid #222;
	color:#fff;
	display:block;
	font-weight:bold;
	float:none;
	margin:0;
	padding:0;
	position:relative;
	width:auto;
}

#djDebug #djDebugToolbar input[type=checkbox] {
	float: right;
	margin: 10px;
}

#djDebug #djDebugToolbar li>a,
#djDebug #djDebugToolbar li>div.djdt-contentless  {
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	display:block;
	font-size:16px;
	padding:10px 10px 5px 25px;
	color:#fff;
}
#djDebug #djDebugToolbar li>div.djdt-disabled {
	font-style: italic;
	color: #999;
}

#djDebug #djDebugToolbar li a:hover {
	color:#111;
	background-color:#ffc;
}

#djDebug #djDebugToolbar li.djdt-active {
	background: #333 no-repeat left center;
	background-image: url(../img/indicator.png);
	padding-left:10px;
}

#djDebug #djDebugToolbar li.djdt-active a:hover {
	color:#b36a60;
	background-color:transparent;
}

#djDebug #djDebugToolbar li small {
	font-size:12px;
	color:#999;
	font-style:normal;
	text-decoration:none;
	font-variant:small-caps;
}

#djDebug #djDebugToolbarHandle {
	position:fixed;
	background-color:#fff;
	border:1px solid #111;
	top:30px;
	right:0;
	z-index:100000000;
	opacity:0.75;
}

#djDebug #djShowToolBarButton {
	display:block;
	height:75px;
	width:30px;
	border-right:none;
	border-bottom:4px solid #fff;
	border-top:4px solid #fff;
	border-left:4px solid #fff;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-indent:-999999px;
	background: #000 no-repeat left center;
	background-image: url(../img/djdt_vertical.png);
	opacity:0.5;
}

#djDebug #djShowToolBarButton:hover {
	background-color:#111;
	border-top-color:#FFE761;
	border-left-color:#FFE761;
	border-bottom-color:#FFE761;
	cursor:move;
	opacity:1.0;
}

#djDebug code {
	display:block;
	font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
	font-size: 12px;
	white-space:pre;
	overflow:auto;
}

#djDebug .djDebugOdd {
	background-color:#f5f5f5;
}

#djDebug .djdt-panelContent {
	display:none;
	position:fixed;
	margin:0;
	top:0;
	right:200px;
	bottom:0;
	left:0px;
	background-color:#eee;
	color:#666;
	z-index:100000000;
}

#djDebug .djdt-panelContent > div {
	border-bottom:1px solid #ddd;
}

#djDebug .djDebugPanelTitle {
	position:absolute;
	background-color:#ffc;
	color:#666;
	padding-left:20px;
	top:0;
	right:0;
	left:0;
	height:50px;
}

#djDebug .djDebugPanelTitle code {
	display:inline;
	font-size:inherit;
}

#djDebug .djDebugPanelContent {
	position:absolute;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	height:auto;
	padding:5px 0 0 20px;
}

#djDebug .djDebugPanelContent .djdt-loader {
	display:block;
	margin:80px auto;
}

#djDebug .djDebugPanelContent .djdt-scroll {
	height:100%;
	overflow:auto;
	display:block;
	padding:0 10px 0 0;
}

#djDebug h3 {
	font-size:24px;
	font-weight:normal;
	line-height:50px;
}

#djDebug h4 {
	font-size:20px;
	font-weight:bold;
	margin-top:0.8em;
}

#djDebug .djdt-panelContent table {
	border:1px solid #ccc;
	border-collapse:collapse;
	width:100%;
	background-color:#fff;
	display:table;
	margin-top:0.8em;
	overflow: auto;
}
#djDebug .djdt-panelContent tbody td,
#djDebug .djdt-panelContent tbody th {
	vertical-align:top;
	padding:2px 3px;
}
#djDebug .djdt-panelContent tbody td.djdt-time {
    text-align: center;
}

#djDebug .djdt-panelContent thead th {
	padding:1px 6px 1px 3px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
    white-space: nowrap;
}
#djDebug .djdt-panelContent tbody th {
	width:12em;
	text-align:right;
	color:#666;
	padding-right:.5em;
}

#djDebug .djTemplateContext {
	background-color:#fff;
}

/*
#djDebug .djdt-panelContent p a:hover, #djDebug .djdt-panelContent dd a:hover {
	color:#111;
	background-color:#ffc;
}

#djDebug .djdt-panelContent p {
	padding:0 5px;
}

#djDebug .djdt-panelContent p, #djDebug .djdt-panelContent table, #djDebug .djdt-panelContent ol, #djDebug .djdt-panelContent ul, #djDebug .djdt-panelContent dl {
	margin:5px 0 15px;
	background-color:#fff;
}
#djDebug .djdt-panelContent table {
	clear:both;
	border:0;
	padding:0;
	margin:0;
	border-collapse:collapse;
	border-spacing:0;
}

#djDebug .djdt-panelContent table a {
	color:#000;
	padding:2px 4px;
}
#djDebug .djdt-panelContent table a:hover {
	background-color:#ffc;
}

#djDebug .djdt-panelContent table th {
	background-color:#333;
	font-weight:bold;
	color:#fff;
	padding:3px 7px 3px;
	text-align:left;
	cursor:pointer;
}
#djDebug .djdt-panelContent table td {
	padding:5px 10px;
	font-size:14px;
	background-color:#fff;
	color:#000;
	vertical-align:top;
	border:0;
}
#djDebug .djdt-panelContent table tr.djDebugOdd td {
  background-color:#eee;
}
*/

#djDebug .djdt-panelContent .djDebugClose {
	display:block;
	position:absolute;
	top:4px;
	right:15px;
	height:40px;
	width:40px;
	background: no-repeat center center;
	background-image: url(../img/close.png);
}

#djDebug .djdt-panelContent .djDebugClose:hover {
	background-image: url(../img/close_hover.png);
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack {
	background-image: url(../img/back.png);
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack:hover  {
	background-image: url(../img/back_hover.png);
}

#djDebug .djdt-panelContent dt, #djDebug .djdt-panelContent dd {
	display:block;
}

#djDebug .djdt-panelContent dt {
	margin-top:0.75em;
}

#djDebug .djdt-panelContent dd {
	margin-left:10px;
}

#djDebug a.toggleTemplate {
	padding:4px;
	background-color:#bbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#djDebug a.toggleTemplate:hover {
	padding:4px;
	background-color:#444;
	color:#ffe761;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}


#djDebug .djDebugSqlWrap {
	position:relative;
}

#djDebug .djDebugCollapsed {
    display: none;
    text-decoration: none;
    color: #333;
}

#djDebug .djDebugUncollapsed {
    color: #333;
    text-decoration: none;
}

#djDebug .djUnselected {
    display: none;
}
#djDebug tr.djHiddenByDefault {
    display: none;
}
#djDebug tr.djSelected {
    display: table-row;
}

#djDebug .djDebugSql {
	word-break:break-word;
	z-index:100000002;
}

#djDebug .djSQLDetailsDiv tbody th {
	text-align: left;
}

#djDebug .djSqlExplain td {
	white-space: pre;
}

#djDebug span.djDebugLineChart {
	background-color:#777;
	height:3px;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	display:block;
	z-index:1000000001;
}
#djDebug span.djDebugLineChartWarning {
	background-color:#900;
}

#djDebug .highlight  { color:#000; }
#djDebug .highlight .err { color:#000; } /* Error */
#djDebug .highlight .g { color:#000; } /* Generic */
#djDebug .highlight .k { color:#000; font-weight:bold } /* Keyword */
#djDebug .highlight .o { color:#000; } /* Operator */
#djDebug .highlight .n { color:#000; } /* Name */
#djDebug .highlight .mi { color:#000; font-weight:bold } /* Literal.Number.Integer */
#djDebug .highlight .l { color:#000; } /* Literal */
#djDebug .highlight .x { color:#000; } /* Other */
#djDebug .highlight .p { color:#000; } /* Punctuation */
#djDebug .highlight .m { color:#000; font-weight:bold } /* Literal.Number */
#djDebug .highlight .s { color:#333 } /* Literal.String */
#djDebug .highlight .w { color:#888888 } /* Text.Whitespace */
#djDebug .highlight .il { color:#000; font-weight:bold } /* Literal.Number.Integer.Long */
#djDebug .highlight .na { color:#333 } /* Name.Attribute */
#djDebug .highlight .nt { color:#000; font-weight:bold } /* Name.Tag */
#djDebug .highlight .nv { color:#333 } /* Name.Variable */
#djDebug .highlight .s2 { color:#333 } /* Literal.String.Double */
#djDebug .highlight .cp { color:#333 } /* Comment.Preproc */

#djDebug .djdt-timeline {
    width: 30%;
}
#djDebug .djDebugTimeline {
    position: relative;
    height: 100%;
    min-height: 100%;
}
#djDebug div.djDebugLineChart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}
#djDebug div.djDebugLineChart strong {
    text-indent: -10000em;
    display: block;
    font-weight: normal;
    vertical-align: middle;
    background-color:#ccc;
}

#djDebug div.djDebugLineChartWarning strong {
    background-color:#900;
}

#djDebug .djDebugInTransaction div.djDebugLineChart strong {
    background-color: #d3ff82;
}
#djDebug .djDebugStartTransaction div.djDebugLineChart strong {
    border-left: 1px solid #94b24d;
}
#djDebug .djDebugEndTransaction div.djDebugLineChart strong {
    border-right: 1px solid #94b24d;
}

#djDebug .djdt-panelContent ul.djdt-stats {
    position: relative;
    list-style-type: none;
}
#djDebug .djdt-panelContent ul.djdt-stats li {
    width: 30%;
    float: left;
}
#djDebug .djdt-panelContent ul.djdt-stats li strong.djdt-label {
    display: block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-color {
    height: 12px;
    width: 3px;
    display: inline-block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-info {
    display: block;
    padding-left: 5px;
}

#djDebug .djdt-panelContent thead th {
    white-space: nowrap;
}
#djDebug .djDebugRowWarning .djdt-time {
    color: red;
}
#djdebug .djdt-panelContent table .djdt-toggle {
    width: 14px;
    padding-top: 3px;
}
#djDebug .djdt-panelContent table .djdt-actions {
    min-width: 70px;
    white-space: nowrap;
}
#djdebug .djdt-panelContent table .djdt-color {
    width: 3px;
}
#djdebug .djdt-panelContent table .djdt-color span {
    width: 3px;
    height: 12px;
    overflow: hidden;
    padding: 0;
}
#djDebug .djToggleSwitch {
    text-decoration: none;
    border: 1px solid #999;
    height: 12px;
    width: 12px;
    line-height: 12px;
    text-align: center;
    color: #777;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
}
#djDebug .djNoToggleSwitch {
    height: 14px;
    width: 14px;
    display: inline-block;
}

#djDebug .djSQLDetailsDiv {
    margin-top:0.8em;
}
#djDebug pre {
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
	white-space: -pre-wrap;      /* Opera 4-6              */
	white-space: -o-pre-wrap;    /* Opera 7                */
	white-space: pre-wrap;       /* CSS-3                  */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: #555;
    border:1px solid #ccc;
    border-collapse:collapse;
    background-color:#fff;
    display:block;
    overflow: auto;
    padding:2px 3px;
    margin-bottom: 3px;
    font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}
#djDebug .djdt-stack span {
    color: #000;
    font-weight: bold;
}
#djDebug .djdt-stack span.djdt-path,
#djDebug .djdt-stack pre.djdt-locals,
#djDebug .djdt-stack pre.djdt-locals span {
    color: #777;
    font-weight: normal;
}
#djDebug .djdt-stack span.djdt-code {
    font-weight: normal;
}
#djDebug .djdt-stack pre.djdt-locals {
	margin: 0 27px 27px 27px;
}

#djDebug .djdt-width-20 {
    width: 20%;
}
#djDebug .djdt-width-60 {
    width: 60%;
}
#djDebug .djdt-highlighted {
    background-color: lightgrey;
}
.djdt-hidden {
    display: none;
}
/* http://www.positioniseverything.net/easyclearing.html */
#djDebug .djdt-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#djDebug .djdt-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
#djDebug .djdt-clearfix {display: block;}
* html #djDebug .djdt-clearfix {height: 1%;}
/* end hide from IE-mac */

/* Debug Toolbar CSS Reset, adapted from Eric Meyer's CSS Reset */
#djDebug {color:#000;background:#FFF;}
#djDebug, #djDebug div, #djDebug span, #djDebug applet, #djDebug object, #djDebug iframe,
#djDebug h1, #djDebug h2, #djDebug h3, #djDebug h4, #djDebug h5, #djDebug h6, #djDebug p, #djDebug blockquote, #djDebug pre,
#djDebug a, #djDebug abbr, #djDebug acronym, #djDebug address, #djDebug big, #djDebug cite, #djDebug code,
#djDebug del, #djDebug dfn, #djDebug em, #djDebug font, #djDebug img, #djDebug ins, #djDebug kbd, #djDebug q, #djDebug s, #djDebug samp,
#djDebug small, #djDebug strike, #djDebug strong, #djDebug sub, #djDebug sup, #djDebug tt, #djDebug var,
#djDebug b, #djDebug u, #djDebug i, #djDebug center,
#djDebug dl, #djDebug dt, #djDebug dd, #djDebug ol, #djDebug ul, #djDebug li,
#djDebug fieldset, #djDebug form, #djDebug label, #djDebug legend,
#djDebug table, #djDebug caption, #djDebug tbody, #djDebug tfoot, #djDebug thead, #djDebug tr, #djDebug th, #djDebug td,
#djDebug button {
	margin:0;
	padding:0;
	min-width:0;
	width:auto;
	border:0;
	outline:0;
	font-size:12px;
	line-height:1.5em;
	color:#000;
	vertical-align:baseline;
	background-color:transparent;
	font-family:sans-serif;
	text-align:left;
	text-shadow: none;
	white-space: normal;
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#djDebug button, #djDebug a.button {
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eee, #cccccc);
	background-image: -moz-linear-gradient(top, #eee, #cccccc);
	background-image: -ms-linear-gradient(top, #eee, #cccccc);
	background-image: -o-linear-gradient(top, #eee, #cccccc);
	background-image: linear-gradient(top, #eee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	line-height: 1;
	padding: 0 8px;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
}

#djDebug button:hover, #djDebug a.button:hover {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
    background-image: -webkit-linear-gradient(top, #ddd, #bbb);
    background-image: -moz-linear-gradient(top, #ddd, #bbb);
    background-image: -ms-linear-gradient(top, #ddd, #bbb);
    background-image: -o-linear-gradient(top, #ddd, #bbb);
    background-image: linear-gradient(top, #ddd, #bbb);
    border-color: #bbb;
    border-bottom-color: #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

#djDebug button:active, #djDebug a.button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

#djDebug #djDebugToolbar {
	background-color:#111;
	width:200px;
	z-index:100000000;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	opacity:0.9;
	overflow-y: auto;
}

#djDebug #djDebugToolbar small {
	color:#999;
}

#djDebug #djDebugToolbar ul {
	margin:0;
	padding:0;
	list-style:none;
}

#djDebug #djDebugToolbar li {
	border-bottom:1px solid #222;
	color:#fff;
	display:block;
	font-weight:bold;
	float:none;
	margin:0;
	padding:0;
	position:relative;
	width:auto;
}

#djDebug #djDebugToolbar input[type=checkbox] {
	float: right;
	margin: 10px;
}

#djDebug #djDebugToolbar li>a,
#djDebug #djDebugToolbar li>div.djdt-contentless  {
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	display:block;
	font-size:16px;
	padding:10px 10px 5px 25px;
	color:#fff;
}
#djDebug #djDebugToolbar li>div.djdt-disabled {
	font-style: italic;
	color: #999;
}

#djDebug #djDebugToolbar li a:hover {
	color:#111;
	background-color:#ffc;
}

#djDebug #djDebugToolbar li.djdt-active {
	background: #333 no-repeat left center;
	background-image: url(../img/indicator.png);
	padding-left:10px;
}

#djDebug #djDebugToolbar li.djdt-active a:hover {
	color:#b36a60;
	background-color:transparent;
}

#djDebug #djDebugToolbar li small {
	font-size:12px;
	color:#999;
	font-style:normal;
	text-decoration:none;
	font-variant:small-caps;
}

#djDebug #djDebugToolbarHandle {
	position:fixed;
	background-color:#fff;
	border:1px solid #111;
	top:30px;
	right:0;
	z-index:100000000;
	opacity:0.75;
}

#djDebug #djShowToolBarButton {
	display:block;
	height:75px;
	width:30px;
	border-right:none;
	border-bottom:4px solid #fff;
	border-top:4px solid #fff;
	border-left:4px solid #fff;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-indent:-999999px;
	background: #000 no-repeat left center;
	background-image: url(../img/djdt_vertical.png);
	opacity:0.5;
}

#djDebug #djShowToolBarButton:hover {
	background-color:#111;
	border-top-color:#FFE761;
	border-left-color:#FFE761;
	border-bottom-color:#FFE761;
	cursor:move;
	opacity:1.0;
}

#djDebug code {
	display:block;
	font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
	font-size: 12px;
	white-space:pre;
	overflow:auto;
}

#djDebug .djDebugOdd {
	background-color:#f5f5f5;
}

#djDebug .djdt-panelContent {
	display:none;
	position:fixed;
	margin:0;
	top:0;
	right:200px;
	bottom:0;
	left:0px;
	background-color:#eee;
	color:#666;
	z-index:100000000;
}

#djDebug .djdt-panelContent > div {
	border-bottom:1px solid #ddd;
}

#djDebug .djDebugPanelTitle {
	position:absolute;
	background-color:#ffc;
	color:#666;
	padding-left:20px;
	top:0;
	right:0;
	left:0;
	height:50px;
}

#djDebug .djDebugPanelTitle code {
	display:inline;
	font-size:inherit;
}

#djDebug .djDebugPanelContent {
	position:absolute;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	height:auto;
	padding:5px 0 0 20px;
}

#djDebug .djDebugPanelContent .djdt-loader {
	display:block;
	margin:80px auto;
}

#djDebug .djDebugPanelContent .djdt-scroll {
	height:100%;
	overflow:auto;
	display:block;
	padding:0 10px 0 0;
}

#djDebug h3 {
	font-size:24px;
	font-weight:normal;
	line-height:50px;
}

#djDebug h4 {
	font-size:20px;
	font-weight:bold;
	margin-top:0.8em;
}

#djDebug .djdt-panelContent table {
	border:1px solid #ccc;
	border-collapse:collapse;
	width:100%;
	background-color:#fff;
	display:table;
	margin-top:0.8em;
	overflow: auto;
}
#djDebug .djdt-panelContent tbody td,
#djDebug .djdt-panelContent tbody th {
	vertical-align:top;
	padding:2px 3px;
}
#djDebug .djdt-panelContent tbody td.djdt-time {
    text-align: center;
}

#djDebug .djdt-panelContent thead th {
	padding:1px 6px 1px 3px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
    white-space: nowrap;
}
#djDebug .djdt-panelContent tbody th {
	width:12em;
	text-align:right;
	color:#666;
	padding-right:.5em;
}

#djDebug .djTemplateContext {
	background-color:#fff;
}

/*
#djDebug .djdt-panelContent p a:hover, #djDebug .djdt-panelContent dd a:hover {
	color:#111;
	background-color:#ffc;
}

#djDebug .djdt-panelContent p {
	padding:0 5px;
}

#djDebug .djdt-panelContent p, #djDebug .djdt-panelContent table, #djDebug .djdt-panelContent ol, #djDebug .djdt-panelContent ul, #djDebug .djdt-panelContent dl {
	margin:5px 0 15px;
	background-color:#fff;
}
#djDebug .djdt-panelContent table {
	clear:both;
	border:0;
	padding:0;
	margin:0;
	border-collapse:collapse;
	border-spacing:0;
}

#djDebug .djdt-panelContent table a {
	color:#000;
	padding:2px 4px;
}
#djDebug .djdt-panelContent table a:hover {
	background-color:#ffc;
}

#djDebug .djdt-panelContent table th {
	background-color:#333;
	font-weight:bold;
	color:#fff;
	padding:3px 7px 3px;
	text-align:left;
	cursor:pointer;
}
#djDebug .djdt-panelContent table td {
	padding:5px 10px;
	font-size:14px;
	background-color:#fff;
	color:#000;
	vertical-align:top;
	border:0;
}
#djDebug .djdt-panelContent table tr.djDebugOdd td {
  background-color:#eee;
}
*/

#djDebug .djdt-panelContent .djDebugClose {
	display:block;
	position:absolute;
	top:4px;
	right:15px;
	height:40px;
	width:40px;
	background: no-repeat center center;
	background-image: url(../img/close.png);
}

#djDebug .djdt-panelContent .djDebugClose:hover {
	background-image: url(../img/close_hover.png);
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack {
	background-image: url(../img/back.png);
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack:hover  {
	background-image: url(../img/back_hover.png);
}

#djDebug .djdt-panelContent dt, #djDebug .djdt-panelContent dd {
	display:block;
}

#djDebug .djdt-panelContent dt {
	margin-top:0.75em;
}

#djDebug .djdt-panelContent dd {
	margin-left:10px;
}

#djDebug a.toggleTemplate {
	padding:4px;
	background-color:#bbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#djDebug a.toggleTemplate:hover {
	padding:4px;
	background-color:#444;
	color:#ffe761;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}


#djDebug .djDebugSqlWrap {
	position:relative;
}

#djDebug .djDebugCollapsed {
    display: none;
    text-decoration: none;
    color: #333;
}

#djDebug .djDebugUncollapsed {
    color: #333;
    text-decoration: none;
}

#djDebug .djUnselected {
    display: none;
}
#djDebug tr.djHiddenByDefault {
    display: none;
}
#djDebug tr.djSelected {
    display: table-row;
}

#djDebug .djDebugSql {
	word-break:break-word;
	z-index:100000002;
}

#djDebug .djSQLDetailsDiv tbody th {
	text-align: left;
}

#djDebug .djSqlExplain td {
	white-space: pre;
}

#djDebug span.djDebugLineChart {
	background-color:#777;
	height:3px;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	display:block;
	z-index:1000000001;
}
#djDebug span.djDebugLineChartWarning {
	background-color:#900;
}

#djDebug .highlight  { color:#000; }
#djDebug .highlight .err { color:#000; } /* Error */
#djDebug .highlight .g { color:#000; } /* Generic */
#djDebug .highlight .k { color:#000; font-weight:bold } /* Keyword */
#djDebug .highlight .o { color:#000; } /* Operator */
#djDebug .highlight .n { color:#000; } /* Name */
#djDebug .highlight .mi { color:#000; font-weight:bold } /* Literal.Number.Integer */
#djDebug .highlight .l { color:#000; } /* Literal */
#djDebug .highlight .x { color:#000; } /* Other */
#djDebug .highlight .p { color:#000; } /* Punctuation */
#djDebug .highlight .m { color:#000; font-weight:bold } /* Literal.Number */
#djDebug .highlight .s { color:#333 } /* Literal.String */
#djDebug .highlight .w { color:#888888 } /* Text.Whitespace */
#djDebug .highlight .il { color:#000; font-weight:bold } /* Literal.Number.Integer.Long */
#djDebug .highlight .na { color:#333 } /* Name.Attribute */
#djDebug .highlight .nt { color:#000; font-weight:bold } /* Name.Tag */
#djDebug .highlight .nv { color:#333 } /* Name.Variable */
#djDebug .highlight .s2 { color:#333 } /* Literal.String.Double */
#djDebug .highlight .cp { color:#333 } /* Comment.Preproc */

#djDebug .djdt-timeline {
    width: 30%;
}
#djDebug .djDebugTimeline {
    position: relative;
    height: 100%;
    min-height: 100%;
}
#djDebug div.djDebugLineChart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}
#djDebug div.djDebugLineChart strong {
    text-indent: -10000em;
    display: block;
    font-weight: normal;
    vertical-align: middle;
    background-color:#ccc;
}

#djDebug div.djDebugLineChartWarning strong {
    background-color:#900;
}

#djDebug .djDebugInTransaction div.djDebugLineChart strong {
    background-color: #d3ff82;
}
#djDebug .djDebugStartTransaction div.djDebugLineChart strong {
    border-left: 1px solid #94b24d;
}
#djDebug .djDebugEndTransaction div.djDebugLineChart strong {
    border-right: 1px solid #94b24d;
}

#djDebug .djdt-panelContent ul.djdt-stats {
    position: relative;
    list-style-type: none;
}
#djDebug .djdt-panelContent ul.djdt-stats li {
    width: 30%;
    float: left;
}
#djDebug .djdt-panelContent ul.djdt-stats li strong.djdt-label {
    display: block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-color {
    height: 12px;
    width: 3px;
    display: inline-block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-info {
    display: block;
    padding-left: 5px;
}

#djDebug .djdt-panelContent thead th {
    white-space: nowrap;
}
#djDebug .djDebugRowWarning .djdt-time {
    color: red;
}
#djdebug .djdt-panelContent table .djdt-toggle {
    width: 14px;
    padding-top: 3px;
}
#djDebug .djdt-panelContent table .djdt-actions {
    min-width: 70px;
    white-space: nowrap;
}
#djdebug .djdt-panelContent table .djdt-color {
    width: 3px;
}
#djdebug .djdt-panelContent table .djdt-color span {
    width: 3px;
    height: 12px;
    overflow: hidden;
    padding: 0;
}
#djDebug .djToggleSwitch {
    text-decoration: none;
    border: 1px solid #999;
    height: 12px;
    width: 12px;
    line-height: 12px;
    text-align: center;
    color: #777;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
}
#djDebug .djNoToggleSwitch {
    height: 14px;
    width: 14px;
    display: inline-block;
}

#djDebug .djSQLDetailsDiv {
    margin-top:0.8em;
}
#djDebug pre {
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
	white-space: -pre-wrap;      /* Opera 4-6              */
	white-space: -o-pre-wrap;    /* Opera 7                */
	white-space: pre-wrap;       /* CSS-3                  */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: #555;
    border:1px solid #ccc;
    border-collapse:collapse;
    background-color:#fff;
    display:block;
    overflow: auto;
    padding:2px 3px;
    margin-bottom: 3px;
    font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}
#djDebug .djdt-stack span {
    color: #000;
    font-weight: bold;
}
#djDebug .djdt-stack span.djdt-path,
#djDebug .djdt-stack pre.djdt-locals,
#djDebug .djdt-stack pre.djdt-locals span {
    color: #777;
    font-weight: normal;
}
#djDebug .djdt-stack span.djdt-code {
    font-weight: normal;
}
#djDebug .djdt-stack pre.djdt-locals {
	margin: 0 27px 27px 27px;
}

#djDebug .djdt-width-20 {
    width: 20%;
}
#djDebug .djdt-width-60 {
    width: 60%;
}
#djDebug .djdt-highlighted {
    background-color: lightgrey;
}
.djdt-hidden {
    display: none;
}
