{% extends 'base_georef.html' %}

{% load static %}

{% block body_block %}
{#<style>#}
{#    .ref {#}
{#        border-top-width: 3px;#}
{#        border-right-width: 3px;#}
{#        border-bottom-width: 3px;#}
{#        border-left-width: 3px;#}
{#        border-top-style: dotted;#}
{#        border-right-style: dotted;#}
{#        border-bottom-style: dotted;#}
{#        border-left-style: dotted;#}
{#        border-top-color: green;#}
{#        border-right-color: green;#}
{#        border-bottom-color: green;#}
{#        border-left-color: green;#}
{#    }#}
{#</style>#}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
                <h2>Listado de Noticias</h2>
                    <a class="btn btn-primary btn-sm" href="{% url 'noticias:menu_comunicaciones' %}">Volver al Menú Anterior</a>
            <br /><br />
            </div>
{#            <div class="col col-md-2 ref">#}
{#                <h5>Referencias:</h5>#}
{#                <p style="font-size: 80%;"><img class="icons" src="{% static '/img/icons/ver.png' %}" style="width: 10%;">   Detalles#}
{#                </p>#}
{#                <p style="font-size: 80%;"><img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 10%;">   Editar#}
{#                <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 10%;">   Eliminar</p>#}
{#            </div>#}
        </div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'noticias:crear_noticias' %}">
                        Crear Noticia
                        <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                    </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for noticia in noticias %}
                        <tr>
                            <td>{{noticia.titulo}}</td>
                            <td>
                                <a title="Ver Noticia" href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a title="Editar" href="{% url 'noticias:mod_noticias' noticia_id=noticia.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a title="Eliminar" href="{% url 'noticias:delete_noticias' noticia_id=noticia.id %}">
                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
