{% extends 'base_noticias.html' %} 

{% load static %}
{% load embed_video_tags %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticia.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="noticias container">
        <div class="row main_noticias">
            <div class="col-sm-12">
                <div class="noticia">
                    <div class="row">
                        <br>
                        <p class="fecha">{{noticia.fecha|date:"d M, Y" }}</p>
                        <hr>
                        <h1 class="titulo">{{noticia.titulo}}</h1>
                        <h4 class="copete">{{noticia.copete}}</h4>
                    </div>
                    <div class="row">
                        {% for foto in noticia.fotos.all %}
                            <img src="{{foto.archivo.url}}">
                            <p class="epigrafe"><b>{{foto.titulo}}:</b> {{foto.epigrafe}}</p>
                        {% endfor %}
                    </div>
                    <div class="row">
                    {% if noticia.video_archivo %}
                        <video width="500" height="355" controls>
                            <source src="{{noticia.video_archivo.url}}" type="video/mp4">
                            Su navegador no puede reproducir este video
                        </video>
                    {% endif %}
                    {% if noticia.video_online %}
                        {% video noticia.video_online '500x355' %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-9 cuerpo">
                            {{ noticia.cuerpo|safe }}
                        </div>
                        <div class="col-sm-3 fuente">
                            <b>Link a la Fuente:<b>
                            <hr>
                            {% if noticia.fuente %}
                            <a class="nolink" href="{{noticia.fuente}}" target="_blank">{{noticia.fuente|truncatechars:50}}</a>
                            {% endif %}
                            <br><br>
                            <b>Compartir esta Nota:<b>
                            <br>
                            <div style="float:right;">
                                <div class="fb-share-button"
                                    data-href="https://cannava.com.ar{{request.path}}"
                                    data-layout="button"
                                    style="margin-bottom:5px;">
                                </div>
                                <br>
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                                    class="twitter-share-button"
                                    data-show-count="false"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}