{% extends 'base_noticias.html' %} 

{% block body_block %}
    <div class="noticias container">
        <div class="row main_noticias">
            <br>
            <div class="col-sm-8">
                <h1><b>Ultimas Noticias</b></h1>
                <p class="etiqueta">
                    Etiquetas mas usadas:
                    {% for etiqueta in etiquetas %}
                        <a href="{% url 'noticias:buscar_etiqueta' tag_id=etiqueta.id %}">{{etiqueta.name|title}}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-sm-4">
                {% include 'extras/buscador_noticias.html' %}
            </div>
            <div class="col-sm-12">
                <hr>
                {% if noticias %}
                    <div class="lista-noticias container">
                        <ul>
                            {% for noticia in noticias %}
                            <li class="noticias">
                                <div class=row>
                                    <div class="col-sm-4 foto">
                                        <a class="novedad-link" href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                                                <img src="{{noticia.get_portada}}">
                                        </a>
                                    </div>
                                    <div class="col-sm-8 info">
                                        <p class="fecha">{{noticia.fecha|date:"d M, Y" }}</p>
                                        <hr class="blanca">
                                        <h2 class="titulo"><b>{{noticia.titulo}}</b></h2>
                                        <p>{{ noticia.cuerpo|truncatechars:400|safe }}</p>
                                        <hr class="blanca">
                                        <p>
                                            <a href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                                                <b>Seguir Leyendo</b>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <hr>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="aviso_faltadata">
                        <h2>No se han cargado noticias destacadas</h2>
                        <p>Por favor comience a agregar contenido <a href="{% url 'admin:noticias_noticia_add' %}">aqui</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div> 
{% endblock %}