{% extends 'sistema/base.html' %}

{% block body_block %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <p class="texto">{{message|safe}}</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <p class="texto"><b>¿Seguro desea continuar?</b></p>
                <div class="col-6 mx-auto">
                    <div class="btn-group mx-4">
                        <button class="btn btn-outline-success" type="button" value="Cancelar" onclick="history.back()">Cancelar</button>
                    </div>
                    <div class="btn-group mx-4">
                        <button class="btn btn-outline-success" type="submit">Confirmar</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
{% endblock %}