{% extends 'sistema/base.html' %}
{% load static %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container informacion_basica">
                <div class="row">
                    <img src="{% static 'img/CONSTRUCCION.jpg' %}"></img>
                    <a href="javascript:history.back()"><p>Volver a la pagina anterior</p></a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}