{% load static %}
{% load form_tags %}

{% block custom_head %}

{% endblock %}

{% block body_block %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in form.visible_fields %}

                    {% abrir_alineado form field as abrir %}
                    {% if abrir %}
                        <div class="row">
                    {% endif %}

                        {% calcular_ancho form field as ancho %}
                        <div class="col-sm-{{ancho}} no-padding enlinea">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% cerrar_alineado form field as cerrar %}
                    {% if cerrar %}
                        </div>
                    {% endif %}

                {% endfor %}
                <br>
                {% for error in form.non_field_errors %}
                    <p class="error">
                        {{error|escape}}
                    </p>
                {% endfor %}
                <p>{{message}}</p>
                <br>
                <div class="row">
                    <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="submit">{{boton}}</button>
                        </div>
                    <div class="col-md-3">
                        <a href="javascript:history.back()"><button type="button">Cancelar</button></a>
                    </div>
                </div>
            </form>
        </section>
    </section>
{% endblock %}
