{% extends 'sistema/base.html' %}

{% load static %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gmaps.css' %}" />
    <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key={{gkey}}&callback=initMap">
    </script>
{% endblock %}

{% block body_block %}
    <section class="formulario">
        <section class="formulario-container container">
            <div class="row gmaps">
                <div class="col-sm-12">
                    <h2><b>Seleccione la GeoLocalizacion:</b></h2>
                    <p><b>Objetivo:</b> {{objetivo}}</p>
                    <hr>
                    <form id="frmPadron" name="frmPadron" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="map_window" id="minimap"></div>
                        <label>Coordenadas:</label>
                        <p class="campo"><label>Latitud:</label><input name="latitud"></p>
                        <p class="campo"><label>Longitud:</label><input name="longitud"></p>
                        <hr>
                        <p class="field_tittle" >Observaciones</p>
                        <input class="textbox" name="observaciones" type="text">
                        <button class="gmboton" type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static 'js/gmap_form.js' %}"></script>
{% endblock %}
