{% load static %}
{% load form_tags %}

{% block custom_head %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link href="{% static 'css/admin.css' %}" type="text/css" media="all" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/formset.css' %}">-->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/inlines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/inlines.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
<style type="text/css">
    .letra {
        color: white;
        font-size: 16px;
    }
</style>
{% endblock %}

{% block body_block %}
<br><br>
    <div class="container" style="background-color: var(--color_primario); 
        font-family: Arial;
        border-radius: 10px;">
        <div class="container-md-10">
            <h2 
                style="background-color: purple; 
                color: white;
                text-align: center;
                border-radius: 5px;">
                Crear Noticia</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Título: </label></div>
                    <div class="col-md-auto">
                    {{ form.titulo }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Copete: </label></div>
                    <div class="col-md-auto">
                    {{ form.copete }}<br></div>
                </div><br>
                <h3
                style="background-color: purple;
                color: white;
                text-align: center;
                border-radius: 5px;">
                Fotos</h3>
                <div style="color: white;" ><br>
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center; font-weight: bold;">Tipo</th>
                                <th style="text-align: center; font-weight: bold;">Título</th>
                                <th style="text-align: center; font-weight: bold;">Epígrafe</th>
                                <th style="text-align: center; font-weight: bold;">Archivo</th>
                                <th style="text-align: center; font-weight: bold;">Eliminar?</th>
                            </tr>
                        </thead>
                        {% for foto in formset %}
                        <tbody>
                            <td style="color: black;">{{ foto.tipo }}</td>
                            <td style="color: black;">{{ foto.titulo }}</td>
                            <td style="color: black;">{{ foto.epigrafe }}</td>
                            <td>{{ foto.archivo }}</td>
                            <td>{{ foto.DELETE }} Sí</td>
                        </tbody>

                        {% endfor %}

                    </table>
      <br>
                    <button type="button" class="btn btn-primary"
                            onclick="#">Agregar Foto/Imagen</button>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">URL del Video: (opcional) </label></div>
                    <div class="col-md-auto">
                    {{ form.video_online }}<br></div>
                </div><br><div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Subir Video: (opcional)</label></div>
                    <div class="col-md-auto">
                    {{ form.video_archivo }}<br></div>
                </div><br><div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Etiquetas: </label></div>
                    <div class="col-md-auto">
                    {{ form.etiquetas }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Cuerpo: </label></div>
                    <div class="col-lg-10">
                    {{ form.cuerpo | safe }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">URL de la Noticia Fuente: </label></div>
                    <div class="col-md-auto">
                    {{ form.fuente }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Fecha: </label></div>
                    <div class="col-md-auto">
                    {{ form.fecha }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Autor: </label></div>
                    <div class="col-md-auto">
                    {{ form.autor }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Destacada: </label></div>
                    <div class="col-md-auto">
                    {{ form.destacada }}<br></div>
                </div><br>
                <div class="row">
                    <div class="col-lg-2">
                    <label class="letra">Activa: </label></div>
                    <div class="col-md-auto">
                    {{ form.activa }}<br></div>
                </div><br>
                <p>{{message}}</p>
                <br>
                <button class="btn"
                    style="background-color: purple;
                    color: white;
                    text-align: center;"
                    type="submit">{{boton}}</button><br><br>
            </form>
        </div>
    </div>

    <div id="djDebugWindow" class="djdt-panelContent"></div>
{% endblock %}

