{% block body_block %}
    {% if elementos.has_other_pages %}
        <ul class="pagination">
            {% if elementos.has_previous %}
                <li><a href="?page={{ elementos.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in elementos.paginator.page_range %}
                {% if elementos.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if elementos.has_next %}
                <li><a href="?page={{ elementos.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}