{% extends 'sistema/base.html' %}

{% block title %}Resultado{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4  col-sm-offset-4">
                <h2>{{texto}}</h2>
            </div>
        </div>
    </div>
{% endblock %}