{% load static %}

{% block body_block %}
    {% if perms.operadores.menu_inventario %}
        <a class="botoncito" href="{% url 'inventario:crear_rubro' %}">
            Crear Rubro
            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Rubro">
        </a>
        <a class="botoncito" href="{% url 'inventario:crear_item' %}">
            Crear Item
            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Item">
        </a><br>
    {% endif %}
{% endblock %}