{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Inventario Detallado: </h2><br>
            <a class="btn btn-primary btn-sm" href="{% url 'core:menu' %}">Volver al Menú</a>
            <br><br>
            </div></div>
        <div class="row">
        <div class="col-md-12">
            {% include 'abm_inventario.html' %}
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Rubro</th>
                        <th>Nombre</th>
                        <th>Identificador</th>
                        <th>Cantidad Utilizada</th>
                        <th>Cantidad Disponible</th>
                        <th>Administrador</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.rubro}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.identificador}}</td>
                            <td>{{item.cantidad_distribuida}}{{item.get_medida_display}}</td>
                            <td>{{item.cantidad_disponible}}{{item.get_medida_display}}</td>
                            <td>{{item.responsable}}</td>
                            <td>
                                <a href="{% url 'inventario:ver_item' item_id=item.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}