{% extends 'base_inventario.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Inventario:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.inventario_admin %}
                                <li><a href="{% url 'inventario:lista_items'  %}">Ver Listado de Items</a></li>
                                <hr>
                                <li><a href="{% url 'inventario:crear_rubro' %}">Crear Rubro</a></li>
                                <li><a href="{% url 'inventario:crear_item'  %}">Cargar Item</a></li>
<!--                                <hr>-->
<!--                                <li><a href="{% url 'inventario:menu_semillas' %}">Sección Semillas</a></li>-->
                            {% endif %}
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}