{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2><b>{{item.nombre}}<b/></h2>
                        <p>Identificador: {{item.identificador}}</p>
                        <p>Rubro: {{item.rubro}}</p>
                        <p>Cantidad Inicial: {{item.cantidad|floatformat:"0"}}{{item.get_medida_display}}</p>
                        <p>Cantidad Disponible: {{item.cantidad_disponible|floatformat:"0"}}{{item.get_medida_display}}</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Responsable</h2>
                        <p>Operador: {{item.responsable}}</p>
                        <p>Telefono: {{item.responsable.telefono}}</p>
                        <p>Email: {{item.responsable.email}}</p>
                        <input class="btn btn-primary" type="button" value="Volver al Menú Anterior" onclick="history.back()">
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'inventario:mod_item' item_id=item.id %}">Modificar Datos Basicos</a></li>
                            <li><a href="{% url 'inventario:cargar_caracteristica' item_id=item.id %}">Agregar Caracteristica</a></li>
                            <li><a href="{% url 'inventario:crear_evento' item_id=item.id %}">Cargar Movimiento</a></li>
                            {% if item.tipo == "SEM" %}
                                {% if item.cantidad_disponible > 0 %}
                                    <li><a href="{% url 'produccion:germinar' semilla_id=item.id %}">Germinar</a></li>
                                {% endif %}
                            {% endif %}
                            <li><a href="{% url 'inventario:clonar_item' item_id=item.id %}">Copiar Item</a></li>
                            <li><a href="{% url 'inventario:eliminar_item' item_id=item.id %}">Eliminar Recursos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {% for caracteristica in item.caracteristicas.all %}
                        {% if forloop.first %}
                            <h2>Caracteristicas</h2>
                        {% endif %}
                        <div class="col-md-2" style="text-align:center;">
                            <a class="nolink" href="{% url 'inventario:mod_caracteristica' caracteristica_id=caracteristica.id %}" target="_blank">
                                <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar" style="float:right;">
                            </a>
                            <p>
                                <b>{{caracteristica.get_tipo_display}}:</b> 
                                {{caracteristica.valor|floatformat:1}}{{caracteristica.get_medida_display}}
                            </p>
                            <p>{% if caracteristica.aclaracion %}{{caracteristica.aclaracion}}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Tabla de Sintomas Registrados-->
                        {% for evento in item.eventos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Eventos:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Accion</th>
                                        <th>Cantidad</th>
                                        <th>Operador</th>
                                        <th>Aclaracion</th>
                                        {% if user.is_superuser %}
                                            <th>Accion</th>
                                        {% endif %}
                                    </tr>
                            {% endif %}

                            <tr>
                                <td>{{evento.fecha}}</td>
                                <td>{{evento.get_accion_display}}</td>
                                <td>{{evento.cantidad}}{{item.get_medida_display}}</td>
                                <td>{{evento.operador}}</td>
                                <td>{{evento.aclaracion|safe}}</td>
                                {% if user.is_superuser %}
                                    <td>
                                        <a href="{% url 'inventario:del_evento' evento_id=evento.id %}" target="_blank">
                                            <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}