{% extends 'base_georef.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Recipientes</h2>
{#            {% if perms.operadores.menu_georef %}#}
                <a class="btn btn-primary btn-sm" href="{% url 'georef:menu' %}">Volver al Menú Anterior</a>
{#            {% endif %}#}
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'georef:crear_recipiente' %}">
                    Crear Recipiente
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Capacidad (Litros)</th>
                        <th>Capacidad (Plantas / Si corresponde)</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipiente in recipientes %}
                        <tr>
                            <td>{{recipiente.codigo}}</td>
                            <td>{{recipiente.nombre}}</td>
                            <td>{{recipiente.tipo}}</td>
                            <td>{{recipiente.marca}}</td>
                            <td>{{recipiente.modelo}}</td>
                            <td>{{recipiente.litros}}</td>
                            <td>{{recipiente.cant}}</td>
                            <td>{{recipiente.observaciones}}</td>
                            <td>
                                <a href="{% url 'georef:mod_recipiente' recipiente_id=recipiente.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a href="{% url 'georef:delete_recipiente' recipiente_id=recipiente.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}