{% extends 'base_georef.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Almacenes</h2>
{#            {% if perms.operadores.menu_georef %}#}
                <a class="btn btn-primary btn-sm" href="{% url 'georef:menu' %}">Volver al Menú Anterior</a>
{#            {% endif %}#}
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'georef:crear_almacen' %}">
                    Crear Almacen
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Ubicacion</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for almacen in almacenes %}
                        <tr>
                            <td>{{almacen.codigo}}</td>
                            <td>{{almacen.division}}</td>
                            <td>{{almacen.nombre}}</td>
                            <td>{{almacen.tipo}}</td>
                            <td>{{almacen.observaciones}}</td>
                            <td>
                                <a href="{% url 'georef:mod_almacen' almacen_id=almacen.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a href="{% url 'georef:delete_almacen' almacen_id=almacen.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}