{% extends 'base_georef.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Barrios</h2>
            {% if perms.operadores.menu_georef %}
                <a class="botoncito" href="{% url 'georef:crear_barrio' %}">
                    Crear Barrio
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a><br>
                <a class="btn btn-primary btn-sm float-right" href="{% url 'georef:submenu_georef' %}">Volver al Menú Anterior</a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Nacion</th>
                        <th>Provincia</th>
                        <th>Departamento</th>
                        <th>Localidad</th>
                        <th>Nombre</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for barrio in barrios %}
                        <tr>
                            <td>{{barrio.localidad.departamento.provincia.nacion}}</td>
                            <td>{{barrio.localidad.departamento.provincia}}</td>
                            <td>{{barrio.localidad.departamento}}</td>
                            <td>{{barrio.localidad}}</td>
                            <td>{{barrio}}</td>
                            <td>
                                <a href="{% url 'georef:mod_barrio' barrio_id=barrio.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a href="{% url 'georef:delete_barrio' barrio_id=barrio.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}