{% extends 'base_georef.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Nacionalidades</h2>
            {% if perms.operadores.menu_georef %}
                <a class="botoncito" href="{% url 'georef:crear_nacionalidad' %}">
                    Crear Nacionalidad
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a><br>
                <a class="btn btn-primary btn-sm float-right" href="{% url 'georef:submenu_georef' %}">Volver al Menú Anterior</a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Contacto</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nacionalidad in nacionalidades %}
                        <tr>
                            <td>{{nacionalidad.nombre}}</td>
                            <td>{{nacionalidad.contacto}}</td>
                            <td>
                                <a href="{% url 'georef:mod_nacionalidad' nacionalidad_id=nacionalidad.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a href="{% url 'georef:delete_nacionalidad' nacionalidad_id=nacionalidad.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}