{% extends 'base_georef.html' %}

{% load static %}
{% load auditar_tags %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Listado de Recipientes (Contenedores)</h2>
                {% if perms.operadores.menu_georef %}
                    <a class="botoncito" href="{% url 'georef:crear_sububicacion' %}">
                        Ingresar recipiente
                        <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                    </a><br>
                <a class="btn btn-primary btn-sm float-right" href="{% url 'georef:menu' %}">Volver al Menú Anterior</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Identificador</th>
                            <th>Capacidad</th>
{#                            <th>Ocupacion</th>#}
{#                            <th>Estado</th>#}
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ubicacion in ubicaciones %}
{#                        {% if not ubicacion.tipo == 'BDJ' %}#}
                            <tr>
                                <td>{{ubicacion.get_tipo_display}}</td>
                                <td>{{ubicacion.identificador}}</td>
                                <td>{{ubicacion.capacidad}}</td>
{#                                <td>{{ubicacion.ocupaciones}}</td>#}
{#                                <td>#}
{#                                    {% if ubicacion.disponible %}#}
{#                                        Disponible#}
{#                                    {% else %}#}
{#                                        Ocupado Totalmente#}
{#                                    {% endif %}#}
{#                                </td>#}
                                <td>
                                    <a href="{% url 'georef:ver_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                    <a href="{% url 'georef:mod_sububicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if ubicacion.latitud and ubicacion.longitud %}
                                        <a href="https://www.google.com/maps?q={{ubicacion.latitud|stringformat:".5f"}},{{ubicacion.longitud|stringformat:".5f"}}" target="_blank" class="nolink">
                                            <img class="icons" src="{% static '/img/icons/map.png' %}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'georef:geopos_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                            <img class="icons" src="{% static '/img/icons/nomap.png' %}">
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'georef:copiar_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/copy.png' %}">
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'georef:delete_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                    <a class="nolink"  href="{% ct_auditar_obj_url ubicacion %}">
                                        <img class="icons" src="{% static '/img/icons/question.png' %}">
                                    </a>
                                </td>
                            </tr>
{#                            {% endif %}#}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}