{% extends 'base_georef.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Ubicaciones:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.georef_admin %}
                                <li><a href="{% url 'georef:lista_predio' %}">Establecimientos / Predios</a></li>
                                <li><a href="{% url 'georef:lista_instalaciones' %}">Instalaciones</a></li>
                                <li><a href="{% url 'georef:lista_divisiones' %}">Sub-Instalaciones / Divisiones</a></li>
                                <li><a href="{% url 'georef:lista_almacenes' %}">Almacenes</a></li>
                                <li><a href="{% url 'georef:lista_recipientes' %}">Recipientes / Contenedores</a></li>
                            {% endif %}
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                        <a class="btn btn-primary btn-sm float-right" href="{% url 'core:menu' %}">Volver al Menú</a>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}