{% extends 'base_georef.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu GeoReferencias:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.georef_admin %}
                                <li><a href="{% url 'georef:lista_nacionalidades'  %}">Listado Nacionalidades</a></li>
                                <li><a href="{% url 'georef:lista_provincias'  %}">Listado Provincias</a></li>
                                <li><a href="{% url 'georef:lista_departamentos'  %}">Listado Departamentos</a></li>
                                <li><a href="{% url 'georef:lista_localidades'  %}">Listado Localidades</a></li>
                                <li><a href="{% url 'georef:lista_barrios'  %}">Listado Barrios</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                        <a class="btn btn-primary btn-sm float-right" href="{% url 'georef:menu' %}">Volver al Menú</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}