{% extends 'base_georef.html' %}

{% load static %}
{% load auditar_tags %}
{% load tz %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h2>Ubicacion: {{ubicacion.identificador}}</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <h3>
                                    Tipo:<b> {{ubicacion.get_tipo_display}}</b>
                                    {% if ubicacion.disponible %}
                                        (Disponible)
                                    {% endif %}
                                </h3>
                                {% if ubicacion.calle %}
                                    <p><b>Domicilio:</b> {{ubicacion.calle}} {{ubicacion.numero}}, {{ubicacion.localidad}}</p>
                                {% endif %}
                                {% if ubicacion.latitud and ubicacion.longitud %}
                                    <p><b>Geoposicion:</b>
                                        <a class="nolink"  href="https://www.google.com/maps?q={{ubicacion.latitud|stringformat:".5f"}},{{ubicacion.longitud|stringformat:".5f"}}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/map.png' %}">
                                        </a>
                                    </p>
                                {% else %}
                                    <p><b>Cargar Geoposicion:</b>
                                        <a class="nolink"  href="{% url 'georef:geopos_ubicacion' ubicacion_id=ubicacion.id %}" >
                                            <img class="icons" src="{% static '/img/icons/nomap.png' %}">
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if ubicacion.aclaracion %}
                                    <p><b>Aclaracion:</b></p>
                                    {{ubicacion.aclaracion|safe}}
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                {% with ubicacion.ubicacioneshistoricas.all as usos %}
                                    {% for uso in usos %}
                                        {% if forloop.first %}
                                            <hr>
                                            <h3>Usos:</h3>
                                            <table class="listado">
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Tipo</th>
                                                    <th>Identificador</th>
                                                    <th>Estado</th>
                                                    <th>Accion</th>
                                                </tr>
                                        {% endif %}

                                        <tr>
                                            <td>{{uso.fecha}}</td>
                                            <td>{{uso.objeto.get_tipo_display}}</td>
                                            <td>{{uso.objeto.identificador}}</td>
                                            <td>
                                                {% if uso.activa %}
                                                    ACTIVA
                                                {% else %}
                                                    DESOCUPADA
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                {% if uso.objeto %}
                                                    <a href="{% url 'produccion:ver_objeto' objeto_id=uso.objeto.id %}" target="_blank">
                                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% if forloop.last %}
                                            </table>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="menu_botones">
                                <li><a href="{% url 'georef:mod_ubicacion' ubicacion_id=ubicacion.id %}">Modificar ubicacion</a></li>
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'georef:delete_ubicacion' ubicacion_id=ubicacion.id %}">Eliminar Ubicacion</a></li>
                                {% endif %}
                                <li><a href="{% url 'georef:lista_ubicaciones' %}">Volver al Listado</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}