﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Plantas Destruidas:</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Lote destruido</th>
                        <th>Tipo de Lote</th>
                        <th>Variedad</th>
                        <th>Total de Plantas</th>
                        <th>Fecha de Movimiento</th>
                        <th>Responsable</th>
                        <th>Observaciones</th>
{#                        <th>Acciones</th>#}
                    </tr>
                </thead>
                <tbody>
                      {% for destruccion in destrucciones %}
                        <tr>
                            <td>{{ destruccion.codigo }}</td>
                            {% if destruccion.loteV %}
                                <td>{{ destruccion.loteV }}</td>
                                <td>{{ destruccion.loteV.lote.tipo }}</td>
                                <td>{{ destruccion.loteV.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                            {% elif destruccion.loteG %}
                                <td>{{ destruccion.loteG }}</td>
                                <td>{{ destruccion.loteG.lote.tipo }}</td>
                                <td>{{ destruccion.loteG.loteSemilla.semilla.variedad }}</td>
                            {% else %}
                                <td>{{ destruccion.loteF }}</td>
                                <td>{{ destruccion.loteF.lote.tipo }}</td>
                                <td>{{ destruccion.loteF.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                            {% endif %}

                            <td>{{ destruccion.cantidad }}</td>
                            <td>{{ destruccion.fecha }}</td>
                            <td>{{ destruccion.responsable }}</td>
                            <td>{{ destruccion.lote.observaciones }}</td>

{#                            <td>#}
{#                                <a title="Editar" href="{% url 'core:construccion' %}">#}
{#                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">#}
{#                                </a>#}
{#                                <a title="Eliminar" href="{% url 'core:construccion' %}">#}
{#                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">#}
{#                                </a>#}
{#                            </td>#}
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}