﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Lotes de Cosecha:</h2>
            <a class="btn btn-primary btn-sm float-right" href="">Volver al Menú Anterior</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Semilla</th>
                        <th>Plan Productivo</th>
                        <th>Cosecha</th>
                        <th>Estado</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {#  {% for objeto in objetos %}  #}
                        <tr>
                            <td></td>
                            <td>
{#                                {% for semilla in objeto.semillas.all %}#}
{#                                    {{semilla}}#}
{#                                {% endfor %}#}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
{#                                <!--<a href="{#   {% url 'produccion:ver_objeto' objeto_id=objeto.id %}">#}
{#                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">#}
{#                                </a>#}
{#                                {% if perms.operadores.produccion_admin %}#}
{#                                    <a href="{% url 'produccion:eliminar_objeto' objeto_id=objeto.id %}">#}
{#                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">#}
{#                                    </a>#}
{#                                {% endif %}  #}  -->#}
                            </td>
                        </tr>
                    {#   {% endfor %}   #}
                </tbody>
            </table>
        </div>
    </div>
   {% endblock %}