﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Lote de Semillas:</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            </div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'cultivo:loteSemillasCreate' %}">
                Ingresar Lote de Semilla
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Variedad</th>
                        <th>Origen</th>
                        <th>Peso Inicial</th>
                        <th>Peso Actual</th>
                        <th>Fecha de Movimiento</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                      {% for semilla in semillas %}
                        <tr>
                            <td>{{ semilla.codigo }}</td>
                            <td>{{ semilla.semilla.variedad }}</td>
                            <td>{{ semilla.semilla.origen }}</td>
                            <td>{{ semilla.pesoInicial }}</td>
                            <td>{{ semilla.pesoActual }}</td>
                            <td>{{ semilla.lote.fechaMovimiento }}</td>
                            <td>{{ semilla.lote.estado }}</td>
                            <td>{{ semilla.responsable }}</td>
                            <td>
                                <a title="Ver Detalle" href="{% url 'cultivo:loteSemillasDetalle' pk=semilla.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a title="Editar" href="{% url 'cultivo:loteSemillasUpdate' pk=semilla.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a title="Eliminar" href="{% url 'cultivo:loteSemillasDelete' pk=semilla.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}