﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Lotes de Plantas Madre:</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'cultivo:loteMadreCreate' pk=0 %}">
                Ingresar Lote de Plantas Madre
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Variedad</th>
                        <th>Stock Actual</th>
                        <th>Tipo de recipiente</th>
                        <th>Fecha de Movimiento</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                      {% for madre in madres %}
                        <tr>
                            <td>{{ madre.codigo }}</td>
                            <td>{{ madre.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                            <td>{{ madre.stockActual }}</td>
                            <td>{{ madre.lote.recipiente }}</td>
                            <td>{{ madre.lote.fechaMovimiento }}</td>
                            <td>{{ madre.lote.estado }}</td>
                            <td>{{ madre.responsable }}</td>
                            <td>
                                <a title="Ver Detalle" href="{% url 'cultivo:loteMadreDetalle' pk=madre.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a title="Editar" href="{% url 'cultivo:loteMadreUpdate' pk=madre.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a title="Eliminar" href="{% url 'cultivo:loteMadreDelete' pk=madre.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endblock %}