﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Lote de Trimming y Secado:</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'cultivo:loteSecadoCreate' pk=0 %}">
                Ingresar Lote de Secado
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Semilla</th>
                        <th>Total de Plantas</th>
                        <th>Recipiente</th>
                        <th>Fecha de Movimiento</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                      {% for secado in secados %}
                        <tr>
                            <td>{{ secado.codigo }}</td>
                            <td>{{ secado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                            <td>{{ secado.totalPlantas }}</td>
                            <td>{{ secado.lote.recipiente }}</td>
                            <td>{{ secado.lote.fechaMovimiento }}</td>
                            <td>{{ secado.lote.estado }}</td>
                            <td>{{ secado.responsable }}</td>
                            <td>
                                <a title="Ver Detalle" href="{% url 'cultivo:loteSecadoDetalle' pk=secado.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a title="Editar" href="{% url 'cultivo:loteSecadoUpdate' pk=secado.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a title="Eliminar" href="{% url 'cultivo:loteSecadoDelete' pk=secado.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endblock %}