﻿{% extends 'BaseCultivo.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado de Lote de Germinacion:</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            <br><br></div></div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'cultivo:loteGerminacionCreate' pk=0 %}">
                Ingresar Lote de Germinacion
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Variedad</th>
                        <th>Peso (gr)</th>
                        <th>Total Semillas</th>
                        <th>Tipo de Recipiente</th>
                        <th>Fecha de Movimiento</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                      {% for germinacion in germinaciones %}
                        <tr>
                            <td>{{ germinacion.codigo }}</td>
                            <td>{{ germinacion.loteSemilla.semilla.variedad }}</td>
                            <td>{{ germinacion.cantidadGramos }}</td>
                            <td>{{ germinacion.totalSemillas }}</td>
                            <td>{{ germinacion.lote.recipiente }}</td>
                            <td>{{ germinacion.lote.fechaMovimiento }}</td>
                            <td>{{ germinacion.lote.estado }}</td>
                            <td>{{ germinacion.responsable }}</td>
                            <td>
                                <a title="Ver Detalle" href="{% url 'cultivo:loteGerminacionDetalle' pk=germinacion.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a title="Editar" href="{% url 'cultivo:loteGerminacionUpdate' pk=germinacion.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a title="Eliminar" href="{% url 'cultivo:loteGerminacionDelete' pk=germinacion.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}