{% extends 'BaseCultivo.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu de Lotes de Cultivo:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                                <li><a href="{% url 'cultivo:loteSemillasList' %}">Lotes de Semillas</a></li>
                                <li><a href="{% url 'cultivo:loteGerminacionList' %}">Lotes de Germinación</a></li>
                                <li><a href="{% url 'cultivo:loteVegetativoList' %}">Lotes de Vegetación</a></li>
                                <li><a href="{% url 'cultivo:loteMadreList' %}">Lotes de Plantas Madre</a></li>
                                <li><a href="{% url 'core:construccion' %}">Lotes de Esquejes</a></li>
                                <li><a href="{% url 'cultivo:loteFloracionList' %}">Lotes de Floración</a></li>
                                <li><a href="{% url 'cultivo:loteSecadoList' %}">Lotes de Trimming y Secado</a></li>
                                <li><a href="{% url 'cultivo:loteMaterialList' %}">Lotes de Flores Deshidratadas</a></li>
                                <li><a href="{% url 'cultivo:destruccionList' %}">Lotes de Baja de Plantas</a></li>
                                <hr>
                                <li><a href="{% url 'reportes:informe' %}">Informes</a></li>
                            {% if request.user.is_superuser %}
                                <hr>
                                <li><a href="#">Opciones del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}