﻿{% extends 'base_produccion.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Listado Semillas:</h2>
                <a class="btn btn-primary btn-sm" href="{% url 'core:menu' %}">Volver al Menú Anterior</a>

        <br><br>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <a class="botoncito" href="{% url 'cultivo:semillaCreate' %}">
                Ingresar Semilla
               <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Ingresar">
            </a><br>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Variedad</th>
                        <th>Origen</th>
                        <th>Responsable</th>
                        <th>Fecha de alta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                      {% for semilla in semillas %}
                        <tr>
                            <td>{{ semilla.codigo }}</td>
                            <td>{{ semilla.variedad }}</td>
                            <td>{{ semilla.origen }}</td>
                            <td>{{ semilla.responsable }}</td>
                            <td>{{ semilla.fechaAlta }}</td>
                            <td>
                                <a href="{% url 'cultivo:semillaDetalle' pk=semilla.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                <a href="{% url 'cultivo:semillaUpdate' pk=semilla.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg">
                                </a>
                                <a href="{% url 'cultivo:semillaDelete' pk=semilla.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endblock %}