{% extends 'BaseCultivo.html' %}

{% load static %}
{% load auditar_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2><b>Codigo: {{ semilla.codigo }}</b></h2>
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Fecha de Alta:</b> {{ semilla.fechaAlta }} </p>
                                <p><b>Variedad:</b> {{ semilla.variedad }} </p>
                                <p><b>Origen:</b> {{ semilla.origen }} </p>
                                <p><b>Responsable:</b> {{ semilla.responsable }} </p>
                                {% if semilla.informacionDePadres %}
                                <p><b>Informacion de Padres:</b> {{ semilla.informacionDePadres }} </p>
                                {% endif %}
                                {% if semilla.observaciones %}
                                <p><b>Observaciones:</b> {{ semilla.observaciones }} </p>
                                {% endif %}
                            {% if hijos %}
                                <br><hr>
                            <h3>Lotes generados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Etapa</th>
                                        <th>Detalle</th>
                                    </tr>
                                    {% for hijo in hijos %}
                                    <tr style="text-align: center;">
                                        <td>Lote de Semilla</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=hijo.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                            </div>
                        </div>
                        <br><hr>
                        <div class="row">
                            <h2>Caracteristicas</h2>
                        </div>
                        <div class="row">
                            {% if semilla.variedad %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Variedad:</b><br />
                                    {{ semilla.variedad }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.poderGerminativo %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Poder germinativo:</b><br />
                                    {{ semilla.poderGerminativo }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.cbd %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>% CBD:</b><br />
                                    {{ semilla.cbd }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.thc %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>% THC:</b><br />
                                    {{ semilla.thc }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.morfologia %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Morfologia:</b><br />
                                    {{ semilla.morfologia }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.sexo %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Sexo:</b><br />
                                    {{ semilla.sexo }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.radio %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Radio Potencian THC CBD:</b><br />
                                    {{ semilla.radio }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.diasFloracion %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Dias de Floracion:</b><br />
                                    {{ semilla.diasFloracion }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.rendimientoEsperado %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Rendimiento esperado:</b><br />
                                    {{ semilla.rendimientoEsperado }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.alturaPromedio %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Altura Promedio:</b><br />
                                    {{ semilla.alturaPromedio }}
                                </p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-sm" href="{% url 'cultivo:semillaList' %}">Volver</a>
                            <br />
                        <ul class="menu_botones">
                            <h2>Acciones</h2>
                                <li><a href="{% url 'cultivo:semillaUpdate' pk=semilla.id %}">Actualizar datos</a></li>
                                <li><a href="{% url 'cultivo:loteSemillasCreate' %}">Crear lote de Semillas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}