﻿{% extends 'base_produccion.html' %}

{% load static %}
{% load auditar_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1><b>Codigo: {{ lote }}</b></h1><br />
                        <div class="row">
                            <div class="col-md-12">
                            {% if loteCultivo.tipo == 'Lote de Semillas' %}
                                <p><b>Fecha de Alta:</b> {{ loteCultivo.fechaAlta }} </p>
                                <p><b>Fecha de Movimiento:</b> {{ loteCultivo.fechaMovimiento }} </p>
                                <p><b>Peso inicial:</b> {{ lote.pesoInicial }} </p>
                                <p><b>Peso actual:</b> {% if lote.pesoActual == 0 %}
                                    <b style="color: red"> {{ lote.pesoActual }}</b> {% else %}
                                    <b style="color: #1c7430">{{ lote.pesoActual }} {% endif %}</b> </p>
                                <p><b>Estado:</b> {% if loteCultivo.estado != 'Finalizado' %}
                                    <b style="color: #1c7430">{{ loteCultivo.estado }}</b>
                                    {% else %}{{ loteCultivo.estado }}{% endif %} </p>
                                <p><b>Responsable:</b> {{ lote.responsable }} </p>
                                {% if lote.fechaFinalizacion %}
                                <p><b>Fecha Finalizacion:</b> {{ lote.fechaFinalizacion }} </p>
                                {% endif %}
                                <br><hr>
                                <h3>Etapas previas:</h3>
                            {% endif %}
                            {% if loteCultivo.tipo == 'Lote de Germinacion' %}
                                <p><b>Fecha de Alta:</b> {{ loteCultivo.fechaAlta }} </p>
                                <p><b>Fecha de Movimiento:</b> {{ loteCultivo.fechaMovimiento }} </p>
                                <p><b>Cantidad:</b> {{ lote.cantidadGramos }} gr.</p>
                                <p><b>Total de Semillas:</b> {{ lote.totalSemillas }} </p>
                                <p><b>Plantas logradas:</b> {{ lote.plantasLogradas }} </p>
                                <p><b>Plantas Actuales:</b> {% if lote.plantasActuales %}<b style="color: #1c7430">
                                    {{ lote.plantasActuales }}</b> {% else %} 0 {% endif %}</p>
                                <p><b>Plantulas anormales/fallas:</b> {{ lote.noGerminadas }} </p>
                                <p><b>Cantidad de recipientes:</b> {{ lote.cantidadRecipientes }} </p>
                                <p><b>Estado:</b> {% if loteCultivo.estado != 'Finalizado' %}
                                    <b style="color: #1c7430">{{ loteCultivo.estado }}</b>
                                    {% else %}{{ loteCultivo.estado }}{% endif %} </p>
                                <p><b>Responsable:</b> {{ lote.responsable }} </p>
                                {% if loteCultivo.fechaFinalizacion %}
                                <p><b>Fecha Finalizacion:</b> {{ loteCultivo.fechaFinalizacion }} </p>
                                {% endif %}
{#                                <br><hr>#}
{#                                <h3>Etapas previas:</h3>#}
                            {% endif %}
                            {% if loteCultivo.tipo == 'Lote de Vegetacion' or loteCultivo.tipo == 'Lote de Floracion' or loteCultivo.tipo == 'Lote de Secado' or loteCultivo.tipo == 'Lote de Plantas Madre' %}
                                <p><b>Fecha de Alta:</b> {{ loteCultivo.fechaAlta }} </p>
                                <p><b>Fecha de Movimiento:</b> {{ loteCultivo.fechaMovimiento }} </p>
                                <p><b>Total de Plantas:</b> {{ lote.totalPlantas }} </p>
                                <p><b>Plantas Disponibles:</b> {% if lote.stockActual %}
                                    <b style="color: #1c7430"> {{ lote.stockActual }} </b>
                                    {% else %} <b style="color: red"> 0 </b> {% endif %}</p>
                                <p><b>Estado:</b> {% if loteCultivo.estado != 'Finalizado' %}
                                    <b style="color: #1c7430">{{ loteCultivo.estado }}</b>
                                    {% else %}{{ loteCultivo.estado }}{% endif %} </p>
                                <p><b>Responsable:</b> {{ lote.responsable }} </p>
                                {% if loteCultivo.fechaFinalizacion %}
                                <p><b>Fecha Finalizacion:</b> {{ loteCultivo.fechaFinalizacion }} </p>
                                {% endif %}
                                {% if lote.inicioTrimming %}
                                    <br><hr>
                                    <h4>Registro de Trimming</h4>
                                    <p><b>Fecha y Hora de Inicio: </b> {{ lote.inicioTrimming }}</p>
                                    <p><b>Fecha y Hora de Final: </b>
                                        {% if lote.finTrimming %}
                                            {{ lote.finTrimming }}</p>
                                        {%  else %}
                                            En proceso
                                        {% endif %}
                                {% endif %}
                                {% if lote.inicioSecado %}
                                    <br><hr>
                                    <h4>Registro de Secado</h4>
                                    <p><b>Fecha y Hora de Inicio: </b> {{ lote.inicioSecado }}</p>
                                    <p><b>Fecha y Hora de Final: </b>
                                        {% if lote.finSecado %}
                                            {{ lote.finSecado }}</p>
                                        {%  else %}
                                            En proceso
                                        {% endif %}
                                {% endif %}
                            {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Flores Deshidratadas' %}
                                    <p><b>Fecha de Alta:</b> {{ loteCultivo.fechaAlta }} </p>
                                    <p><b>Fecha de Movimiento:</b> {{ loteCultivo.fechaMovimiento }} </p>
                                    <p><b>Total de Plantas:</b> {{ lote.totalPlantas }} </p>
                                    <p><b>Peso Seco:</b> {{ lote.pesoSeco }} Kg.</p>
                                    <p><b>% Humedad:</b> {{ lote.porcentajeHumedad }}</p>
                                    <p><b>Estado:</b> {% if loteCultivo.estado != 'Finalizado' %}
                                        <b style="color: #1c7430">{{ loteCultivo.estado }}</b>
                                        {% else %}{{ loteCultivo.estado }}{% endif %} </p>
                                    <p><b>Responsable:</b> {{ lote.responsable }} </p>
                                {% endif %}
                                <br><hr>
                                <h3>Etapas previas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Etapa</th>
                                        <th>Fecha de Movimiento</th>
                                        <th>Detalle</th>
                                    </tr>
                                    <tr style="text-align: center;">
                                        {% if semilla.codigo %}
                                        <td>{{ semilla.codigo }}</td>
                                        <td>Semilla</td>
                                        <td>{{ semilla.fechaAlta }}</td>
                                        <td><a href="{% url 'cultivo:semillaDetalle' pk=semilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSemilla %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSemilla }}</td>
                                        <td>Lote de Semilla</td>
                                        <td>{{ lote.loteSemilla.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=lote.loteSemilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteGerminacion.loteSemilla %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteGerminacion.loteSemilla }}</td>
                                        <td>Lote de Semilla</td>
                                        <td>{{ lote.loteGerminacion.loteSemilla.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=lote.loteGerminacion.loteSemilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteVegetativo.loteGerminacion.loteSemilla %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteVegetativo.loteGerminacion.loteSemilla }}</td>
                                        <td>Lote de Semilla</td>
                                        <td>{{ lote.loteVegetativo.loteGerminacion.loteSemilla.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=lote.loteVegetativo.loteGerminacion.loteSemilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla }}</td>
                                        <td>Lote de Semilla</td>
                                        <td>{{ lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla }}</td>
                                        <td>Lote de Semilla</td>
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSemillasDetalle' pk=lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteGerminacion }}</td>
                                        <td>Lote de Germinacion</td>
                                        <td>{{ lote.loteGerminacion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteGerminacionDetalle' pk=lote.loteGerminacion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteVegetativo.loteGerminacion }}</td>
                                        <td>Lote de Germinacion</td>
                                        <td>{{ lote.loteVegetativo.loteGerminacion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteGerminacionDetalle' pk=lote.loteVegetativo.loteGerminacion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteFloracion.loteVegetativo.loteGerminacion }}</td>
                                        <td>Lote de Germinacion</td>
                                        <td>{{ lote.loteFloracion.loteVegetativo.loteGerminacion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteGerminacionDetalle' pk=lote.loteFloracion.loteVegetativo.loteGerminacion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion }}</td>
                                        <td>Lote de Germinacion</td>
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteGerminacionDetalle' pk=lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteVegetativo.codigo }}</td>
                                        <td>Lote Vegetativo</td>
                                        <td>{{ lote.loteVegetativo.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteVegetativoDetalle' pk=lote.loteVegetativo.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteFloracion.loteVegetativo.codigo }}</td>
                                        <td>Lote Vegetativo</td>
                                        <td>{{ lote.loteFloracion.loteVegetativo.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteVegetativoDetalle' pk=lote.loteFloracion.loteVegetativo.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.codigo }}</td>
                                        <td>Lote Vegetativo</td>
                                        <td>{{ lote.loteSecado.loteFloracion.loteVegetativo.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteVegetativoDetalle' pk=lote.loteSecado.loteFloracion.loteVegetativo.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteMadre.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>Lote de Plantas Madre</td>
                                        <td><a href="#" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteEsquejes.loteMadre.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>Lote de Esquejes</td>
                                        <td><a href="#" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteVegetativoEsquejes.loteEsquejes.loteMadre.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>Lotes Vegetativos-Esquejes</td>
                                        <td><a href="#" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteFloracion.codigo }}</td>
                                        <td>Lote de Floracion</td>
                                        <td>{{ lote.loteFloracion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteFloracionDetalle' pk=lote.loteFloracion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSecado.loteFloracion.codigo }}</td>
                                        <td>Lote de Floracion</td>
                                        <td>{{ lote.loteSecado.loteFloracion.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteFloracionDetalle' pk=lote.loteSecado.loteFloracion.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                        {% if lote.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.codigo %}
                                    <tr style="text-align: center;">
                                        <td>{{ lote.loteSecado.codigo }}</td>
                                        <td>Lote de Secado</td>
                                        <td>{{ lote.loteSecado.lote.fechaMovimiento }}</td>
                                        <td><a href="{% url 'cultivo:loteSecadoDetalle' pk=lote.loteSecado.id %}">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                        {% endif %}
                                </table>
                                {% if hijos %}
                                <br><hr>
                                <h3>Etapas posteriores:</h3>
                                    <table class="listado">
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Etapa</th>
                                            <th>Fecha de Movimiento</th>
                                            <th>Detalle</th>
                                        </tr>
                                        {% for hijo in hijos %}
                                        <tr style="text-align: center;">
                                            <td>{{ hijo }}</td>
                                            <td>{{ hijo.lote.tipo }}</td>
                                            <td>{{ hijo.lote.fechaMovimiento }}</td>
                                            {% if hijo.lote.tipo == 'Lote de Germinacion'  %}
                                                <td><a href="{% url 'cultivo:loteGerminacionDetalle' pk=hijo.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                            {% endif %}
                                            {% if hijo.lote.tipo == 'Lote de Vegetacion'  %}
                                                <td><a href="{% url 'cultivo:loteVegetativoDetalle' pk=hijo.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                            {% endif %}
                                            {% if hijo.lote.tipo == 'Lote de Floracion'  %}
                                                <td><a href="{% url 'cultivo:loteFloracionDetalle' pk=hijo.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                            {% endif %}
                                            {% if hijo.lote.tipo == 'Lote de Secado'  %}
                                                <td><a href="{% url 'cultivo:loteSecadoDetalle' pk=hijo.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                            {% endif %}
                                            {% if hijo.lote.tipo == 'Lote de Flores Deshidratadas'  %}
                                                <td><a href="{% url 'cultivo:loteMaterialDetalle' pk=hijo.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                            {% endif %}
                                        {% endfor %}
                                            {% for hijo2 in hijos2 %}
                                        <tr style="text-align: center;">
                                            <td>{{ hijo2 }}</td>
                                            <td>{{ hijo2.lote.tipo }}</td>
                                            <td>{{ hijo2.lote.fechaMovimiento }}</td>
                                            <td><a href="{% url 'cultivo:loteMadreDetalle' pk=hijo2.id %}">
                                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                                </a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                        <br><hr>
                        <div class="row">
                            <h2>Caracteristicas</h2>
                        </div>
                        <div class="row">
                            {% if semilla.variedad %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Variedad:</b><br />
                                    {{ semilla.variedad }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.poderGerminativo %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Poder germinativo:</b><br />
                                    {{ semilla.poderGerminativo }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.cbd %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>% CBD:</b><br />
                                    {{ semilla.cbd }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.thc %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>% THC:</b><br />
                                    {{ semilla.thc }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.morfologia %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Morfologia:</b><br />
                                    {{ semilla.morfologia }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.sexo %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Sexo:</b><br />
                                    {{ semilla.sexo }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.radio != '0:0' %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Radio Potencial THC CBD:</b><br />
                                    {{ semilla.radio }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.diasFloracion %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Dias de Floracion:</b><br />
                                    {{ semilla.diasFloracion }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.rendimientoEsperado %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Rendimiento esperado:</b><br />
                                    {{ semilla.rendimientoEsperado }}
                                </p>
                            </div>
                            {% endif %}
                            {% if semilla.alturaPromedio %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Altura Promedio:</b><br />
                                    {{ semilla.alturaPromedio }}
                                </p>
                            </div>
                            {% endif %}
                            {% if lote.plantasLogradas %}
                            <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                <p>
                                    <b>Plantas Logradas:</b><br />
                                    {{ lote.plantasLogradas }}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Tabla de Ubicaciones -->
                        <br><hr>
                        <h3>Ubicacion:</h3>
                        <table class="listado">
                            <tr>
                                <th>Establecimiento / Predio</th>
                                <th>Instalacion</th>
                                {% if lote.lote.division %}
                                <th>Sub-instalacion / Division</th>
                                {% endif %}
                                {% if lote.lote.almacen %}
                                <th>Almacen</th>
                                {% endif %}
                                <th>Recipiente</th>
                            </tr>
                            <tr>
                                <td>{{ lote.lote.predio }}</td>
                                <td>{{ lote.lote.instalacion }}</td>
                                {% if lote.lote.division %}
                                <td>{{ lote.lote.division }}</td>
                                {% endif %}
                                {% if lote.lote.almacen %}
                                <td>{{ lote.lote.almacen }}</td>
                                {% endif %}
                                <td>{{ lote.lote.recipiente }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-sm" href="javascript:history.back()">Volver</a>
                        <ul class="menu_botones">
                            {% if loteCultivo.tipo != 'Lote de Flores Deshidratadas' %}
                                <h2>Acciones</h2>
                            {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Semillas' %}
                                    {% if lote.pesoActual > 0 %}
                                        <li><a href="{% url 'cultivo:loteGerminacionCreate' pk=lote.id %}">Germinar</a></li>
                                    {% else %}
                                        <li style="background-color: yellow"><p>No hay Semillas disponibles para germinar</p></li>
                                    {% endif %}
                                    <li><a href="{% url 'cultivo:loteSemillasUpdate' pk=lote.id %}">Actualizar Datos</a></li>
                                    <li><a href="{% url 'cultivo:loteSemillasDelete' pk=lote.id %}">Eliminar Lote</a></li>
                                {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Germinacion' %}
                                    {% if lote.plantasLogradas > 0 %}
                                        <li><a href="{% url 'cultivo:loteVegetativoCreate' pk=lote.id %}">Pasar a Vegetativo</a></li>
                                    {% else %}
                                        <li style="background-color: yellow"><p>Para pasar a Vegetativo debe ingresar Plantas Logradas</p></li>
                                    {% endif %}
                                    <li><a href="{% url 'cultivo:plantasLogradas' pk=lote.id %}">Marcar Plantas Logradas</a></li>
                                    <li><a href="{% url 'cultivo:destruccionGerminacionCreate' pk=lote.id %}">Registrar Baja</a></li>
                                    <li><a href="{% url 'cultivo:loteGerminacionUpdate' pk=lote.id %}">Actualizar Datos</a></li>
                                    <li><a href="{% url 'cultivo:loteGerminacionDelete' pk=lote.id %}">Eliminar Lote</a></li>
                                {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Vegetacion' %}
                                    {% if lote.stockActual > 0 %}
                                        <li><a href="{% url 'cultivo:loteFloracionCreate' pk=lote.id %}">Cambio Fisiologico</a></li>
                                        <li><a href="{% url 'cultivo:loteMadreCreate' pk=lote.id %}">Pasar a Madres</a></li>
                                        <li><a href="{% url 'cultivo:destruccionVegetativoCreate' pk=lote.id %}">Registrar Baja de Plantas</a></li>
                                    {% else %}
                                        <li style="background-color: yellow"><p>No hay plantas disponibles en este lote.</p></li>
                                    {% endif %}
                                    <li><a href="{% url 'cultivo:loteVegetativoUpdate' pk=lote.id %}">Actualizar Datos</a></li>
                                    <li><a href="{% url 'cultivo:loteVegetativoDelete' pk=lote.id %}">Eliminar Lote</a></li>
                                {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Floracion' %}
                                    {% if lote.stockActual > 0 %}
                                        <li><a href="{% url 'cultivo:loteSecadoCreate' pk=lote.id %}">Cosechar</a></li>
                                        <li><a href="{% url 'cultivo:destruccionFloracionCreate' pk=lote.id %}">Registrar Baja de Plantas</a></li>
                                    {% else %}
                                        <li style="background-color: yellow"><p>No hay plantas disponibles en este lote.</p></li>
                                    {% endif %}
                                    <li><a href="{% url 'cultivo:loteFloracionUpdate' pk=lote.id %}">Actualizar Datos</a></li>
                                    <li><a href="{% url 'cultivo:loteFloracionDelete' pk=lote.id %}">Eliminar Lote</a></li>
                                {% endif %}
                                {% if loteCultivo.tipo == 'Lote de Secado' %}
                                    {% if lote.stockActual > 0 %}
                                        {% if lote.inicioTrimming %}
                                            <li><a href="{% url 'cultivo:loteSecadoTrimming' pk=lote.id %}">Modificar Trimming</a></li>
                                        {% else %}
                                            <li><a href="{% url 'cultivo:loteSecadoTrimming' pk=lote.id %}">Registrar Trimming</a></li>
                                        {% endif %}
                                        {% if lote.inicioSecado %}
                                            <li><a href="{% url 'cultivo:loteSecadoSecado' pk=lote.id %}">Modificar Secado</a></li>
                                        {% else %}
                                            <li><a href="{% url 'cultivo:loteSecadoSecado' pk=lote.id %}">Registrar Secado</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li style="background-color: yellow"><p>No hay plantas disponibles en este lote.</p></li>
                                    {% endif %}
                                    {% if lote.finSecado and lote.finTrimming %}
                                        <li><a href="{% url 'cultivo:loteMaterialCreate' pk=lote.id %}">Envasar Flores Deshidratadas</a></li>
                                    {% else %}
                                        <li style="background-color: yellow"><p>Debe Registrar Trimming y Secado.</p></li>
                                    {% endif %}
                                    <li><a href="{% url 'cultivo:loteSecadoUpdate' pk=lote.id %}">Actualizar Datos</a></li>
                                    <li><a href="{% url 'cultivo:loteSecadoDelete' pk=lote.id %}">Eliminar Lote</a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}