/* QUE ES */
.titulo {
    margin-top: 25px;
}
.cuerpo {
    padding: 15px;
    border: 1px solid black;
}
/* QUE ES */
.titulo {
    margin-top: 25px;
}
.cuerpo {
    padding: 15px;
    border: 1px solid black;
}