.organigrama {
    
}

.organigrama ul {
  padding-top: 20px;
  position: relative;
}

.organigrama>ul li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 20px 5px 0px 5px;
    position: relative;
    margin-bottom: 10px;
}

.organigrama>ul li::before, .organigrama>ul li::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%;
    border-top: 2px solid rgb(110, 110, 110);;
    width: 50%;
    height: 20px;
}

.organigrama>ul li::after{
    right: auto;
    left: 50%;
    border-left: 2px solid rgb(110, 110, 110);
}

.organigrama>ul li:only-child::before, .organigrama>ul li:only-child::after {
    display: none;
}

.organigrama>ul li:only-child {
  padding-top: 0;
}

.organigrama>ul li:first-child::before, .organigrama>ul li:last-child::after{
    border: 0 none;
}

.organigrama>ul li:last-child::before{
    border-right: 2px solid rgb(110, 110, 110);
    border-radius: 0 15px 0 0;
}

.organigrama>ul li:first-child::after{
    border-radius: 15px 0 0 0;
}

.organigrama>ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid rgb(110, 110, 110);
    width: 0;
    height: 20px;
}

.organigrama>ul li a.unidad{
    display: inline-block;

    width: auto;
    padding: 0.3em;
    text-decoration: none;
    color: rgb(68, 155, 68);
    
    border: 2px solid rgb(68, 155, 68);
    background-color: rgba(255, 255, 255, 0.747);
    
    font-family: arial, verdana, tahoma;
    font-size: 1em;
    
    border-radius: 20px;
}

.organigrama>ul li a.unidad:hover {
    border: 2px solid #fff;
    color: white;
    background-color: rgb(121, 121, 121);
    display: inline-block;
}

.organigrama a {
  font-size: 1em;
  font-weight: bold;
  color: var(--color_oscuro);
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}

p.situacion {
    font-size: 0.7em;
}

/* Colores segun estado */
a.estado1 {
    color: rgb(110, 110, 110)!important;
    border-color: rgb(110, 110, 110)!important;
}

a.estado31 {
    color: rgb(158, 218, 62)!important;
    border-color: rgb(158, 218, 62)!important;
}

a.estado32 {
    color: rgb(255, 196, 0)!important;
    border-color: rgb(255, 196, 0)!important;
}

a.estado40 {
    color: rgb(219, 113, 42)!important;
    border-color: rgb(219, 113, 42)!important;
}

a.estado50 {
    color: rgb(219, 42, 42)!important;
    border-color: rgb(219, 42, 42)!important;
}
.organigrama {
    
}

.organigrama ul {
  padding-top: 20px;
  position: relative;
}

.organigrama>ul li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 20px 5px 0px 5px;
    position: relative;
    margin-bottom: 10px;
}

.organigrama>ul li::before, .organigrama>ul li::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%;
    border-top: 2px solid rgb(110, 110, 110);;
    width: 50%;
    height: 20px;
}

.organigrama>ul li::after{
    right: auto;
    left: 50%;
    border-left: 2px solid rgb(110, 110, 110);
}

.organigrama>ul li:only-child::before, .organigrama>ul li:only-child::after {
    display: none;
}

.organigrama>ul li:only-child {
  padding-top: 0;
}

.organigrama>ul li:first-child::before, .organigrama>ul li:last-child::after{
    border: 0 none;
}

.organigrama>ul li:last-child::before{
    border-right: 2px solid rgb(110, 110, 110);
    border-radius: 0 15px 0 0;
}

.organigrama>ul li:first-child::after{
    border-radius: 15px 0 0 0;
}

.organigrama>ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid rgb(110, 110, 110);
    width: 0;
    height: 20px;
}

.organigrama>ul li a.unidad{
    display: inline-block;

    width: auto;
    padding: 0.3em;
    text-decoration: none;
    color: rgb(68, 155, 68);
    
    border: 2px solid rgb(68, 155, 68);
    background-color: rgba(255, 255, 255, 0.747);
    
    font-family: arial, verdana, tahoma;
    font-size: 1em;
    
    border-radius: 20px;
}

.organigrama>ul li a.unidad:hover {
    border: 2px solid #fff;
    color: white;
    background-color: rgb(121, 121, 121);
    display: inline-block;
}

.organigrama a {
  font-size: 1em;
  font-weight: bold;
  color: var(--color_oscuro);
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}

p.situacion {
    font-size: 0.7em;
}

/* Colores segun estado */
a.estado1 {
    color: rgb(110, 110, 110)!important;
    border-color: rgb(110, 110, 110)!important;
}

a.estado31 {
    color: rgb(158, 218, 62)!important;
    border-color: rgb(158, 218, 62)!important;
}

a.estado32 {
    color: rgb(255, 196, 0)!important;
    border-color: rgb(255, 196, 0)!important;
}

a.estado40 {
    color: rgb(219, 113, 42)!important;
    border-color: rgb(219, 113, 42)!important;
}

a.estado50 {
    color: rgb(219, 42, 42)!important;
    border-color: rgb(219, 42, 42)!important;
}