/* CONSTANTES */
:root {
    --gris_background: #e9e9eb;

    --color_claro: rgb(71, 201, 121);
    
    --color_primario: #008534;

    --color_oscuro: rgb(85, 14, 133);
  }
/* CONSTANTES */
:root {
    --gris_background: #e9e9eb;

    --color_claro: rgb(71, 201, 121);
    
    --color_primario: #008534;

    --color_oscuro: rgb(85, 14, 133);
  }