﻿*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

header {
    height: 50px;
    background: #008534;
    color: #fff;
    display: block;
    justify-content: flex-start;
    align-items: center;
}

header a {
    color: white;
}

#btn-menu {
    display: none;
}

header label {
    font-size: 20px;
    cursor: pointer;
    display: block;
    padding: 15px;
    align-items: center;
}

header a img {
    width: 120px;
    height: 18px;
}

.container-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 22%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
}

.container-menu ul {
    display: block;
}
/*ul::-webkit-scrollbar {
    display: block;
    width: 22px;
}

ul::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #3f0d12 0%, #a71d31 74%);
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 3px 2px rgb(230, 230, 230) inset;
}

ul::-webkit-scrollbar-thumb:active {
    box-shadow: 0px 0px 3px 2px rgb(230, 230, 230) inset;
}

ul::-webkit-scrollbar-track {
    background-color: #c2c2c2;
}*/

.container-menu ul ul {
    display: none;
}

.container-menu ul li:hover ul {
    display: none;
    position: static;
}

#btn-menu:checked ~ .container-menu {
    transform: translateX(0%);
}

.container-menu ul li {
    background: rgb(0, 133, 52);
}

.container-menu a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
}

.container-menu a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.container-menu a span {
    position: absolute;
    right: 5px;
}

#icono {
    position: absolute;
    rigth: 0;
}

.usuario {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.usuario li {
    right: 20px;
}

.usuario li img {
    width: 60px;
    height: 38px;
    padding-left: 20px;
}

.container-menu ul ul {
    font-size: 13px;
}

.container-menu ul ul a {
    padding: 15px 40px;
    background-color: #686565;
}


@media (max-width:768px) {
    header label {
        display: block;
    }

    .container-menu {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .container-menu ul {
        display: block;
        background: #555;
    }

    .container-menu ul li:hover ul {
        display: none;
        position: static;
    }

    .container-menu a span {
        position: absolute;
        right: 5px;
    }

    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }

    .container-menu ul ul {
        background: rgba(0.0.0.0,4);
    }
    .container-menu ul ul a {
        padding: 15px 40px;
    }
}

