.filterDiv {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
.filterDiv {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }