/* FOOTER */

footer {
    font-family: Archia;
    background: var(--color_primario);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.footer-top {
    height: 150px;
    background-repeat: repeat-x;
    background-size: 850px;
    background-position-x: 50%;
}

.footer-bottom {

    
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
}

.footer-bottom hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h4 {
    color: rgb(90, 90, 90);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: normal;
}

footer .social {
    position: absolute;
    top: -18px;
    left: 15%;
}

footer .social span.icon {
    background-color: black;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}

footer .social span.icon-facebook {
    background-color: #1691cd;
}

footer .social span.icon-twitter {
    background-color: #dc8e2c;
}

footer .social span.icon-youtube {
    background-color: #c72c75;
}

footer .social span.icon-instagram {
    background-color: #70277d;
}

footer .redes-sociales {
    text-align: center;
    margin-top: 10px;
}

footer .col-md-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    border-left: 2px dotted rgb(0, 0, 0);
}

footer img.logo {
    margin: auto;
    display: block;
    width: 250px;
    margin-top: 10px;
}

footer .redes-sociales span {
    position: relative;
    width: 44px;
    height: 44px;
    opacity: 0.9;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00000036;
    border-radius: 50%;
}

footer .redes-sociales span:hover {
    opacity: 1;
    background-size: 100%;
}

footer .icon-facebook {
    background: url(../img/icons/facebook.png);
    background-size: contain;
}

footer .icon-twitter {
    background: url(../img/icons/twitter.png);
    background-size: contain;
}

footer .icon-youtube {
    background: url(../img/icons/youtube.png);
    background-size: contain;
}

footer .icon-instagram {
    background: url(../img/icons/instagram.png);
    background-size: contain;
}

footer img.logo-footer {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
}

footer .redes {
    margin-top: 40px;
}

.contacto-footer {
    max-width: 300px;
    margin: auto;
}

.logo_unif {
    margin: auto;
    margin-top: 0px!important;
    margin-bottom: 20px!important;
    display: block;
    width: 250px;
    filter: invert(100%);
}
/* FIN FOOTER */
/* FOOTER */

footer {
    font-family: Archia;
    background: var(--color_primario);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.footer-top {
    height: 150px;
    background-repeat: repeat-x;
    background-size: 850px;
    background-position-x: 50%;
}

.footer-bottom {

    
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
}

.footer-bottom hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h4 {
    color: rgb(90, 90, 90);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: normal;
}

footer .social {
    position: absolute;
    top: -18px;
    left: 15%;
}

footer .social span.icon {
    background-color: black;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}

footer .social span.icon-facebook {
    background-color: #1691cd;
}

footer .social span.icon-twitter {
    background-color: #dc8e2c;
}

footer .social span.icon-youtube {
    background-color: #c72c75;
}

footer .social span.icon-instagram {
    background-color: #70277d;
}

footer .redes-sociales {
    text-align: center;
    margin-top: 10px;
}

footer .col-md-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    border-left: 2px dotted rgb(0, 0, 0);
}

footer img.logo {
    margin: auto;
    display: block;
    width: 250px;
    margin-top: 10px;
}

footer .redes-sociales span {
    position: relative;
    width: 44px;
    height: 44px;
    opacity: 0.9;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00000036;
    border-radius: 50%;
}

footer .redes-sociales span:hover {
    opacity: 1;
    background-size: 100%;
}

footer .icon-facebook {
    background: url(../img/icons/facebook.png);
    background-size: contain;
}

footer .icon-twitter {
    background: url(../img/icons/twitter.png);
    background-size: contain;
}

footer .icon-youtube {
    background: url(../img/icons/youtube.png);
    background-size: contain;
}

footer .icon-instagram {
    background: url(../img/icons/instagram.png);
    background-size: contain;
}

footer img.logo-footer {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
}

footer .redes {
    margin-top: 40px;
}

.contacto-footer {
    max-width: 300px;
    margin: auto;
}

.logo_unif {
    margin: auto;
    margin-top: 0px!important;
    margin-bottom: 20px!important;
    display: block;
    width: 250px;
    filter: invert(100%);
}
/* FIN FOOTER */