li {
    list-style-type:none;
}

li.lista {
    list-style-type:initial!important;
}

a.requerimiento {
    border: red 3px solid;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: red;
}

.turnito {
    border: grey 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
}
li {
    list-style-type:none;
}

li.lista {
    list-style-type:initial!important;
}

a.requerimiento {
    border: red 3px solid;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: red;
}

.turnito {
    border: grey 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
}