.navbar {
    align-items: flex-start;
    background-color: transparent !important;
    transition: background-color 1s ease 0s;
}

.navbar.solid {
  background-color: var(--gris_background)!important;
    transition: background-color 1s ease 0s;
}

.navbar-color-grey {
    background-color: var(--gris_background)!important;
    transition: background-color 1s ease 0s;
}

.navbar-color-green {
    background-color: var(--color_primario)!important;
    transition: background-color 1s ease 0s;
}

.link-menu:hover {
    color: black !important;
    text-decoration: none;
}
.navbar {
    align-items: flex-start;
    background-color: transparent !important;
    transition: background-color 1s ease 0s;
}

.navbar.solid {
  background-color: var(--gris_background)!important;
    transition: background-color 1s ease 0s;
}

.navbar-color-grey {
    background-color: var(--gris_background)!important;
    transition: background-color 1s ease 0s;
}

.navbar-color-green {
    background-color: var(--color_primario)!important;
    transition: background-color 1s ease 0s;
}

.link-menu:hover {
    color: black !important;
    text-decoration: none;
}