/* Listado de Noticias */
body {
    background-color: var(--color_primario);
}

.main_noticias {
    margin: 0;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.noticias {

}

.noticias .titulo {
    color: white;
    font-family: FivoSansModern-Bold;
    margin-top: 1em;
    font-size: 1.5em;
}

.lista-noticias {
    padding-left: 5%;

    align-content: center;
}

li.noticias {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.noticias .foto {
    float: left;
}

.noticias .foto img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 0px;
}

.noticias .info {
    color: white;
    text-align: justify;
    float: right;
    font-size: 0.85em;
    font-family: UniversLTStd-Regular;
}

.noticias .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: var(--color_claro);
    padding-bottom: 5px;
    height: 70px;
    font-size: 0.9em;
    color: white;
}

.noticias a {
    color: white;
}

.noticias button {
    background-color: var(--color_primario);
    color: white;
    border: none;
}

.noticias p.fecha {
    text-align: left;
    color: black;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.noticias hr {

}

.noticias hr.blanca {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Etiquetas */
.etiqueta {
    width: 100%;
    text-align: center;
    font-family: UniversLTStd-Regular;
}

.etiqueta a {
    color: white;
}
/* Listado de Noticias */
body {
    background-color: var(--color_primario);
}

.main_noticias {
    margin: 0;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.noticias {

}

.noticias .titulo {
    color: white;
    font-family: FivoSansModern-Bold;
    margin-top: 1em;
    font-size: 1.5em;
}

.lista-noticias {
    padding-left: 5%;

    align-content: center;
}

li.noticias {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.noticias .foto {
    float: left;
}

.noticias .foto img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 0px;
}

.noticias .info {
    color: white;
    text-align: justify;
    float: right;
    font-size: 0.85em;
    font-family: UniversLTStd-Regular;
}

.noticias .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: var(--color_claro);
    padding-bottom: 5px;
    height: 70px;
    font-size: 0.9em;
    color: white;
}

.noticias a {
    color: white;
}

.noticias button {
    background-color: var(--color_primario);
    color: white;
    border: none;
}

.noticias p.fecha {
    text-align: left;
    color: black;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.noticias hr {

}

.noticias hr.blanca {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Etiquetas */
.etiqueta {
    width: 100%;
    text-align: center;
    font-family: UniversLTStd-Regular;
}

.etiqueta a {
    color: white;
}