/* DEFINICIONES PANTALLA */
/* Desktop */
@media (min-width: 1024px) {
    .main-items .item.height2 .image {
        height: 410px;
    }
    .main-items .item.height2:hover .image {
        height: 350px;
    }
    .main-items .item.height2 {
        height: 550px;
    }
    .mobile-only {
        display:none!important;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    .page-wrapper {
        width: 100%;
    }
    .mobile-only {
        display: block;
    }

    .navbar {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .menu-logo .img {
        float: left;
        max-width: 35%;
    }

    ul.nav li a {
        padding-right: 6px;
        padding-left: 6px;
    }

    .main-items .item.height2 {
        height: 650px;
    }
    .main-items .item.height2 .image {
        height: 500px;
    }
    .main-items .item.height2:hover .image {
        height: 500px;
    }
    .main-items .item.height2 .content p {
        opacity: 1;
    }
    .navbar-collapse.collapse.in.mobile-only,
    .navbar-collapse.collapse.collapsing.mobile-only {
        display: block !important;
    }
    .main-items .item.height2 .image {
        background-position-y: -200px !important;
    }
}
/* DEFINICIONES PANTALLA */
/* Desktop */
@media (min-width: 1024px) {
    .main-items .item.height2 .image {
        height: 410px;
    }
    .main-items .item.height2:hover .image {
        height: 350px;
    }
    .main-items .item.height2 {
        height: 550px;
    }
    .mobile-only {
        display:none!important;
    }
}

/* Mobile */
@media (max-width: 1023px) {
    .page-wrapper {
        width: 100%;
    }
    .mobile-only {
        display: block;
    }

    .navbar {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .menu-logo .img {
        float: left;
        max-width: 35%;
    }

    ul.nav li a {
        padding-right: 6px;
        padding-left: 6px;
    }

    .main-items .item.height2 {
        height: 650px;
    }
    .main-items .item.height2 .image {
        height: 500px;
    }
    .main-items .item.height2:hover .image {
        height: 500px;
    }
    .main-items .item.height2 .content p {
        opacity: 1;
    }
    .navbar-collapse.collapse.in.mobile-only,
    .navbar-collapse.collapse.collapsing.mobile-only {
        display: block !important;
    }
    .main-items .item.height2 .image {
        background-position-y: -200px !important;
    }
}