/* Style the tab */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
  }
  
  /* Style the buttons inside the tab */
  .tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tabs button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabs button.active {
    background-color: #4149b1;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
 }
/* Style the tab */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
  }
  
  /* Style the buttons inside the tab */
  .tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tabs button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabs button.active {
    background-color: #4149b1;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
 }