{% extends 'web/base.html' %}
{% load i18n %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-contacto padding-top-140">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <p id="formulario" class="txt3-white">Contáctese con nosotros</p>
                    </div>
                </div>
            </div>
            <form class="row" action="?" name="form" method="post">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-9 offset-2 mt-5">
                            <div class="row">
                                <input type="text" class="w-100 input-txt-black m-0 p-0" id="inputName" name="inputName" placeholder="Su Nombre y apellido">
                                <hr class="line-g1-white m-0 p-0">
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-3 col-9 offset-2 mt-5">
                            <div class="row pr-lg-1">
                                <input type="text" class="w-100 input-txt-black m-0 p-0" id="inputEmail" name="inputEmail" placeholder="Su e-email">
                                <hr class="line-g1-white m-0 p-0">
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-0 col-9 offset-2 mt-5">
                            <div class="row">
                                <input type="text" class="w-100 input-txt-black m-0 p-0" id="inputPhone" name="inputPhone" placeholder="Su teléfono">
                                <hr class="line-g1-white m-0 p-0">
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-3 col-9 offset-2 mt-5">
                            <div class="row">
                                <input type="text" class="w-100 input-txt-black m-0 p-0" id="inputQuery" name="inputQuery" placeholder="Su consulta">
                                <hr class="line-g1-white m-0 p-0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-1 offset-lg-3 col-3 offset-2 mt-5 mb-5">
                            <div class="row">
                                <button type="button" class="w-100 txt2b-white input-button-black pl-0 pr-0">{% trans "Enviar" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container-fluid" style="background-color: white;">

            <div class="row padding-top-48">
                <div class="col-lg-3 offset-lg-2 col-10 offset-1">
                    <div class="row pb-5">
                        <div class="col-lg-12 col-12">
                            <div class="row">
                                <p id="oficinas" class="txt3-green">Sede Administrativa</p>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row pr-lg-2">
                                <p class="txt1b-black">La Caridad 320 Barrio Chijra</p>
                                <p class="txt1-black">CP 4600 San Salvador de Jujuy</p>
                                <p class="txt1-black">Jujuy - Argentina</p>
                                <hr class="line-g1">
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2">
                            <div class="row pr-lg-2">
                                <a href="tel:+543884312903" style="width: 100%;"><p class="txt1-black">+54 388 4312 903</p></a>
                                <a href="tel:+543884314361" style="width: 100%;"><p class="txt1-black">+54 388 4 314 361</p></a>
                                <hr class="line-g1">
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2">
                            <div class="row pr-lg-2">
                                <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#099;&#097;&#110;&#110;&#097;&#118;&#097;&#046;&#099;&#111;&#109;&#046;&#097;&#114;"><p class="txt1-black m-0">&#105;&#110;&#102;&#111;&#064;&#099;&#097;&#110;&#110;&#097;&#118;&#097;&#046;&#099;&#111;&#109;&#046;&#097;&#114;</p></a>
                                <hr class="line-g1 m-0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-10 offset-1">
                    <div class="row pb-5">
                        <div class="col-lg-12 col-12">
                            <div class="row">
                                <p id="redes" class="txt3-green">Cannava en las redes</p>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row">
                                <a href="https://www.instagram.com/cannava.se/" class="p-0 m-0 w-100">
                                    <p class="m-0">
                                        <img src="/static/img/contacto/CannavaIcon_Instagram.png" alt="" style="display:inline-block; vertical-align:bottom;  max-width: 48px;">
                                        <span class="pl-2 txt1b-black" style="display:inline-block; vertical-align:bottom;">
                                            Instagram
                                        </span>
                                    </p>
                                    <hr class="line-g1 mt-2">
                                </a>

                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row">
                                <a href="https://twitter.com/CannavaSE" class="p-0 m-0 w-100">
                                    <p class="m-0">
                                        <img src="/static/img/contacto/CannavaIcon_Twitter.png" alt="" style="display:inline-block; vertical-align:bottom; max-width: 48px;">
                                        <span class="pl-2 txt1b-black" style="display:inline-block; vertical-align:bottom;">
                                            Twitter
                                        </span>
                                    </p>
                                    <hr class="line-g1 mt-2">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row">
                                <a href="https://www.facebook.com/CannavaSE/" class="p-0 m-0 w-100">
                                    <p class="m-0">
                                        <img src="/static/img/contacto/CannavaIcon_Facebook.png" alt="" style="display:inline-block; vertical-align:bottom;  max-width: 48px;">
                                        <span class="pl-2 txt1b-black" style="display:inline-block; vertical-align:bottom;">
                                            Facebook
                                        </span>
                                    </p>
                                    <hr class="line-g1 mt-2">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row">
                                <a href="https://www.youtube.com/channel/UCh6_phFHXnY5e0K8FofjM7Q?view_as=subscriber" class="p-0 m-0 w-100">
                                    <p class="m-0">
                                        <img src="/static/img/contacto/CannavaIcon_Youtube.png" alt="" style="display:inline-block; vertical-align:bottom;  max-width: 48px;">
                                        <span class="pl-2 txt1b-black" style="display:inline-block; vertical-align:bottom;">
                                            Youtube
                                        </span>
                                    </p>
                                    <hr class="line-g1 mt-2">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-4 col-10 offset-2 pt-3">
                            <div class="row">
                                <a href="https://www.linkedin.com/company/cannavase" class="p-0 m-0 w-100">
                                    <p class="m-0">
                                        <img src="/static/img/contacto/CannavaIcon_LinkedIn.png" alt="" style="display:inline-block; vertical-align:bottom;  max-width: 36px;">
                                        <span class="pl-2 txt1b-black" style="display:inline-block; vertical-align:bottom;">
                                            LinkedIn
                                        </span>
                                    </p>
                                    <hr class="line-g1 mt-2">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js">
    </script>

    <script>
      function initialize() {
          var myLatlng = new google.maps.LatLng(-24.359557,-65.4429775);
          var mapOptions = {
            zoom: 16,
            center: myLatlng
          };
          var map = new google.maps.Map(document.getElementById('map-canvas-1'), mapOptions);

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'qtqtq'
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
      function initialize() {
          var myLatlng = new google.maps.LatLng(-24.559557,-65.5529775);
          var mapOptions = {
            zoom: 16,
            center: myLatlng
          };
          var map = new google.maps.Map(document.getElementById('map-canvas-2'), mapOptions);

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'sdasaasa'
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      jQuery(document).ready(function($) {
        initMap();
    });
    </script>
{% endblock body_block %}