{% extends 'web/base.html' %}
{% load i18n %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-cooperamos">
            <div class="row" style="padding-top: 280px; padding-bottom: 64px;">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <p class="txt3-white">{% trans "Programa provincial de promoción del cultivo y producción de Cannabis y derivados con fines científicos, medicinales y terapéuticos." %}</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid backgoundcolor-green">
            <div class="row padding-top-48 padding-bottom-48">
                <div class="col-lg-6 offset-lg-3 col-9 offset-2">
                    <div class="row">
                        <div class="col-12">
                            <p class="txt2b-white">{% trans "Este programa concentra los lineamientos y estrategias para la producción local de derivados medicinales de Cannabis." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid backgoundcolor-grey">
            <div class="row padding-top-48 padding-bottom-48">
                <div class="col-lg-6 offset-lg-3 col-9 offset-2">
                    <div class="row">
                        <div class="col-12">
                            <p class="txt2-black">{% trans "Creado el 14 de mayo de 2018 mediante Decreto N° 6.622/2018 por el Gobernador de la provincia de Jujuy, en línea a la Ley Nacional Nº 27.350 de Investigación médica y científica del uso de la planta de cannabis medicinal y sus derivados." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        Sus objetivos#}
        <div class="container-fluid" style="background-color: white;">
            <div class="row padding-bottom-72">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row padding-top-48 padding-bottom-48">
                        <hr class="line-g2-black">
                        <p class="txt3 p-0 m-0">Sus Objetivos</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Promover el establecimiento, conservación, financiación y explotación de cultivos de cannabis y su industrialización en el territorio provincial, con fines científicos, medicinales y/o terapéuticos." %}</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Desarrollar mecanismos destinados a implementar iniciativas económicas de producción, transformación y distribución de derivados medicinales de la planta de cannabis con fines científicos, medicinales y/o terapéuticos." %}</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Diseñar y promover la futura implementación de un sistema provincial de pequeños y medianos cultivadores, productores y comercializadores de cannabis con fines científicos, medicinales y/o terapéuticos." %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Promover la transferencia tecnológica necesaria para el cultivo y producción provincial de cannabis y sus derivados con fines científicos, medicinales y/o terapéuticos." %}</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Promover la capacitación profesional en el ámbito del sistema público de salud provincial en todos los aspectos relativos al uso científico, medicinal y/o terapéutico del cannabis." %}</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">{% trans "Coordinar las acciones que sean necesarias para el cumplimiento de los objetivos con las autoridades competentes del gobierno nacional, en los casos que así lo exija la normativa vigente." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body_block %}