{% extends 'web/base.html' %}

{% load i18n %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-hacemos">
            <div class="row" style="padding-top: 280px; padding-bottom: 64px;">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <p class="txt3-white">{% trans "Producimos derivados medicinales de cannabis aptos para uso médico." %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid padding-bottom-72" style="background-color:white;">
            <div class="row padding-top-48">
                <div class="col-lg-6 offset-lg-3 col-10 offset-1">
                    <div class="row align-items-end">
                        <div class="col-lg-2 col-4 pl-lg-3 pl-0">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/hacemos/CannavaIcon_Produccion.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 pt-3 pt-lg-0">
                            <div class="row">
                                <p id="cultivo" class="txt3" style="margin-bottom: 0;">Cultivo</p>
                                <hr class="line-g3-black" style="margin-top: 8px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2">
                            <div class="row pt-3">
                                <p class="txt1-black">
                                    Un derivado del cannabis apto para uso médico requiere un proceso de cultivo estandarizado, como la actividad exige.
                                </p>
                                <p class="txt1-black">
                                    Cannava tiene como premisa el desarrollo de métodos de cultivo que permitan que las propiedades medicinales de la planta de cannabis sean siempre iguales, garantizando su consistencia y la ausencia de pesticidas, metales pesados, moho, hongos, entre otras amenazas agrícolas para la obtención de materia prima de calidad. Nuestros equipos investigan  y consolidan métodos agrícolas que tiene como fin lograr el mayor rendimiento posible.
                                </p>
                                <p class="txt1-black">
                                    El cultivo se lleva adelante en tierras públicas de la provincia.
                                </p>
                                <p class="txt1-black">
                                    A partir de los resultados obtenidos en los ensayos piloto de cultivo, realizado bajo cubierta en invernaderos y en campo, el Ministerio de Salud de la Nación nos otorgó autorización para escalar el área de cultivo a 35 hectáreas en Finca el Pongo. Ya expandimos nuestro cultivo a gran escala con 26.000 semillas en proceso de germinación.
                                </p>
                                <p class="txt1-black">
                                    Las flores fueron cosechadas en la etapa piloto de cultivo bajo inspección del Instituto Nacional de la Semilla (INASE).
                                </p>
                                <p class="txt1-black">
                                    El equipo  técnico y los trabajadores de Cannava trabajan diariamente para atender  las necesidades de nutrición, temperatura, luz, humedad, calidad del aire, control de plagas y otros factores claves que permite que la planta desarrolle todo su potencial.
                                </p>
                                <p class="txt1-black">
                                    La sostenibilidad en el método agrícola es una premisa a lo largo de todo el proceso.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="carouselIndicatorsCultivo" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="1"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="2"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="3"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="4"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="5"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="6"></li>
                            <li data-target="#carouselIndicatorsCultivo" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/static/img/hacemos/Cultivo/20201028_112918.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/20201028_112918.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Cannava_DSC00861.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Cannava_DSC00861.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Avatara_DSC00285.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Avatara_DSC00285.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/CANAVA II-37.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/CANAVA II-37.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Cannava-01331.JPG" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Cannava-01331.JPG" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Cannava_DSC00827.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Cannava_DSC00827.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Cannava-6990.JPG" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Cannava-6990.JPG" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Cultivo/Cannava-7020.JPG" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Cultivo/Cannava-7020.JPG" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-48">
                <div class="col-lg-6 offset-lg-3 col-10 offset-1">
                    <div class="row align-items-end">
                        <div class="col-lg-2 col-3 pl-lg-3 pl-0">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/hacemos/CannavaIcon_Industrializacion.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 pt-3 pt-lg-0">
                            <div class="row">
                                <p id="industrializacion" class="txt3" style="margin-bottom: 0;">Industrialización</p>
                                <hr class="line-g3-black" style="margin-top: 8px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2">
                            <div class="row pt-3">
                                <p class="txt1-black">
                                    Para lograr derivados medicinales de cannabis seguros y de calidad, construimos una planta farmacéutica industrial de 600 m2, dedicada al procesamiento farmo-químico del cannabis y la elaboración de productos medicinales de grado farmacéutico.
                                </p>
                                <p class="txt1-black">
                                    Este complejo industrial fue diseñado íntegramente por los científicos y especialistas jujeños que trabajan en Cannava  que siguieron la guía de buenas prácticas de fabricación de medicamentos de uso humano. El proyecto fue evaluado y obtuvo el visto bueno del Instituto Nacional de Medicamentos y ANMAT para su construcción.
                                </p>
                                <p class="txt1-black">
                                    La Guía de buenas prácticas de fabricación de medicamentos de uso humano establece, en su apartado sobre los requisitos básicos para ingredientes farmacéuticos activos, que las operaciones de producción deben establecerse basados en datos previos de laboratorio de escalas de planta piloto para poder evaluar su impacto en la calidad de los lotes de producto obtenidos.
                                </p>
                                <p class="txt1-black">
                                    Así fue que se estableció la necesidad de contar con una planta piloto que permita estudiar nuevos procesos con el fin de implementarlos a escala industrial y perfeccionar otras técnicas conocidas. La provincia de Jujuy construyó y equipó el primer laboratorio piloto de producción de derivados  medicinales de cannabis del país, donde se realizan las operaciones de extracción, purificación  y obtención del ingrediente farmacéutico activo derivado de cannabis; y posteriormente la formulación del producto final de las gotas de aceite de cannabis que buscan el aval y aprobación de ANMAT como producto farmacéutico.
                                </p>
                                <p class="txt1-black">
                                    Las características del diseño de la Planta Piloto para la extracción de Ingredientes Farmacéuticos Activos, provenientes de la Planta de Cannabis, siguió las normativas específicas dictadas por ANMAT sobre la fabricación de medicamentos.
                                </p>
                                <p class="txt1-black">
                                    Esta planta tiene un multipropósito y la flexibilidad requerida para acometer estudios de investigación, desarrollo e innovación de diversos procesos, tanto farmacéuticos como clínicos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="carouselIndicatorsIndustrializacion" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicatorsIndustrializacion" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicatorsIndustrializacion" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/static/img/hacemos/Industrializacion/Cannava_NOV-02289.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Industrializacion/Cannava_NOV-02289.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/Industrializacion/Cannava_NOV-02297.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/Industrializacion/Cannava_NOV-02297.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-48">
                <div class="col-lg-6 offset-lg-3 col-10 offset-1">
                    <div class="row align-items-end">
                        <div class="col-lg-2 col-3 pl-lg-3 pl-0">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/Icon_IDI.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 pt-3 pt-lg-0">
                            <div class="row">
                                <p id="investigacion" class="txt3" style="margin-bottom: 0;">Investigación, desarrollo e innovación</p>
                                <hr class="line-g3-black" style="margin-top: 8px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2">
                            <div class="row pt-3">
                                <p class="txt1-black">
                                    Cannava promueve y participa de procesos de investigación científica e innovación centrada en las múltiples propiedades medicinales y terapéuticas del cannabis.
                                </p>
                                <p class="txt1-black">
                                    El fortalecimiento institucional es uno de los ejes principales de la política pública. El abordaje integral del fenómeno científico y tecnológico del cannabis medicinal y la capacitación de médicos, enfermeros y otros profesionales vinculados a la salud es una pieza fundamental para garantizar la correcta indicación y uso de derivados de cannabis para el tratamiento de patologías en la Provincia de Jujuy.
                                </p>
                                <p class="txt1-black">
                                    Colaboramos con el Ministerio de Salud de la provincia en el diseño e implementación de los primeros ensayos clínicos que se van a llevar adelante en la provincia y el país.
                                </p>
                                <p class="txt1-black">
                                    El Gobierno de la Provincia, a través de Cannava, gestionó una capacitación para profesionales de salud de la provincia en el uso medicinal del cannabis dictada por la Universidad Hebrea de Jerusalem, del más alto nivel científico y académico.
                                </p>
                                <p class="txt1-black">
                                    Junto al INTI se está trabajando en la implementación de normativas internacionales de gestión de calidad como:
                                </p>
                                <p class="txt1-black">
                                    -ISO 9001 – “Sistema de Gestión de la Calidad”, con el objetivo de asegurar la calidad de todas las etapas del proceso productivo, desde el cultivo hasta la comercialización del producto.
                                </p>
                                <p class="txt1-black">
                                    -ISO/IEC 17025 – “Requisitos generales para la competencia de los laboratorios de ensayo y calibración”, con el objetivo de brindar confiabilidad en las mediciones y ensayos que se realicen en el laboratorio, tanto para control de calidad como el aseguramiento de la calidad de nuestros productos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="carouselIndicatorsIDi" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="1"></li>
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="2"></li>
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="3"></li>
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="4"></li>
                            <li data-target="#carouselIndicatorsIDi" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/static/img/hacemos/IDi/CANAVA II-27.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/CANAVA II-27.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/IDi/Cannava-6775.JPG" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/Cannava-6775.JPG" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/IDi/Cannava_NOV-02245.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/Cannava_NOV-02245.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/IDi/Cannava_NOV-02355.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/Cannava_NOV-02355.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/IDi/Cannava_NOV-02554.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/Cannava_NOV-02554.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/static/img/hacemos/IDi/Cannava_NOV-02569.jpg" target="_blank">
                                    <img class="d-none d-lg-block w-100 offset-2" src="/static/img/hacemos/IDi/Cannava_NOV-02569.jpg" alt="First slide" style="width: 200px; height: 300px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-top-48">
                    <div class="col-lg-6 offset-lg-3 col-10 offset-1">
                        <div class="row align-items-end">
                            <div class="col-lg-2 col-3 pl-lg-3 pl-0">
                                <div class="row">
                                    <div class="col-lg-9 col-12">
                                        <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_InvCient.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 pt-3 pt-lg-0">
                                <div class="row">
                                    <p id="fortalecimiento" class="txt3" style="margin-bottom: 0;">Fortalecimiento Institucional</p>
                                    <hr class="line-g3-black" style="margin-top: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-2">
                                <div class="row pt-3">
                                    <p class="txt2b-black">Fortalecimiento Institucional</p>
                                    <p class="txt1-black">Fomentamos la especialización de profesionales de la salud en la indicación y uso de derivados medicinales de cannabis en diferentes patologías.</p>
                                    <p class="txt1-black">Se está diseñando el programa médico de asistencia terapéutica de la Provincia de Jujuy, que contendrá las guías de indicación y uso de aceites y otros derivados de cannabis a través del sistema de salud púbico.</p>
                                </div>
                                <p>
                                    <a href="../archivos/GrupoDeTrabajoDeCannabisMedicinal.pdf" target="_blank">Grupo de trabajo de Cannabis Medicinal- Decreto N° 2.686/2021</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body_block %}

