{% extends 'web/base.html' %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal">
            <div class="row">
                <video class="video-background" autoplay loop muted playsinline>
                    <source src="{{video.archivo.url}}" type="video/mp4">
                </video>
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="row padding-principal-video">
                        <div class="col-lg-6 offset-lg-0 col-10 offset-1">
                            <h1 class="txt3-white">Somos la primera empresa estatal dedicada a la producción de derivados medicinales de cannabis de Argentina.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NOTICIAS -->
        {% if mostrar.noticia == True %}
            {% include 'web/news.html' %}
        {% endif %}
        <!-- VIDEO -->
        <div class="container-fluid video-container d-none d-lg-block" style="z-index: 999;">
            <div class="col-lg-6 offset-lg-3 col-12">
            <div class="row">
                <div class="col-lg-12 offset-lg-0 col-9 offset-2 padding-top-48">
                    <p class="txt3-green">Irrumpe en Argentina y Latinoamérica como un nuevo modelo de abordaje estatal para la producción de derivados medicinales del cannabis.</p>
                <br><br><br>
                </div>
            </div>
        </div>
            <div class="row padding-bottom-72">
                 <div class="col-lg-8 offset-lg-2 col-12">
                     <div class="row">
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/JW1PDokuKbE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Inauguración del laboratorio de I+D+i</p>
                             </div>

                         </div>
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/eHx7-sx9YwE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">El Proceso</p>
                             </div>
                         </div>
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Uso medicinal del Cannabis</p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 d-block d-lg-none">
            <div id="carouselVideo" class="carousel slide" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                <ol class="carousel-indicators" style="justify-content: left;">
                    <li data-target="#carouselVideo" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselVideo" data-slide-to="1"></li>
                    <li data-target="#carouselVideo" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
<!--                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>-->
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/JW1PDokuKbE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Inauguración del laboratorio de I+D+i</p>
                             </div>

                         </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
<!--                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/DfZbw8f4Rxg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>-->
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/eHx7-sx9YwE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">El Proceso</p>
                             </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
<!--                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/RlMMIOJMlp8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>-->
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Uso medicinal del Cannabis</p>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-9 offset-2 padding-top-48 padding-bottom-32">
                        <p class="txt3-white">Llevamos adelante una producción con prácticas agrícolas de
                            carácter orgánico y contamos con un complejo de biotecnología especializado en
                            la producción de ingredientes farmacéuticos activos derivados de la planta para
                            la producción de derivados de grado médico, seguros y asequibles.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- QUE HACEMOS -->
        <div class="container-fluid que-hacemos-container d-none d-lg-block">
            <div class="row padding-bottom-100">
                <div class="col-lg-8 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Qué hacemos?</h2>
                </div>
                <div class="col-lg-8 offset-lg-2 col-12 offset-2 padding-top-48">
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Produccion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Producción agrícola</p>
                                    <p class="txt1-black">Desarrollamos métodos de estandarización del cultivo desde la
                                        germinación para asegurar que las propiedades medicinales de la planta de cannabis
                                        sean constantes y homogéneas, garantizando la ausencia de pesticidas, metales pesados,
                                        hongos, entre otras amenazas agrícolas que pueden incidir en la calidad de los productos
                                        finales de grado médico.</p>
                                    <a href="/hacemos#cultivo">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Industrializacion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Industrialización</p>
                                    <p class="txt1-black">Tenemos a cargo la producción local de derivados medicinales del cannabis.</p>
                                    <p class="txt1-black">Para lograr que estos sean seguros, de calidad y grado médico,
                                        instalamos un complejo de biotecnología con un laboratorio donde tendrá lugar la
                                        etapa industrial de formulación química y extracción.</p>
                                    <a href="/hacemos#industrializacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/Icon_IDI.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Investigación científica</p>
                                    <p class="txt1-black">Promovemos y participamos de todos los proyectos de investigación
                                        necesarios para garantizar la mejora continua del desarrollo científico que hoy
                                        experimenta la temática a nivel global.</p>
                                    <p class="txt1-black">Junto con el Ministerio de Salud de la Provincia estamos diseñando
                                        los ensayos clínicos que se llevarán a cabo para consolidar el fortalecimiento científico
                                        en el territorio provincial.</p>
                                    <a href="/hacemos#investigacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_InvCient.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Fortalecimiento Institucional</p>
                                    <p class="txt1-black">Fomentamos la especialización de profesionales de la salud en la indicación
                                        y uso de derivados medicinales de cannabis en diferentes patologías.</p>
                                    <p class="txt1-black">Se está diseñando el programa médico de asistencia terapéutica de la
                                        Provincia de Jujuy, que contendrá las guías de indicación y uso de aceites y otros derivados
                                        de cannabis a través del sistema de salud púbico.</p>
                                    <a href="/hacemos#fortalecimiento">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid que-hacemos-container p-0 d-block d-lg-none padding-bottom-100">
            <div class="padding-bottom-72">
                <div class="col-lg-8 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Qué hacemos</h2>
                </div>
            </div>
            <div id="carouselHacemos" class="carousel slide" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                <ol class="carousel-indicators" style="justify-content: left;">
                    <li data-target="#carouselHacemos" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselHacemos" data-slide-to="1"></li>
                    <li data-target="#carouselHacemos" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Produccion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Producción agrícola</p>
                                    <p class="txt1-black">Desarrollamos métodos de estandarización del cultivo desde la
                                        germinación para asegurar que las propiedades medicinales de la planta de cannabis
                                        sean constantes y homogéneas, garantizando la ausencia de pesticidas, metales pesados,
                                        hongos, entre otras amenazas agrícolas que pueden incidir en la calidad de los productos
                                        finales de grado médico.</p>
                                    <a href="/hacemos#cultivo">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Industrializacion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Industrialización</p>
                                    <p class="txt1-black">Tenemos a cargo la producción local de derivados medicinales del cannabis.</p>
                                    <p class="txt1-black">Para lograr que estos sean seguros, de calidad y grado médico,
                                        instalamos un complejo de biotecnología con un laboratorio donde tendrá lugar la
                                        etapa industrial de formulación química y extracción.</p>
                                    <a href="/hacemos#industrializacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/Icon_IDI.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Investigación científica</p>
                                    <p class="txt1-black">Promovemos y participamos de todos los proyectos de investigación
                                        necesarios para garantizar la mejora continua del desarrollo científico que hoy
                                        experimenta la temática a nivel global.</p>
                                    <p class="txt1-black">Junto con el Ministerio de Salud de la Provincia estamos diseñando
                                        los ensayos clínicos que se llevarán a cabo para consolidar el fortalecimiento científico
                                        en el territorio provincial.</p>
                                    <a href="/hacemos#investigacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_InvCient.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Fortalecimiento Institucional</p>
                                    <p class="txt1-black">Fomentamos la especialización de profesionales de la salud en la indicación
                                        y uso de derivados medicinales de cannabis en diferentes patologías.</p>
                                    <p class="txt1-black">Se está diseñando el programa médico de asistencia terapéutica de la
                                        Provincia de Jujuy, que contendrá las guías de indicación y uso de aceites y otros derivados
                                        de cannabis a través del sistema de salud púbico.</p>
                                    <a href="/hacemos#investigacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row padding-bottom-72" style="background-color:white;">
                <div class="col-lg-8 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Informe de gestión</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-36">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <a href="../archivos/InformeGestionCannava2021.pdf" target="_blank">Año 2020 - 2021</a>
                            </p><br />
                        </div>
                    </div>
                </div>

        <!-- ALIANZAS -->
        <div class="container-fluid">
            <div class="row padding-bottom-72" style="background-color:white;">
                <div class="col-lg-8 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Alianzas estratégicas</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-36">
                    <div class="row">
                        <div class="col-12">
                            <p class="txt2-green">Un ecosistema colaborativo que involucra organismos públicos, ONG, instituciones académicas y compañías privadas.</p>
                        </div>
                    </div>
                </div>
                <div id="carouselMobile" class="carousel slide d-block d-lg-none col-10 offset-1" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for alianza in alianzas %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a href="/somos#alianzas" target="_blank" title="{{alianza.nombre}}" class="thumb">
                                    <img class="img-fluid mx-auto d-block" src="{{alianza.logo.url}}" alt="{{alianza.nombre}}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 d-none d-lg-block">
                    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            {% for alianza in alianzas %}
                                <div class="carousel-item mr-0 col-md-3 {% if forloop.first %}active{% endif %}">
                                    <div class="panel panel-default">
                                        <div class="panel-thumbnail">
                                            <a href="/somos#alianzas" target="_blank" title="{{alianza.nombre}}" class="thumb">
                                                <img class="img-fluid mx-auto d-block" src="{{alianza.logo.url}}" alt="{{alianza.nombre}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-36">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <a href="../archivos/GrupoDeTrabajoDeCannabisMedicinal.pdf" target="_blank">Grupo de trabajo de Cannabis Medicinal- Decreto N° 2.686/2021</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;

          z-index: -9;
          object-fit: cover;
          -ms-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
    </style>

{% endblock body_block %}

{% block extra_scripts %}
    <script src="/static/js/mostrar.js"></script>
{% endblock %}