{% extends 'sistema/base.html' %}
{% load menu_tags %}
{% load seguridad_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Principal:</h1><br />
                <div class="row">        

                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% ct_opciones request.user as opciones %}
                            <!--Opciones Dinamicas-->
                            {% for opcion in opciones %}
                                <li><a href="/{{opcion.1}}">{{opcion.0}}</a></li>
                            {% endfor %}

                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                            {% endif %}

                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col col-md-1 offset-1"></div>#}
{#                        <div class="col">#}
{#                            <a type="button" class="btn" href="{% url 'logout' %}">#}
{#                                <img class="icons" src="/static/img/icons/logout.png" alt="Salir">         Salir#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}