{% extends 'sistema/base.html' %}
{% load menu_tags %}
{% load seguridad_tags %}

{% block body_block %}

<div class="beneficiario container">
        <div class="row">
            <h2>Opciones del Home</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Sección</th>
                        <th>Opción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for muestra in mostrar %}
                        <tr>
                            <td>Noticias</td>
                            <td>
                                <a href="#">
                                    <img class="icons" src="#">
                                </a>
                                <a href="#">
                                    <img class="icons" src="#">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}