{% extends 'web/base.html' %}
{% block extra_css %}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/modaleffects/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/modaleffects/component.css" />
{% endblock extra_css %}

{% block extra_scripts %}
    <!-- Custom Scripts -->
{% endblock extra_scripts %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-somos">
            <div class="row" style="padding-top: 280px; padding-bottom: 64px;">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <h2 class="txt3-white">La primera empresa estatal de producción e industrialización de derivados medicinales de cannabis en Argentina.</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- VIDEO -->
        <div class="container-fluid" style="background-color: white;">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-10 offset-1" style="margin-top: -40px;">
                    <div class="row">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-10 offset-1 padding-top-48 padding-bottom-100 d-none d-lg-block">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">Una iniciativa jujeña de salud pública</p>
                            <p class="txt1-black">Cannava nace a partir de la iniciativa del Gobierno de Jujuy, con el propósito de satisfacer demandas de salud pública y poner al alcance de la población los primeros derivados de industria nacional de grado médico, cumpliendo con los estándares de buenas prácticas agrícolas y buenas prácticas de manufactura, en línea con los requisitos que impone la ANMAT.</p>
                            <p class="txt1-black">Es el sostén estatal, institucional y técnico de todo el proceso productivo, desde el cultivo hasta la producción y comercialización de sus derivados medicinales.</p></p>
                        </div>
                        <div class="col-md-4 col-12">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">Hacia una nueva economía regional</p>
                            <p class="txt1-black">Capaz de generar cientos de puestos de trabajo, I + D + I y transferencia de tecnología, aportando a la transformación de la matriz productiva de Jujuy y el país.</p>
                            <p class="txt1-black">El complemento de la fase agrícola con la industrial, le otorga al proyecto una fuerte impronta biotecnológica dada la inserción de los aspectos científicos y tecnológicos asociados a la actividad.</p>
                        </div>
                        <div class="col-md-4 col-12">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">De proyección global</p>
                            <p class="txt1-black">Los permisos logrados por Cannava con organismos gubernamentales y los acuerdos estratégicos con empresas, universidades y ONG nacionales y extranjeras, son la clave de su proyección global y de su visión social, abierta y colaborativa.</p>
                        </div>
                    </div>
                </div>

                <div id="carouselSomosVideo" class="carousel slide  padding-top-48 d-block d-lg-none" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                    <ol class="carousel-indicators" style="justify-content: left;">

                        <li data-target="#carouselSomosVideo" data-slide-to="0" class="active" style="margin-left: 5px !important;"></li>
                        <li data-target="#carouselSomosVideo" data-slide-to="1"></li>
                        <li data-target="#carouselSomosVideo" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="min-height: 450px;">
                        <div class="carousel-item active">
                            <div class="col-md-4 col-9 offset-2">
                                <div class="row">
                                    <hr class="line-g3-black">
                                    <p class="txt2b-black">Una iniciativa jujeña de salud pública</p>
                                    <p class="txt1-black">Cannava nace a partir de la iniciativa del Gobierno de Jujuy, con el propósito de atender y dar respuesta a una necesidad de salud pública: elaborar derivados medicinales desarrollados según los estándares de calidad y trazabilidad que requiere la actividad.</p>
                                    <p class="txt1-black">Irrumpe en Argentina y Latinoamérica como un nuevo modelo de abordaje estatal para la producción de medicamentos derivados del cannabis.</p></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4 col-9 offset-2">
                                <div class="row">
                                    <hr class="line-g3-black">
                                    <p class="txt2b-black">Hacia una nueva economía regional</p>
                                    <p class="txt1-black">Capaz de generar cientos de puestos de trabajo, I + D + I y transferencia de tecnología, aportando a la transformación de la matriz productiva de Jujuy y el país.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4 col-9 offset-2">
                                <div class="row">
                                    <hr class="line-g3-black">
                                    <p class="txt2b-black">De proyección global</p>
                                    <p class="txt1-black">Los permisos logrados por Cannava con organismos gubernamentales y los acuerdos estratégicos con empresas, universidades y ONG nacionales y extranjeras, son la clave de su proyección global y de su visión social, abierta y colaborativa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MISION -->
        <div id="mision" class="container-fluid p-0">
            <div id="carouselExampleIndicatorsValores" class="carousel slide d-none d-lg-block" data-ride="carousel" data-interval="9000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Mision_600x1200.jpg" alt="First slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Mision_1920x800.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-lg-block" style="bottom: auto; top: 130px;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Misión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 offset-4">
                                        <p class="txt1-white">Mejorar la calidad de vida de las personas a través de la producción local de derivados medicinales del cannabis, siguiendo un modelo de desarrollo colaborativo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Misión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <p class="txt1-white">Mejorar la calidad de vida de las personas a través de la producción local de derivados medicinales del cannabis, siguiendo un modelo de desarrollo colaborativo</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Vision_600x1200.jpg" alt="Second slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Vision_1920x800.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-lg-block" style="bottom: auto; top: 130px;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Visión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 offset-4">
                                        <p class="txt1-white">Liderar y promover el desarrollo de la industria del cannabis medicinal en Argentina y la región, con proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Visión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <p class="txt1-white">Liderar y promover el desarrollo de la industria del cannabis medicinal en Argentina y la región, con proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Valores_600x1200.jpg" alt="Third slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Valores_1920x800.jpg" alt="Third slide">
                        <div class="carousel-caption text-center d-none d-lg-block" style="bottom: auto; top: 100px;">
                            <div class="col-lg-12" style="text-align: left;">
                                <hr class="line-g2-white">
                                <h5 class="txt2b-white">Valores</h5>
                                <div class="row pt-3">
                                    <div class="col-6">

                                        <p class="txt1b-white">Innovación</p>
                                        <p class="txt1-white">Evolucionamos de la mano de los avances científicos y medicinales vinculados al uso del cannabis; Nuestro objetivo principal es el de poner al alcance de la gente nuevos productos seguros para atender necesidades médicas insatisfechas.</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="txt1b-white">Perspectiva sistémica</p>
                                        <p class="txt1-white">Actuamos sobre la base de la comprensión integrada y transdisciplinaria de los fenómenos físico-químicos, biológicos y humanos que intervienen en la toma de decisiones y el cumplimiento de nuestros objetivos.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="txt1b-white">Respeto por la tierra</p>
                                        <p class="txt1-white">El ambiente es el interlocutor más valioso para garantizar el éxito de nuestros objetivos</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="txt1b-white">Sinergia</p>
                                        <p class="txt1-white">Promovemos modelos de desarrollo colaborativo, conformando un ecosistema de instituciones gubernamentales, empresas y asociaciones civiles que interactúan de forma directa o indirecta en el cumplimiento de nuestros objetivos. Este enfoque abierto constituye la clave de nuestra proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption text-center d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-12" style="text-align: left;">
                                <hr class="line-g2-white">
                                <h5 class="txt2b-white">Valores</h5>
                                <div id="accordion">
                                  <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">

                                        <button class="btn btn-link txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: left;">
                                            <p class="txt1b-white p-0 m-0" style="display:inline;">Innovación</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                            <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Evolucionamos de la mano de los avances científicos y medicinales vinculados al uso del cannabis; Nuestro objetivo principal es el de poner al alcance de la gente nuevos productos seguros para atender necesidades médicas insatisfechas.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-align: left;">
                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Perspectiva sistémica</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Actuamos sobre la base de la comprensión integrada y transdisciplinaria de los fenómenos físico-químicos, biológicos y humanos que intervienen en la toma de decisiones y el cumplimiento de nuestros objetivos.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-align: left;">

                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Respeto por la tierra</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        El ambiente es el interlocutor más valioso para garantizar el éxito de nuestros objetivos.
                                      </div>
                                    </div>
                                  </div>
                                    <div class="card">
                                    <div class="card-header" id="headingFour">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-align: left;">
                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Sinergia</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Promovemos modelos de desarrollo colaborativo, conformando un ecosistema de instituciones gubernamentales, empresas y asociaciones civiles que interactúan de forma directa o indirecta en el cumplimiento de nuestros objetivos. Este enfoque abierto constituye la clave de nuestra proyección global.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="carouselExampleIndicatorsValores" class="carousel slide d-block d-lg-none" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicatorsValores" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Mision_600x1200.jpg" alt="First slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Mision_1920x800.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-lg-block" style="bottom: auto; top: 130px;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Misión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 offset-4">
                                        <p class="txt1-white">Mejorar la calidad de vida de las personas a través de la producción local de derivados medicinales del cannabis, siguiendo un modelo de desarrollo colaborativo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Misión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <p class="txt1-white">Mejorar la calidad de vida de las personas a través de la producción local de derivados medicinales del cannabis, siguiendo un modelo de desarrollo colaborativo</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Vision_600x1200.jpg" alt="Second slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Vision_1920x800.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-lg-block" style="bottom: auto; top: 130px;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Visión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 offset-4">
                                        <p class="txt1-white">Liderar y promover el desarrollo de la industria del cannabis medicinal en Argentina y la región, con proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-lg-6" style="text-align: left;">
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <hr class="line-g2-white">
                                        <h5 class="txt2b-white">Visión</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <p class="txt1-white">Liderar y promover el desarrollo de la industria del cannabis medicinal en Argentina y la región, con proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block d-lg-none w-100" src="/static/img/somos/Valores_600x1200.jpg" alt="Third slide">
                        <img class="d-none d-lg-block w-100" src="/static/img/somos/Valores_1920x800.jpg" alt="Third slide">
                        <div class="carousel-caption text-center d-none d-lg-block" style="bottom: auto; top: 130px;">
                            <div class="col-lg-12" style="text-align: left;">
                                <hr class="line-g2-white">
                                <h5 class="txt2b-white">Valores</h5>
                                <div class="row pt-3">
                                    <div class="col-6">

                                        <p class="txt1b-white">Innovación</p>
                                        <p class="txt1-white">Evolucionamos de la mano de los avances científicos y medicinales vinculados al uso del cannabis; Nuestro objetivo principal es el de poner al alcance de la gente nuevos productos seguros para atender necesidades médicas insatisfechas.</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="txt1b-white">Perspectiva sistémica</p>
                                        <p class="txt1-white">Actuamos sobre la base de la comprensión integrada y transdisciplinaria de los fenómenos físico-químicos, biológicos y humanos que intervienen en la toma de decisiones y el cumplimiento de nuestros objetivos.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="txt1b-white">Respeto por la tierra</p>
                                        <p class="txt1-white">El ambiente es el interlocutor más valioso para garantizar el éxito de nuestros objetivos</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="txt1b-white">Sinergia</p>
                                        <p class="txt1-white">Promovemos modelos de desarrollo colaborativo, conformando un ecosistema de instituciones gubernamentales, empresas y asociaciones civiles que interactúan de forma directa o indirecta en el cumplimiento de nuestros objetivos. Este enfoque abierto constituye la clave de nuestra proyección global.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption text-center d-block d-lg-none w-100" style="bottom: auto; top: 10px; left: 0;">
                            <div class="col-12" style="text-align: left;">
                                <hr class="line-g2-white">
                                <h5 class="txt2b-white">Valores</h5>
                                <div id="accordion">
                                  <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">

                                        <button class="btn btn-link txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: left;">
                                            <p class="txt1b-white p-0 m-0" style="display:inline;">Innovación</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                            <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Evolucionamos de la mano de los avances científicos y medicinales vinculados al uso del cannabis; Nuestro objetivo principal es el de poner al alcance de la gente nuevos productos seguros para atender necesidades médicas insatisfechas.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-align: left;">
                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Perspectiva sistémica</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Actuamos sobre la base de la comprensión integrada y transdisciplinaria de los fenómenos físico-químicos, biológicos y humanos que intervienen en la toma de decisiones y el cumplimiento de nuestros objetivos.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-align: left;">

                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Respeto por la tierra</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        El ambiente es el interlocutor más valioso para garantizar el éxito de nuestros objetivos.
                                      </div>
                                    </div>
                                  </div>
                                    <div class="card">
                                    <div class="card-header" id="headingFour">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed txt1b-white p-0 m-0 w-100" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-align: left;">
                                          <p class="txt1b-white p-0 m-0" style="display:inline;">Sinergia</p><p class="txt1b-white p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                          <hr class="line-g2-white mt-2">
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                      <div class="card-body txt1-white">
                                        Promovemos modelos de desarrollo colaborativo, conformando un ecosistema de instituciones gubernamentales, empresas y asociaciones civiles que interactúan de forma directa o indirecta en el cumplimiento de nuestros objetivos. Este enfoque abierto constituye la clave de nuestra proyección global.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EQUIPO -->
        <div id="equipo" class="container-fluid padding-top-96" style="background-color:white;">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <hr class="line-g3-black">
                        <p class="txt3">Nuesto equipo</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-32 padding-bottom-72">
                    <div class="row">
                        <div class="col-12">
                            <p class="txt2-green mb-0">Directorio</p>
                        </div>
                    </div>
                    <div class="row">
                    {% for director in directores %}
                        <div class="col-lg-4 pt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="{{director.foto.url}}" alt="" style="width: 100%;">
                                    <p class="txt3-green m-0 pt-3">{{director.nombres}}</p>
                                    <p class="txt3-green m-0">{{director.apellidos}}</p>
                                    <hr class="line-g1 mt-1">
                                    <a data-toggle="modal" data-target="#director{{director.orden}}" href="#"><p class="txt1-black m-0 pt-1" style="display:inline;">{{director.cargo}}</p><p class="txt1-black m-0 pt-1" style="display:inline; float: right;">+</p></a>
                                    <hr class="line-g1 m-0">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: white;">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12 offset-2 padding-top-32 padding-bottom-72">
                    <div class="row pt-3 padding-bottom-32">
                        <div class="col-12">
                            <p class="txt2-green p-0 m-0">Áreas de Gestión</p>
                        </div>
                    </div>
                    <div class="row d-none d-lg-flex">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Cultivo.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Cultivo y producción</p>
                                    <p class="txt1-black">Análisis, diseño y ejecución de los objetivos propuestos
                                        en el proceso agrícola de producción y cultivo para la obtención de materia
                                        prima de calidad. Incluye desde la siembra, preparación de suelos, diseño y
                                        gestión de la infraestructura y equipamiento necesarios para la plantación,
                                        manejo y monitoreo de cultivo, cosecha y secado hasta los métodos de control
                                        y certificación de estándares, estabilización y trazabilidad desde la semilla
                                        hasta la obtención de flor seca para la extracción de aceites, derivados y
                                        subproductos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Finanzas.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Planificación financiera</p>
                                    <p class="txt1-black">Encargada de los aspectos financieros que requiere Cannava en
                                        el desarrollo de sus actividades, priorizando la generación de empleo y de recursos
                                        económicos para la provincia, tanto en la fase de producción primaria como en la
                                        de industrialización.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_IDI.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">I + D + I</p>
                                    <p class="txt1-black">Generación de conocimiento a través de la investigación
                                        científica, desarrollo tecnológico e innovación en la calidad, el grado médico y
                                        la trazabilidad de la producción local de derivados medicinales del cannabis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Comunicacion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Comunicación</p>
                                    <p class="txt1-black">Define las estrategias y políticas de comunicación de Cannava.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none d-lg-flex">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Legales.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Asuntos legales</p>
                                    <p class="txt1-black">Constituye el sostén jurídico de todas las acciones de Cannava,
                                        desde los convenios celebrados con organismos gubernamentales hasta los acuerdos
                                        comerciales con terceras empresas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Administracion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Administración</p>
                                    <p class="txt1-black">Tiene a su cargo el control, seguimiento y optimización de la
                                        ejecución presupuestaria de Cannava, priorizando la eficiencia en el gasto de los
                                        recursos públicos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/Icons_GestionInt.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Sistema de gestión integrado</p>
                                    <p class="txt1-black">Enmarca su sistema de gestión en el cumplimiento de los requerimientos
                                        establecidos en la “Guía de buenas prácticas de fabricación para elaboradores,
                                        importadores / exportadores de medicamentos de uso humano”, conforme a lo exigido
                                        por ANMAT en la disposición 3827/2018. Contempla el cumplimiento de normas
                                        ISO 9001 e ISO/IEC 17025.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/somos/areas/Icons_Talento.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Talento humano</p>
                                    <p class="txt1-black">Establecer los lineamientos para el requerimiento, reclutamiento,
                                        selección, contratación, inducción, capacitación y evaluación del personal de Cannava.</p>
                                    <p class="txt1-black">Asegurar la competencia del personal en base a la educación, formación,
                                        habilidades y experiencia apropiadas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="carouselGestion" class="carousel slide d-block d-lg-none" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                        <ol class="carousel-indicators ml-0 mr-0" style="justify-content: left;">
                            <li data-target="#carouselGestion" data-slide-to="0" class="active" style="margin-left: 0 !important;"></li>
                            <li data-target="#carouselGestion" data-slide-to="1"></li>
                            <li data-target="#carouselGestion" data-slide-to="2"></li>
                            <li data-target="#carouselGestion" data-slide-to="3"></li>
                            <li data-target="#carouselGestion" data-slide-to="4"></li>
                            <li data-target="#carouselGestion" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner" style="min-height: 350px;">
                            <div class="carousel-item active">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Cultivo.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">Cultivo y producción</p>
                                                <p class="txt1-black">Analiza, diseña y ejecuta los objetivos agrícolas del proceso de producción: desde la preparación de la tierra y el diseño de la infraestructura necesaria para la germinación y siembra, hasta los métodos de estandarización, control y trazabilidad del cultivo y su cosecha.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Finanzas.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">Planificación financiera</p>
                                                <p class="txt1-black">Encargada de los aspectos financieros que requiere Cannava en el desarrollo de sus actividades, priorizando la generación de empleo y de recursos económicos para la provincia, tanto en la fase de producción primaria como en la de industrialización</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_IDI.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">I + D + I</p>
                                                <p class="txt1-black">Generación de conocimiento a través de la investigación científica, desarrollo tecnológico e innovación en la calidad, el grado médico y la trazabilidad de la producción local de derivados medicinales del cannabis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Comunicacion.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">Comunicación</p>
                                                <p class="txt1-black">Define las estrategias y políticas de comunicación de Cannava.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Legales.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">Asuntos legales</p>
                                                <p class="txt1-black">Constituye el sostén jurídico de todas las acciones de Cannava, desde los convenios celebrados con organismos gubernamentales hasta los acuerdos comerciales con terceras empresas.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <img class="img-fluid mx-auto d-block" src="/static/img/somos/areas/CannavaIcon_Administracion.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <p class="txt2b-black">Administración</p>
                                                <p class="txt1-black">Tiene a su cargo el control, seguimiento y optimización de la ejecución presupuestaria de Cannava, priorizando la eficiencia en el gasto de los recursos públicos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alianzas -->

        <div id="alianzas" class="container-fluid backgoundcolor-grey padding-top-96 padding-bottom-72">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1">
                    <div class="row">
                        <hr class="line-g3-black">
                        <p class="txt3">Alianzas Estratégicas</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-32">
                    <p class="txt2-black">Un ecosistema colaborativo, clave por su proyección global y su visión social, abierta y colaborativa, actúa como soporte y resorte de las acciones de Cannava.</p>
                </div>
<!-- Bloque 1  -->

<!-- Alianza -->
                {% for categoria in categorias %}
                    <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-48">
                        <p class="txt2b-black p-0 m-0">{{categoria.1}}</p>
                        <hr class="line-g1 p-0 m-0">
                    </div>
                    {% for alianza in alianzas %}
                        {% if alianza.tipo == categoria.0 %}
                            <div class="col-lg-5 offset-lg-4 col-9 offset-2">
                                <a data-toggle="modal" data-target="#alianza{{alianza.orden}}" href="">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p class="txt1-green p-0 m-0" style="display:inline">{{alianza.nombre}}</p><p class="txt1-green p-0 m-0 pr-2" style="display:inline; float: right;">+</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <hr class="line-g1 p-0 m-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

<!-- Nuestro equipo -->
    {% for director in directores %}
        <div class="modal fade" id="director{{director.orden}}" tabindex="-1" role="dialog" aria-labelledby="{{director.apellidos}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content backgoundcolor-grey mt-5" style="z-index: 99999 !important;">
                    <div class="modal-header">
                        <img src="{{director.foto.url}}" alt="foto {{director.nombres}} {{director.apellidos}}" style="width: 100%;">
                        <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="txt3-green mb-0">{{director.nombres}} {{director.apellidos}}</p>
                        <hr class="line-g1 m-0">
                        <p class="txt1b-black m-0">{{director.cargo}}</p>
                        <hr class="line-g1 mt-1">
                        <p class="txt1-black m-0"><a href="mailto:{{director.email}}" class="txt1-black">{{director.email}}</a></p>
                        <hr class="line-g1 mt-0">
                        <p class="txt1-black m-0">
                            <a href="{{director.linkedin}}" class="txt1-black">
                                <p class="txt1-black m-0 pt-2">Linkedin</p>
                            </a>
                        <hr class="line-g1 mt-0">
                        <p class="txt1b-black pt-4">{{director.descripcion_high|safe}}</p>
                        <p class="txt1-black">{{director.descripcion_low|safe}}</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
<!-- Alianzas -->
<!-- Bloque 2 -->
        {% for alianza in alianzas %}
            <div class="modal fade" id="alianza{{alianza.orden}}" tabindex="-1" role="dialog" aria-labelledby="{{alianza.nombre}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content backgoundcolor-grey mt-5" style="z-index: 99999 !important;">
                        <div class="modal-header">
                            <img src="{{alianza.logo.url}}" alt="" style="width: 100%;">
                            <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <hr class="line-g1">
                            <p class="txt3-green">{{alianza.nombre}}</p>
                            <p class="txt1b-black pt-2 pb-0 mb-0">{{alianza.get_nacionalidad_display}}</p>
                            <hr class="line-g1 pb-2 pt-0 mt-0">
                            <p class="txt1-black">{{alianza.descripcion|safe}}</p>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock body_block %}