{% extends 'web/base.html' %}

{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal">
            <div class="row">
                <video autoplay="autoplay" muted="muted" loop="loop">
                    <source src="/static/videos/test.mp4" type="video/mp4">
                </video>
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="row padding-principal-video">
                        <div class="col-lg-6 offset-lg-0 col-10 offset-1">
                            <h1 class="txt3-white">Somos la primera empresa estatal dedicada a la producción de derivados medicinales de cannabis de Argentina.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- VIDEO -->
        <div class="container-fluid video-container d-none d-lg-block" style="z-index: 999;">
            <div class="row padding-bottom-72">
                 <div class="col-lg-8 offset-lg-2 col-12">
                     <div class="row">
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Uso medicinal del Cannabis</p>
                             </div>

                         </div>
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/DfZbw8f4Rxg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Tierras de cultivo Cannava</p>
                             </div>
                         </div>
                         <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/RlMMIOJMlp8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Plan de seguridad Cannava</p>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-0 col-9 offset-2 padding-top-48">
                            <p class="txt3-green">Irrumpe en Argentina y Latinoamérica como un nuevo modelo de abordaje estatal para la producción de derivados medicinales del cannabis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 d-block d-lg-none">
            <div id="carouselVideo" class="carousel slide" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                <ol class="carousel-indicators" style="justify-content: left;">
                    <li data-target="#carouselVideo" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselVideo" data-slide-to="1"></li>
                    <li data-target="#carouselVideo" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/A0WSlHcEY58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Uso medicinal del Cannabis</p>
                             </div>

                         </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/DfZbw8f4Rxg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Tierras de cultivo Cannava</p>
                             </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-12" style="margin-top: -40px;">
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/RlMMIOJMlp8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                            </div>
                             <div class="col-12 backgoundcolor-green">
                                 <p class="txt2b-white m-0 pt-2 pb-1">Plan de seguridad Cannava</p>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-9 offset-2 padding-top-48 padding-bottom-32">
                        <p class="txt3-green">Irrumpe en Argentina y Latinoamérica como un nuevo modelo de abordaje estatal para la producción de derivados medicinales del cannabis.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- QUE HACEMOS -->
        <div class="container-fluid que-hacemos-container d-none d-lg-block">
            <div class="row padding-bottom-100">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Qué hacemos</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-48">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Produccion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Producción agrícola</p>
                                    <p class="txt1-black">Tenemos como premisa desarrollar métodos de estandarización del cultivo, que permitan que las propiedades medicinales de la planta de cannabis sean constantes y homogéneas, garantizando la ausencia de pesticidas, metales pesados, hongos, entre otras amenazas agrícolas que pueden incidir en la calidad de los productos finales de grado médico.</p>
                                    <a href="/hacemos#cultivo">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Industrializacion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Industrialización</p>
                                    <p class="txt1-black">Tenemos a cargo la producción local de derivados medicinales del cannabis.</p>
                                    <p class="txt1-black">Para lograr que estos sean seguros, de calidad y grado médico, instalaremos laboratorios donde tendrá lugar la etapa industrial de formulación química y extracción.</p>
                                    <a href="/hacemos#industrializacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_InvCient.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Investigación científica</p>
                                    <p class="txt1-black">Promovemos, desarrollamos y participamos de procesos de investigación científica e innovación en diferentes aspectos vinculados al cannabis medicinal.</p>
                                    <p class="txt1-black">Colaboramos con el Ministerio de Salud de la Provincia en el diseño e implementación de los primeros ensayos clínicos para epilepsia refractaria que se van a llevar a cabo durante el año 2019</p>
                                    <a href="/hacemos#investigacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid que-hacemos-container p-0 d-block d-lg-none padding-bottom-100">
            <div class="padding-bottom-72">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Qué hacemos</h2>
                </div>
            </div>
            <div id="carouselHacemos" class="carousel slide" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
                <ol class="carousel-indicators" style="justify-content: left;">
                    <li data-target="#carouselHacemos" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselHacemos" data-slide-to="1"></li>
                    <li data-target="#carouselHacemos" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Produccion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Producción agrícola</p>
                                    <p class="txt1-black">Tenemos como premisa desarrollar métodos de estandarización del cultivo, que permitan que las propiedades medicinales de la planta de cannabis sean constantes y homogéneas, garantizando la ausencia de pesticidas, metales pesados, hongos, entre otras amenazas agrícolas que pueden incidir en la calidad de los productos finales de grado médico.</p>
                                    <a href="/hacemos#cultivo">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_Industrializacion.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Industrialización</p>
                                    <p class="txt1-black">Tenemos a cargo la producción local de derivados medicinales del cannabis.</p>
                                    <p class="txt1-black">Para lograr que estos sean seguros, de calidad y grado médico, instalaremos laboratorios donde tendrá lugar la etapa industrial de formulación química y extracción.</p>
                                    <a href="/hacemos#industrializacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-9 offset-2">
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid mx-auto d-block" src="/static/img/home/CannavaIcon_InvCient.png" alt="">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <p class="txt2b-black">Investigación científica</p>
                                    <p class="txt1-black">Promovemos, desarrollamos y participamos de procesos de investigación científica e innovación en diferentes aspectos vinculados al cannabis medicinal.</p>
                                    <p class="txt1-black">Colaboramos con el Ministerio de Salud de la Provincia en el diseño e implementación de los primeros ensayos clínicos para epilepsia refractaria que se van a llevar a cabo durante el año 2019</p>
                                    <a href="/hacemos#investigacion">
                                        <hr class="line-g1-green">
                                        <p class="txt1b-green">conocer más</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ALIANZAS -->
        <div class="container-fluid">
            <div class="row padding-bottom-72">
                <div class="col-lg-7 offset-lg-2 col-10 offset-1 margin-negative-g3">
                    <hr class="line-g3-black mt-0">
                    <h2 class="txt3">Alianzas estratégicas</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 padding-top-36">
                    <div class="row">
                        <div class="col-12">
                            <p class="txt2-green">Un ecosistema colaborativo que involucra organismos públicos, ONG, instituciones académicas y compañías privadas.</p>
                        </div>
                    </div>
                </div>
                <div id="carouselMobile" class="carousel slide d-block d-lg-none col-10 offset-1" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/somos#alianzas" target="_blank" title="image 1" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/MinSalud_Logo.jpg" alt="Ministerio de Salud">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 3" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/MinSeguridad_Logo.jpg" alt="Ministerio de Seguridad">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 4" class="thumb">
                               <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INTA_Logo.jpg" alt="INTA">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 14" class="thumb">
                               <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INTI_Logo_2019.png" alt="INTI">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 5" class="thumb">
                               <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INASE_Logo.jpg" alt="INASE">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 6" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/ANMAT_Logo.jpg" alt="ANMAT">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 7" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/SENASA_Logo.jpg" alt="SENASA">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/CTJ_Logo.jpg" alt="CTJ">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 9" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/CannMedJuj_Logo.jpg" alt="Cannabis Medicinal Jujuy">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 10" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/GreenLeaf_Logo.jpg" alt="Green Leaf">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 11" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/Blueberries_Logo.jpg" alt="Blueberries">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 12" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/AFV_Logo.jpg" alt="AFV">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/somos#alianzas" target="_blank" title="image 13" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/Knop_Logo.jpg" alt="Knop">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-9 offset-2 d-none d-lg-block">
                    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            <div class="carousel-item mr-0 col-md-3 active">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 3" class="thumb">
                                     <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/MinSalud_Logo.jpg" alt="Ministerio de Salud">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 3" class="thumb">
                                     <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/MinSeguridad_Logo.jpg" alt="Ministerio de Seguridad">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 4" class="thumb">
                                     <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INTA_Logo.jpg" alt="INTA">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 14" class="thumb">
                                     <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INTI_Logo.jpg" alt="INTI">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                                <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 5" class="thumb">
                                     <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/INASE_Logo.jpg" alt="INASE">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                              <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 6" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/ANMAT_Logo.jpg" alt="ANMAT">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 7" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/SENASA_Logo.jpg" alt="SENASA">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/CTJ_Logo.jpg" alt="CTJ">
                                    </a>
                                  </div>
                                </div>
                            </div>

                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/CannMedJuj_Logo.jpg" alt="Cannabis Medicianl Jujuy">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/GreenLeaf_Logo.jpg" alt="Green Leaf">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/Blueberries_Logo.jpg" alt="Blueberries">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/AFV_Logo.jpg" alt="AFV">
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="carousel-item mr-0 col-md-3 ">
                               <div class="panel panel-default">
                                  <div class="panel-thumbnail">
                                    <a href="/somos#alianzas" target="_blank" title="image 8" class="thumb">
                                      <img class="img-fluid mx-auto d-block" src="/static/img/alianzas/Knop_Logo.jpg" alt="Knop">
                                    </a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;

          z-index: -9;
          object-fit: cover;
          -ms-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
    </style>

{% endblock body_block %}