{% load menu_tags %}

{% block content %}
<div class="fixed-top">
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu" class="fas fa-bars"></label>
        <!--<span><i for="btn-menu" ></i>-->
        <a href="{% url 'core:menu' %}">
            <img src="/static/img/logos/Logo_Cannava_Solo_800px_White.png" alt="" />  |  Sistema de Trazabilidad
        </a>
        <div class="usuario">
            <li class="nav-item dropdown">
                <img src="/static/img/masculine-avatar-user-with-suit_icon-icons.com_68296.png">
                    {{request.user.username}}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include 'info_user.html' %}
                </div>
            </li>
        </div>
        <div class="container-menu">
            <ul>
                <li class="submenu"><a href="{% url 'core:menu' %}"><i class="icon-home-1">Menú Principal</i></a></li>

                <li class="submenu"><a href="#"><i class="icon-pagelines">Cultivo</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/cultivo/loteSemillas">- Lote de Semillas</a></li>
                        <li><a href="/cultivo/loteGerminacion">- Lote de Germinación</a></li>
                        <li><a href="/cultivo/loteVegetativo">- Lote Vegetativo</a></li>
                        <li><a href="/cultivo/loteMadre">- Lote de Planta Madres</a></li>
                        <li><a href="/cultivo/construccion">- Lote de Esquejes</a></li>
                        <li><a href="/cultivo/loteFloracion">- Lote de Floración</a></li>
                        <li><a href="/cultivo/loteSecado">- Lote de Trimming y Secado</a></li>
                        <li><a href="/cultivo/loteMaterial">- Lote de Flores Deshidratadas</a></li>
                        <li><a href="/cultivo/loteDestruccion">- Plantas Destruidas</a></li>
                        <li><a href="/reportes/informe">- Generación de Informes</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="#"><i class="icon-share">Comunicaciones</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/noticias/lista">- Listado de Noticias</a></li>
                        <li><a href="/mostrar">- Visualizar Comunicaciones</a></li>
                        <li><a href="/alianzas">- Listado de Alianzas</a></li>
                        <li><a href="/directivos">- Listado de Directivos</a></li>
                        <li><a href="/videos">- Videos</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="#"><i class="icon-book">Inventario</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/inventario/lista">- Inventario Detallado</a></li>
                        <li><a href="/inventario/crear/rubro">- Crear Rubro</a></li>
                        <li><a href="/inventario/crear">- Cargar Item</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="/cultivo/semilla"><i class="icon-leaf">Semillas</i></a>
                </li>
                <li class="submenu"><a href="#"><i class="icon-list-alt">Comercial</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/comercial/lista_proveedores">- Proveedores</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="#"><i class="icon-users">Operadores</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/operadores/crear/op">- Crear Operador</a></li>
                        <li><a href="/operadores/listar/op">- Ver Listado de Operadores</a></li>
                        <li><a href="/operadores/imprimir">- Imprimir Credenciales</a></li>
                        <li><a href="/operadores/checkin">- Igreso Operador</a></li>
                        <li><a href="#">- Listado de Presentes</a></li>
                        <li><a href="/operadores/asistencia">- Registro de Asistencia</a></li>
                        <li><a href="/operadores/auditoria">- Ver Auditoria de Operadores</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="#"><i class="icon-location">Ubicaciones</i><span class="fas fa-chevron-down"></span></a>
                    <ul>
                        <li><a href="/georef/predios">Establecimiento / Predio</a></li>
                        <li><a href="/georef/instalaciones">Instalaciones</a></li>
                        <li><a href="/georef/divisiones">Sub-Instalaciones / Divisiones</a></li>
                        <li><a href="/georef/recipientes">Recipientes / Contenedores</a></li>
                    </ul>
                </li>
                {% if user.is_superuser %}
                <li class="submenu"><a href="{% url 'admin:index' %}"><i class="icon-address-card">Administrador</i></a></li>
                {% endif %}
                <li class="submenu"><a href="{% url 'logout' %}"><i class="icon-off">Salir</i></a></li>
            </ul>
        </div>
    </header>
</div>
<!--
<div class="fixed-top">
    <header role="heading" class="navbar-fixed-top" style="background-color: #008534;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a  class="navbar-brand" href="{#% url 'core:menu' %#}">
                <img id="img-logo-cannava" src="/static/img/logos/Logo_Cannava_Solo_800px_White.png" width="120" height="18" alt=""/> <!--alt="" title="" class="img-fluid" style="width: 150px; margin-top: 20px;"-->
           <!-- </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% ct_opciones request.user as opciones %}
            <!--Opciones Dinamicas-->
            <!--<div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link text-white" href="{#% url 'core:menu' %#}">Menú Principal <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    {#% if user.is_superuser %#}
                        <a class="nav-link text-white" href="{#% url 'admin:index' %#}">Administrador</a>
                    {#% endif %#}
                  </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Secciones
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#% for opcion in opciones %#}
                                <a class="dropdown-item text-success" href="/{{ opcion.1}}">{{ opcion.0 }}</a>
                            {#% endfor %#}
                            </div>
                  </li>
                </ul>
            </div>
            <ul class="nav justify-content-end">
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    {{request.user.username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {#% include 'info_user.html' %#}
                </div>
                <a type="button" href="{#% url 'logout' %#}">
                    <button type="button" class="btn btn-danger" href="{#% url 'logout' %#}" >
                    Salir
                </button></a>
            </li>
        </ul>
        </nav>
    </header>
</div>-->

{% endblock %}