{% load static %}
{% block content %}   
<meta charset="utf-8">
    <title>{% block title %}Cannabis Avatara System - Jujuy{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    {% if refresh %}
        <meta http-equiv="refresh" content="60" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4-3-1/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_system.css' %}" />
    <link rel="stylesheet" type="text/css" href="{#% static 'css/style.css' %#}" />
    <link rel="stylesheet" type="text/css" href="{#% static 'css/menu.css' %#}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tareas.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'http://code.jquery.com/jquery-1.11.3.min.js' %}"></script>
    
    <!-- Datatables -->
    {% if has_table %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}" />
    {% endif %}

    <!-- Forms -->
    {% if form or has_form %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}" />
        <!-- Date Picker -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    {% endif %}



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177825916-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177825916-1');
    </script>


{% endblock %}