{% block content %}
    <br>
    <form method="post" action="/noticias/buscar" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button type="submit">Buscar</button>
    </form>
{% endblock %}