{% extends 'sistema/base.html' %}

{% load adminusers_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Auditoria de: <b>{{objeto}}</b></h1>
                    <div class="col-md-12">
                        <table class="listado">
                            <tr>
                                <th>Usuario</th>
                                <th>Fecha</th>
                                <th>Accion</th>
                                <th>Cambios</th>
                            </tr>
                            {% for reg in registros %}
                                <tr>
                                    <td>{{reg.actor}}</td>
                                    <td>{{reg.timestamp|date}} {{reg.timestamp|time}}</td>
                                    <td>{{reg.get_action_display}}</td>
                                    <td>
                                        <ul>
                                            {% ct_changes_to_list reg.changes as changes %}
                                            {% for change in changes %}
                                                <li>{{change|safe}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   