<!DOCTYPE html>
<html>
    <head>
        <title>ImprimirCredencial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        {% load static %}
        <link href="{% static 'css/constantes.css' %}" rel="stylesheet">
        <link href="{% static 'css/tarjeta/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/tarjeta/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row tarjeta color-{{operador.nivel_acceso}}">
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <h3 class="tipo">CANNABIS AVATARA SE</h3>
                        <hr>
                        <div class="informacion">
                            <p class="nums"><b>N° Documento:</b> {{operador.num_doc}}</p>
                            <p><b>{{operador.apellidos}}, {{operador.nombres}}</b></p>
                            <p><b>CANNAVA SE:</b></p>
                            <p><b>Nivel de Acceso:</b></p>
                            <p>{{operador.get_nivel_acceso_display}}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row recuadrofoto">
                            <img class="foto" src="{{operador.get_foto}}">
                        </div>
                        <div class="row">
                            <img class="qr" src="{{operador.get_qrimage}}">
                        </div>
                    </div>
                </div>
            </div>
            <a class="no-print" onclick='window.print();return false;'>Imprimir</a>
            <a class="no-print" href="javascript:history.back()">Volver</a>
        </div>
    </body>
</html>