{% load operadores_tags %}
{% block body_block %}
    <div class="info_user">
        {% ct_get_operador request as operador %}
        <p><b>{{operador.apellidos}}, {{operador.nombres}}</b></p>
        <p><b>D.N.I: </b>{{operador.num_doc}}</p>
{#        <p><b>Usuario:</b> {{request.user.username}}</b></p>#}
    </div>
{% endblock %}
