{% extends 'base_operadores.html' %}

{% load adminusers_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Listado de Operadores:</h1>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Ingreso</th>
                                    <th>Documento</th>
                                    <th>Operador</th>
                                    <th>Nivel de Acceso</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in presentes %}
                                    <tr>
                                        <td>{{evento.fecha|time}}</td>
                                        <td>{{evento.operador.num_doc}}</td>
                                        <td>{{evento.operador.apellidos}}, {{evento.operador.nombres}}</td>
                                        <td>{{evento.operador.get_nivel_acceso_display}}</td>
                                        <td>
                                            <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=evento.operador.id %}">
                                                <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                            </a>
                                            <a class="nolink" href="{% url 'operadores:checkout' operador_id=evento.operador.id %}">
                                                <img class="icons" src="/static/img/icons/logout.png" alt="Marcar Egreso">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            {% if perms.operadores.auditar_operadores %}
                                <li><a href="{% url 'operadores:checkin'  %}">Ingreso Operador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   