{% extends 'base_operadores.html' %}

{% load static %}

{% load adminusers_tags %}

{% block body_block %}
<style>
    .ref {
        border-top-width: 3px;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-top-style: dotted;
        border-right-style: dotted;
        border-bottom-style: dotted;
        border-left-style: dotted;
        border-top-color: green;
        border-right-color: green;
        border-bottom-color: green;
        border-left-color: green;
    }
</style>
    <section class="resumen">
        <section class="informacion_basica">
            <div class="beneficiario container">
                <div class="row">
                    <div class="col col-md-8" style="margin-bottom: 15px;">
                        <h1>Listado de Usuarios: <b>{{app_name}}</b></h1>
<!--                    <p style="float:right;">-->
<!--                        {% if perms.operadores.operadores %}-->
                            <a class="botoncito" href="{% url 'operadores:crear_operador' %}">
                                Crear Operador
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                            </a><br>
                    <a class="btn btn-primary btn-sm float-right" href="{% url 'operadores:menu' %}">Volver al Menú Anterior</a>

<!--                        {% endif %}-->
<!--                    </p>-->
                    </div>
                    <div class="col col-md-4 ref">
                        <h5>Referencias:</h5>
                        <p style="font-size: 80%;">
                            <img class="icons" src="/static/img/icons/access_card.png" style="width: 7%;">   Ver Tarjeta
                            <img class="icons" src="/static/admin/img/icon-changelink.svg" style="width: 5%;">   Modificar
                            <img class="icons" src="/static/img/icons/changepassword.png" style="width: 5%;">   Cambiar Contraseña
                            <img class="icons" src="/static/img/icons/check.png" style="width: 5%;">   Activar
                        </p>
                        <p style="font-size: 80%;">
                            <img class="icons" src="/static/admin/img/icon-deletelink.svg" style="width: 5%;">   Desactivar
                            <img class="icons" src="/static/img/icons/audit.png" style="width: 5%;">   Auditar
                            <img class="icons" src="/static/img/icons/calendar.png" style="width: 5%;">   Ver Asistencia
                        </p>
                    </div>
                </div> 
                <div class="row"> 
                    <div class="col-md-12">
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Num Documento</th>
                                    <th>Operador</th>
                                    <th>Nivel Autorizacion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operador in operadores %}
                                    <tr class="fila_usuario">
                                        
                                        <td>{{operador.usuario.username}}</td>
                                        <td>{{operador.num_doc}}</td>
                                        <td>
                                            {{operador.apellidos}}, {{operador.nombres}}
                                            {% if operador.individuo %}
                                                <a href="{% url 'informacion:ver_individuo' individuo_id=operador.individuo.id %}" target="_blank">
                                                    <img class="icons" src="/static/img/icons/check.png" alt="Ver">
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{operador.get_nivel_acceso_display}}</td>
                                        <td>{{operador.telefono}}</td>
                                        <td>{{operador.email}}</td>
                                        <td><!-- Icono de Activo -->
                                            {% if operador.usuario.is_active %}
                                                <b style="color:green;">Activo</b>
                                            {% else %}
                                                <b style="color:red;">Inactivo</b>
                                            {% endif %}
                                        </td>
                                        <td><!-- Acciones -->
                                            <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=operador.id %}">
                                                <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                            </a>
                                            <a class="nolink" href="{% url 'operadores:modificar_usuario'  operador_id=operador.id %}">
                                                <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                            </a>
                                            {% if operador.usuario %}
                                                <a class="nolink" href="{% url 'operadores:cambiar_password' operador_id=operador.id %}">
                                                    <img class="icons" src="/static/img/icons/changepassword.png" alt="Cambiar contraseña">
                                                </a>
                                                {% if operador.usuario.is_active %}
                                                    <a class="nolink" href="{% url 'operadores:desactivar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                                    </a>
                                                {% else %}
                                                    <a class="nolink" href="{% url 'operadores:activar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                                    </a>
                                                {% endif %}
                                                {% if perms.operadores.auditar_operadores %}
                                                    <a href="{% url 'operadores:auditoria_propia' user_id=operador.usuario.id %}">
                                                        <img class="icons" src="/static/img/icons/audit.png" alt="Auditoria">
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            <a href="{% url 'operadores:asistencia' operador_id=operador.id %}">
                                                <img class="icons" src="/static/img/icons/calendar.png" alt="Asistencia">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   