{% extends 'base_operadores.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Operadores:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">

                            {% if perms.operadores.operadores %}
                                <hr>
                                <li><a href="{% url 'operadores:crear_operador'  %}">Crear Operador</a></li>
                                <li><a href="{% url 'operadores:listar_operadores'  %}">Ver Listado de Operadores</a></li>
                                <li><a href="{% url 'operadores:imprimir_tarjetas'  %}">Imprimir Credenciales</a></li>
                            {% endif %}

                            {% if perms.operadores.auditar_operadores %}
                                <hr>
                                <li><a href="{% url 'operadores:checkin'  %}">Ingreso Operador</a></li>
                                <li><a href="{% url 'operadores:listado_presentes'  %}">Listado de Presentes</a></li>
                                <li><a href="{% url 'operadores:registro_asistencia'  %}">Registro de Asistencia</a></li>
                                <li><a href="{% url 'operadores:auditoria' %}">Ver Auditoria de Operadores</a></li>
                            {% else %}
                                <li><a href="{% url 'operadores:auditoria_propia' user_id=request.user.id %}">Ver Mis Acciones</a></li>
                            {% endif %}                   
                            
                            {% if request.user.is_superuser %}
                                <hr>
                                <li><a href="{% url 'operadores:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                         <a class="btn btn-primary" href="{% url 'core:menu' %}">Volver al Menú Principal</a>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}