{% extends 'base_produccion.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Lotes Finalizados:</h2>
            <a class="btn btn-primary btn-sm float-right" href="{% url 'produccion:menu' %}">Volver al Menú Anterior</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Semilla</th>
                        <th>Plan Productivo</th>
                        <th>Finalización</th>
                        <th>Estado</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for objeto in objetos %}
                        <tr>
                            <td>{{objeto.identificador}}</td>
                            <td>
                                {% for semilla in objeto.semillas.all %}
                                    {{semilla}}
                                {% endfor %}
                            </td>
                            <td>{{objeto.plan_productivo}}</td>
                            <td>{{objeto.fecha}}</td>
                            <td>{{objeto.get_estado_display}}</td>
                            <td>
                                <a href="{% url 'produccion:ver_objeto' objeto_id=objeto.id %}">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                                {% if perms.operadores.produccion_admin %}
                                    <a href="{% url 'produccion:eliminar_objeto' objeto_id=objeto.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}