{% extends 'base_produccion.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu de Lotes de Cultivo:</h1>
                    <div class="col-md-8">
<!--                         <ul class="menu_botones">
                            {% if perms.operadores.produccion_admin %}
                                <h2>Listados</h2>
                                <li><a href="{% url 'produccion:lista_objetos' tipo='L'  %}">Ver Listado de Lotes</a></li>
                                <li><a href="{% url 'produccion:lista_objetos' tipo='P'  %}">Ver Listado de Plantas</a></li>
                                <hr>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>    
                                <li><a href="{% url 'produccion:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul> -->
                        <ul class="menu_botones">
                            {% if perms.operadores.produccion_admin %}
                            <li><a href="{% url 'produccion:lista_germinacion' tipo='L' %}">Lotes de Germinación</a></li>
                            <li><a href="{% url 'produccion:lista_vegetacion' tipo='L' %}">Lotes de Vegetación</a></li>
                            <li><a href="{% url 'produccion:lista_floracion' tipo='L' %}">Lotes de Floración</a></li>
                            <li><a href="{% url 'produccion:lista_cosecha' tipo='L' %}">Lotes de Cosecha</a></li>
                            <li><a href="{% url 'produccion:lista_finalizados' tipo='L' %}">Lotes Finalizados</a></li>
<!--                            <li><a href="{% url 'produccion:lista_objetos' tipo='P'  %}">Lotes de Plantas Madre</a></li>-->
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>
                                <li><a href="{% url 'produccion:menu' %}">Opciones del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                        <a class="btn btn-primary btn-sm float-right" href="{% url 'core:menu' %}">Volver al Menú</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}