{% extends 'base_produccion.html' %}

{% load static %}
{% load auditar_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2><b>{{objeto.get_tipo_display}}: {{objeto.identificador}}</b></h2>
                        <div class="row">
                            <div class="col-md-7">
                                <p><b>Fecha Creacion:</b> {{objeto.fecha}}</p>
                                <p><b>Estado:</b> {{objeto.get_estado_display}}</p>
                                <p><b>Fase:</b> {{objeto.get_fase_display}}</p>
                                <h3>Semillas:</h3>
                                <!-- <ul>
                                    {% for semilla in objeto.semillas.all %}
                                        <li>
                                            {{semilla}}
                                            <a href="{% url 'inventario:ver_item' item_id=semilla.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul> -->
                                <table class="listado">
                                    <tr>
                                        <th>Semilla</th>
                                        <th>Detalle</th>
                                    </tr>
                                    {% for semilla in objeto.semillas.all %}
                                    <tr style="text-align: center;">
                                        <td>{{semilla}}</td>
                                        <td><a href="{% url 'inventario:ver_item' item_id=semilla.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                        </a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-md-5">
                                {% if objeto.padres.count %}
                                    <p><b>Padre:</b></p>
                                    {% for padre in objeto.padres.all %}
                                        <p>
                                            {{padre}}
                                            <a href="{% url 'produccion:ver_objeto' objeto_id=padre.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                            </a>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% for caracteristica in objeto.caracteristicas.all %}
                                {% if forloop.first %}
                                    <h2>Caracteristicas</h2>
                                {% endif %}
                                <div class="col-md-2 mini_bordeado" style="text-align:center;margin:1px;min-height:100px;">
                                    <a class="nolink" href="{% url 'produccion:mod_caracteristica' caracteristica_id=caracteristica.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar" style="float:right;">
                                    </a>
                                    <p>
                                        <b>{{caracteristica.get_tipo_display}}:</b>
                                        {{caracteristica.valor|floatformat:1}}
                                        {{caracteristica.get_medida_display}}
                                    </p>
                                    <p>
                                        {% if caracteristica.aclaracion %}
                                            {{caracteristica.aclaracion}}
                                        {% endif %}
                                        <a class="nolink"  href="{% ct_auditar_obj_url caracteristica %}">
                                            <img class="icons" src="{% static '/img/icons/question.png' %}">
                                        </a>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Tabla de Ubicaciones Actuales -->
                        {% for ubicacion in objeto.ubicaciones_activas %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Ubicaciones Activas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Identificador</th>
                                        <th>Detalle</th>
                                        <th>Accion</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{ubicacion.fecha}}</td>
                                <td>{{ubicacion.ubicacion.get_tipo_display}}</td>
                                <td>{{ubicacion.ubicacion.identificador}}</td>
                                <td>{{ubicacion.aclaracion}}</td>
                                <td>
                                    <a class="nolink" href="{python manage.py runserver% url 'produccion:trasplantar_ubicacion' ubicacion_id=ubicacion.id %}">
                                        <img class="icons" src="{% static '/img/icons/transplantar.png' %}" alt="Transplantar">
                                    </a>

                                    <a class="nolink" href="{% url 'produccion:individualizar_ubicacion' objeto_id=objeto.id ubicacion_id=ubicacion.id %}">
                                        <img class="icons" src="{% static '/img/icons/individualizar.png' %}" alt="Individualizar">
                                    </a>

                                    <a class="nolink" href="{% url 'produccion:del_ubicacion' ubicacion_id=ubicacion.id %}">
                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Eliminar">
                                    </a>

                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Eventos Registrados-->
                        {% for accion in objeto.acciones.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Acciones:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Accion</th>
                                        <th>Detalle</th>
                                        <th>Aclaracion</th>
                                        <th>Operador</th>
                                        {% if user.is_superuser %}
                                            <th>Accion</th>
                                        {% endif %}
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{accion.fecha}}</td>
                                <td>{{accion.get_tipo_display}}</td>
                                {% if accion.evento_item %}
                                <td>{{accion.evento_item}}</td>
                                {% else %}
                                <td>Sin Detalles</td>
                                {% endif %}
                                <td>{{accion.aclaracion}}</td>
                                <td>{{accion.operador}}</td>
                                {% if user.is_superuser %}
                                    <td>
                                        <a href="{% url 'produccion:del_accion' accion_id=accion.id %}">
                                            <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}


                        <!--Tabla de Hijos -->
                        {% for hijo in objeto.hijos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Sublotes:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Identificador</th>
                                        <th>Estado</th>
                                        {% if user.is_superuser %}
                                            <th>Accion</th>
                                        {% endif %}
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{hijo.get_tipo_display}}</td>
                                <td>{{hijo.identificador}}</td>
                                <td>{{hijo.fecha}}</td>
                                <td>{{hijo.get_estado_display}}</td>
                                <td>
                                    <a href="{% url 'produccion:ver_objeto' objeto_id=hijo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <h2>Datos del lote</h2>
                            {% if perms.operadores.produccion_admin %}
                                <li><a href="{% url 'produccion:mod_objeto' objeto_id=objeto.id %}">Modificar Datos Basicos</a></li>
                            {% endif %}
                            <li><a href="{% url 'produccion:cargar_caracteristica' objeto_id=objeto.id %}">Cargar Caracteristica</a></li>
                            <hr>
                            <h2>Acciones para todo el lote</h2>
                            {% if objeto.activo %}
                                <li><a href="{% url 'produccion:evolucionar_objeto' objeto_id=objeto.id %}">Generar SubLote</a></li>
                            {% endif %}
                            {% for accion in acciones %}
                                {% if accion|length == 3 %}
                                    <li><a href="{{accion.2}}">{{accion.1}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}