{% extends './basefinal.html' %}
{% block custom_css %}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-somos">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-12">
                    <div class="row">
                        <hr class="line-g3-white">
                        <p class="txt4-white">Programa provincial...</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row padding-top-48">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <p class="txt1b-green">afdsfadafdsaffa</p>
                    <p class="txt2-black">fasdfadfadfd</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-12">
                    <div class="row padding-top-48">
                        <hr class="line-g2-black">
                        <p class="txt3">Sus Objetivos</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="row padding-top-48">
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g1">
                            <p class="txt1-black">Programa provincial... momomomo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}