{% extends './basefinal.html' %}
{% block custom_css %}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-somos">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-12">
                    <div class="row">
                        <hr class="line-g3-white">
                        <p class="txt4-white">Producimos</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row padding-top-48">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="row">
                        <p class="txt1b-green">afdsfadafdsaffa</p>
                        <p class="txt2-black">fasdfadfadfd</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row padding-top-48">
                <div class="col-lg-5 offset-lg-2 col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="line-g3-white">
                            <p class="txt4-white">Cultivo</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                </div>
            </div>
            <div class="row padding-top-48">
                <div class="col-lg-5 offset-lg-2 col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="line-g3-white">
                            <p class="txt4-white">Industrialización</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Ubicacion</a>
                    <hr class="line-g1-green">
                </div>
            </div>
            <div class="row padding-top-48">
                <div class="col-lg-5 offset-lg-2 col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="line-g3-white">
                            <p class="txt4-white">Investigación</p>
                        </div>
                        <div class="col-lg-10">
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                            <p class="txt1-black">
                                fdsadsa  asd dafs ads
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <hr class="line-g1-green">
                    <a href="" class="txt1-green">Socios estratégicos investigación</a>
                    <hr class="line-g1-green">
                </div>
            </div>
        </div>
    </main>
{% endblock %}