{% extends './basefinal.html' %}
{% block custom_css %}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block body_block %}
    <main role="main">
        <!-- PRIMERA SECCIÓN -->
        <div class="container-fluid imagen-principal-somos">
            <div class="row">
                <div class="col-lg-7 offset-lg-2 col-12">
                    <div class="row">
                        <hr class="line-g3-white">
                        <p class="txt4-white">Sobre nosotros</p>
                    </div>

                </div>
            </div>
        </div>

        <!-- VIDEO -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-3 col-12">
                    <div class="row">
                        <h2 class="txt2b-black">Somos la primera empresa estatal en la producción de medicamentos derivados del cannabis de la historia Argentina.</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12 padding-top-48">
                    <div class="row">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/K_uSRryQt0M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen onclick="gtag('event', 'Click', {'event_category': 'Web-{{ request.path }}', 'event_action': 'Click', 'event_label': 'PlayVideo'});"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12 padding-top-48">
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">Una iniciativa jujeña de salud pública</p>
                            <p class="txt1-black">Cannava nace a partir de la iniciativa del Gobierno de Jujuy, con el propósito de atender y dar respuesta a una necesidad de salud pública: elaborar medicamentos derivados del cannabis de producción local, desarrollados según los estándares de calidad y trazabilidad que requiere la actividad.</p>
                            <p>Irrumpe en Argentina y Latinoamérica como un nuevo modelo de abordaje estatal para la producción de medicamentos derivados del cannabis.</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">Hacia una nueva economia regional</p>
                            <p class="txt1-black">Es el sostén estatal, institucional y técnico de todo el proceso productivo, desde el cultivo hasta la producción y comercialización de sus derivados medicinales.</p>
                            <p>En el camino hacia la consecución de esa meta, se impone como el puente para el nacimiento y desarrollo de una nueva economía regiona, capaz de generar cientos de puestos de trabajo, aportando a la transformación de la matriz productiva de Jujuy y el pais.</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="line-g3-black">
                            <p class="txt2b-black">De proyección global</p>
                            <p class="txt1-black">Los permisos logrados por Cannava con organismos gubernamentales y los acuerdos estratégicos con empresas, universidades y ONG's nacionales y extranjeras, son la clave de su proyección global y de su visión social, abierta y colaborativa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MISION -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 offset-2 col-12">
                    <div class="row">
                        <hr class="line-g2-black">
                        <p class="txt3">Misión</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12">
                    <div class="row">
                        <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 offset-2 col-12">
                    <div class="row">
                        <hr class="line-g2-black">
                        <p class="txt3">Visión</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12">
                    <div class="row">
                        <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 offset-2 col-12">
                    <div class="row">
                        <hr class="line-g2-black">
                        <p class="txt3">Valores</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <hr class="line-g1">
                            <p class="txt2b-black">Innovación</p>
                            <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                        </div>
                        <div class="col-lg-6">
                            <hr class="line-g1">
                            <p class="txt2b-black">Innovación</p>
                            <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <hr class="line-g1">
                            <p class="txt2b-black">Innovación</p>
                            <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                        </div>
                        <div class="col-lg-6">
                            <hr class="line-g1">
                            <p class="txt2b-black">Innovación</p>
                            <p class="txt2-black">Mejorar la calidad de vida de las personas a travéz de la producción local de medicamentos derivados del cannabis, siguiendo un modelo de desarrollo colaborativo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EQUIPO -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 offset-2 col-12">
                    <div class="row">
                        <hr class="line-g3-black">
                        <p class="txt3">Equipo de Trabajo</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12">
                    <div class="row">
                        <p class="txt2-green">El equipo cannava es liderado por</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="" alt="">
                                    <hr class="line-g1">
                                    <p class="txt1-black">Presidente Cannava</p>
                                    <p class="txt3">Gastón Morales</p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="" alt="">
                                    <hr class="line-g1">
                                    <p class="txt1-black">Presidente Cannava</p>
                                    <p class="txt3">Gastón Morales</p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="" alt="">
                                    <hr class="line-g1">
                                    <p class="txt1-black">Presidente Cannava</p>
                                    <p class="txt3">Gastón Morales</p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                    <p></p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                                <div class="col-lg-6">
                                    <p>Linked in</p>
                                    <hr class="line-g1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Alianzas -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 offset-2 col-12">
                    <div class="row">
                        <hr class="line-g3-black">
                        <p class="txt3">Alianzas Estratégicas</p>
                    </div>
                </div>
                <div class="col-lg-6 offset-3 col-12">
                    <p class="txt2-black"></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}