<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "web/head.html" %}
        {% block extra_css %}
            <!-- Aqui se ingresaran css especificos de cada pagina -->
        {% endblock %}
        {% block meta_tags %}
            <!-- Tags especificos de cada pagina -->
        {% endblock %}
    </head>

    <body>
<div>
        {% include "web/header.html"%}

        {% block body_block %}
            <!-- BODY -->
        {% endblock %}
</div>
        {% include "web/footer.html"%}

    </body>

    {% include "web/scripts.html"%}
    {% block extra_scripts %}
        <!-- Aqui se ingresaran scripts especificos de cada pagina -->
    {% endblock %}
</html>