{% block content %}
    <footer>
        <div class="container-fluid footer-container">
            <div class="col-lg-7 offset-lg-2 col-12 padding-top-48">
                <div class="row">
                    <div class="col-lg-3 col-8">
                        <img src="/static/img/logos/Logo_Cannava_H_1000px.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 col-12 padding-top-48 d-none d-lg-block">
                <div class="row">
                    <div class="col-lg">
                        <hr class="line-g1">
                        <a href="/somos"><p class="m-0 p-0 txt1b-black">Somos</p></a>
                        <a href="/somos"><p class="m-0 p-0 txt1-black">Nosotros</p></a>
                        <a href="/somos#mision"><p class="m-0 p-0 txt1-black">Misión y Visión</p></a>
                        <a href="/somos#valores"><p class="m-0 p-0 txt1-black">Valores</p></a>
                        <a href="/somos#historia"><p class="m-0 p-0 txt1-black">Historia</p></a>
                        <a href="/somos#equipo"><p class="m-0 p-0 txt1-black">Equipo</p></a>
                        <a href="/somos#alianzas"><p class="m-0 p-0 txt1-black">Alianzas</p></a>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <hr class="line-g1">
                        <a href="/hacemos"><p class="m-0 p-0 txt1b-black">Hacemos</p></a>
                        <a href="/hacemos#cultivo"><p class="m-0 p-0 txt1-black">Cultivo</p></a>
                        <a href="/hacemos#industrializacion"><p class="m-0 p-0 txt1-black">Industrialización</p></a>
                        <a href="/hacemos#investigacion"><p class="m-0 p-0 txt1-black">Investigación Científica</p></a>
                        <a href="/hacemos#fortalecimiento"><p class="m-0 p-0 txt1-black">Fortalecimiento Institucionaldeac</p></a>
                    </div>
                    <div class="col-lg">
                        <hr class="line-g1">
                        <a href="/cooperamos"><p class="m-0 p-0 txt1b-black">Cooperamos</p></a>
                        <a href="/cooperamos"><p class="m-0 p-0 txt1-black">Objetivos</p></a>
                    </div>
                    {% if mostrar.noticia == 1 %}
                    <div class="col-lg">
                        <hr class="line-g1">
                        <a href="/noticias/public"><p class="m-0 p-0 txt1b-black">Comunicación</p></a>
                    </div>
                    {% endif %}
                    <div class="col-lg">
                        <hr class="line-g1">
                        <a href="/contactos"><p class="m-0 p-0 txt1b-black">Contacto</p></a>
                        <a href="/contactos#oficinas"><p class="m-0 p-0 txt1-black">Oficina Comercial</p></a>
                        <a href="/contactos#formulario"><p class="m-0 p-0 txt1-black">Formulario</p></a>
                        <a href="https://facebook.com/CannavaSE"><p class="m-0 p-0 txt1-black"><img src="/static/img/facebook.svg" style="max-width: 20px;">
                            Facebook</p></a>
                        <a href="https://instagram.com/cannava.se"><p class="m-0 p-0 txt1-black"><img src="/static/img/instagram.svg" style="max-width: 20px;">
                            Instagram</p></a>
                        <a href="https://twitter.com/CannavaSE?s=08"><p class="m-0 p-0 txt1-black"><img src="/static/img/twitter.svg" style="max-width: 20px;">
                            Twitter</p></a>
                        <a href="https://www.linkedin.com/company/cannavase"><p class="m-0 p-0 txt1-black"><img src="/static/img/linkedin.png" style="max-width: 20px;">
                            LinkedIn</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="line-g1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-6 pt-5 pt-lg-2 my-auto">
                        <img src="/static/img/logos/LogoGobierno.png" class="d-block d-lg-none" alt="" style="width: 100%;">
                        <img src="/static/img/logos/LogoGobierno.png" class="d-none d-lg-block" alt="" style="width: 100%;">
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-6 pt-5 pt-lg-2 my-auto">
                        <img src="/static/img/logos/Logo_Juj_400px.png" alt="" style="width: 100%;">
                    </div>
                    <div class="col-lg-3 offset-lg-2 col-12 pt-5 pt-lg-2 my-auto">
                        <img src="/static/img/logos/Logo_Cannava_H_1000px.png" alt="" style="width: 100%;"><br>
                        <div>
                            <p class="txt1-black m-0 p-0" style="font-size: 80%">&copy; Cannabis Avãtara SE
                                <script>document.write(new Date().getFullYear());</script></p>
                            <p class="txt1-black m-0 p-0" style="font-size: 80%">Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </footer>
{% endblock %}