{% block content %}
    <header role="heading">
        <nav class="navbar pb-15 bg-light fixed-top padding-top-48" id="mainNav" data-toggle="sticky-onscroll" style="z-index: 1091 !important; overflow-y: scroll;">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0" href="/"><img id="img-logo-cannava" src="/static/img/logos/Logo_Cannava_Solo_800px_White.png" alt="" title="" class="img-fluid" style="width: 150px;"/></a>
                <div>
                    <div style="display: table-cell; vertical-align: middle;">
                        <button class="navbar-toggler pr-0 pl-0" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="border: hidden;">
                            <img id="img-button-menu" src="/static/img/icons/Menu_Icon_Grey.png" alt="" style="width: 100%;">
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <div class="row">
                                <div class="col">
                                    <hr class="line-g2-white">
                                    <a href="/somos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-lg-4 pb-3 txt3-white">Somos</p></a>
                                    <a href="/somos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Sobre nosotros</p></a>
                                    <a href="/somos#mision" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Visión, Misión y Valores</p></a>
                                    <a href="/somos#equipo" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Equipo</p></a>
                                    <a href="/somos#alianzas" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Alianzas</p></a>
                                </div>
                                <div class="col">
                                    <hr class="line-g2-white">
                                    <a href="/hacemos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-lg-4 pb-3 txt3-white">Hacemos</p></a>
                                    <a href="/hacemos#cultivo" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Cultivo</p></a>
                                    <a href="/hacemos#industrializacion" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Industrialización</p></a>
                                    <a href="/hacemos#investigacion" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Investigación Científica</p></a>
                                    <a href="/hacemos#fortalecimiento" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Fortalecimiento Institucional</p></a>
                                </div>
                                <div class="col">
                                    <hr class="line-g2-white">
                                    <a href="/cooperamos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-lg-4 pb-3 txt3-white">Cooperamos</p></a>
                                    <a href="/cooperamos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Programa provincial</p></a>
                                </div>
                                {% if mostrar.noticia == 1 %}
                                <div class="col">
                                    <hr class="line-g2-white">
                                    <a href="/noticias/public" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-lg-4 pb-3 txt3-white">Comunicación</p></a>
                                </div>
                                {% endif %}
                                <div class="col">
                                    <hr class="line-g2-white">
                                    <a href="/contactos" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-lg-4 pb-3 txt3-white">Contactos</p></a>
                                    <a href="/contactos#formulario" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Formulario</p></a>
                                    <a href="/contactos#oficina" class="link-menu"><p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">Datos de Contacto</p></a>
                                    <a href="https://facebook.com/CannavaSE" class="link-menu">
                                    <p class="m-0 pt-0 pr-0 pl-0 pb-2 txt1-white link-menu">
                                    <img src="/static/img/icons/facebook.png" style="max-width: 32px;"></a>
                                    <a href="https://www.instagram.com/cannava.se/" class="link-menu">
                                    <img src="/static/img/icons/instagram.png" style="max-width: 32px;"></a>
                                    <a href="https://twitter.com/CannavaSE?s=08" class="link-menu">
                                    <img src="/static/img/icons/twitter.png" style="max-width: 32px;"></a>
                                    <a href="https://www.youtube.com/channel/UCh6_phFHXnY5e0K8FofjM7Q?view_as=subscriber" class="link-menu">
                                    <img src="/static/img/icons/youtube.png" style="max-width: 32px;"></a>
                                    <a href="https://www.linkedin.com/company/cannavase" class="link-menu">
                                    <img src="/static/img/icons/linkedin.png" style="max-width: 20px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}