{% load static %}
{% block content %}   
        <!-- META -->
        <meta charset="utf-8">
        <link href="" rel="shortcut icon">
        <link rel="icon" href="{% static 'img/icono.png' %}">
        <title>{% block title %}Cannava S.E.{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#6766eb">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4-3-1/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/media.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/constantes.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/noticias.css' %}">


{% endblock %}