<div class="container-fluid video-container d-none d-lg-block backgoundcolor-green noticias" style="z-index: 999;">
    <div class="row padding-bottom-72">
         <div class="col-lg-8 offset-lg-2 col-12">
             <div class="row">
                 {% for noticia in noticias %}
                 <div class="col-lg-4 col-12" style="margin-top: -40px;">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a class="novedad-lin" href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                            <img class="embed-responsive-item img-rounded" src="{{noticia.get_portada}}" frameborder="0" >
                        </a>
                    </div>
                     <div class="col-lg-12 info">
                        <p class="fecha" style="font-weight: bold; text-transform: uppercase;">{{noticia.fecha|date:"d M Y"}}</p>
                        <hr class="blanca"><br>
                        <h6 style="text-align: left;"><b>{{noticia.titulo}}</b></h6>
                        <p>{{ noticia.cuerpo|truncatechars:150|safe }}</p>
                        <hr class="blanca">
                        <p>
                            <a href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                                <b style="color: white;">Seguir Leyendo</b>
                            </a>
                        </p>
                    </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
    </div>
</div>
<div class="container-fluid p-0 d-block d-lg-none noticias">
<div id="carouselVideo" class="carousel slide" data-ride="carousel" data-interval="false" style="padding-bottom: 70px;">
    <div class="col-lg-8 offset-lg-2 col-12">
             <div class="row">
                 {% for noticia in noticias %}
                 <div class="col-lg-4 col-12" style="margin-top: -40px;">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a class="novedad-lin" href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                            <img class="embed-responsive-item img-rounded" src="{{noticia.get_portada}}" frameborder="0" >
                        </a>
                    </div>
                     <div class="col-lg-12 info">
                        <p class="fecha" style="font-weight: bold; text-transform: uppercase;">{{noticia.fecha|date:"d M Y"}}</p>
                        <hr class="blanca"><br>
                        <h6 style="text-align: left;"><b>{{noticia.titulo}}</b></h6>
                        <p>{{ noticia.cuerpo|truncatechars:150|safe }}</p>
                        <hr class="blanca">
                        <p>
                            <a href="{% url 'noticias:ver_noticia' noticia_id=noticia.id %}">
                                <b style="color: white;">Seguir Leyendo</b>
                            </a>
                        </p>
                    </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
    </div>
</div>
