{% load static %}
{% block content %}    
    <script src="/static/js/jquery-3-4-1.js"></script>
    <script src="/static/js/bootstrap-4-3-1/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>
{% endblock %}