﻿<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load mathfilters %}
    <meta charset="UTF-8">
    <title>Informe</title>
</head>
<body>
    <div class="row">
        <div class="col-1">
            <img src="{% static 'img/membrete1.jpg' %}" alt="">
            <img src="{% static 'img/membrete2.jpg' %}" alt="" style="float: right;">
        </div>
    </div>

{% block semillas %}

{% endblock %}

{% block germinacion %}

{% endblock %}

{% block vegetacion %}

{% endblock %}

{% block floracion %}

{% endblock %}

{% block layout_style %}
<style>
    @page { size: A4 landscape; margin: 1cm; }
    body {
        font-family: Arial;
        font-size: 10pt;
    }
    .listado {
        width: 100%;
        border: black 2px solid;
        border-collapse: collapse;
        text-align: center;
        font-size: 8pt;
    }
    th {
        background-color: orange;
        border: black 2px solid;
        border-collapse: collapse;
        text-align: center;
        font-size: 8pt;
    }
    td {
        border: black 2px solid;
        border-collapse: collapse;
        text-align: center;
        font-size: 8pt;
    }
    .referencias {
        font-size: 10pt;
    }
</style>

{% endblock %}

</body>
</html>