﻿{% extends 'base_reportes.html' %}

{% load static %}

{% block body_block %}

    <div class="beneficiario container">
        <div class="row">
            <div class="col col-md-10" style="margin-bottom: 15px;">
            <h2>Generaci&oacute;n de informes</h2>
            <a class="btn btn-primary btn-sm" href="{% url 'cultivo:menu' %}">Volver al Menú Anterior</a>
            <br><br></div></div>
        <div class="row">
            <div class="col-9">
                <h4>Rango de fechas: </h4>
                 <form action="" method="post">
                    {% csrf_token %}
                        {{ form }}
                    <input class="btn btn-success" type="submit" value="Filtrar" />
                </form>
            </div>
            <div class="col-2 offset-1">
                 <a class="btn btn-info" type="button" href="{% url 'reportes:pdf' %}">Generar Informe</a>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Tipo de Lote</th>
                        <th>Ubicaci&oacute;n 1er nivel</th>
                        <th>Ubicaci&oacute;n 2do nivel</th>
                        <th>Recipiente</th>
                        <th>Estado</th>
                        <th>Fecha de Movimiento</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                      {% for lote in lotes %}
                          {% for i in lote %}
                        <tr>
                            <td>{{ i.codigo }}</td>
                            <td>{{ i.lote.tipo }}</td>
                            <td>{{ i.lote.predio }}</td>
                            <td>{{ i.lote.instalacion }}</td>
                            <td>{{ i.lote.recipiente }}</td>
                            <td>{{ i.lote.estado }}</td>
                            <td>{{ i.lote.fechaMovimiento }}</td>
                            <td><input type="checkbox" checked></td>
                        </tr>
                              {% endfor %}
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}