﻿{% load static %}
{% if semillas > 0 %}
    {% include 'pdfLoteSemillas.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if germinacion > 0 %}
    {% include 'pdfLoteGerminacion.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if vegetacion > 0 %}
    {% include 'pdfLoteVegetativo.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if floracion > 0 %}
    {% include 'pdfLoteFloracion.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if madres > 0 %}
    {% include 'pdfLoteMadres.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if secado > 0 %}
    {% include 'pdfLoteSecado.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if material > 0 %}
    {% include 'pdfLoteMaterial.html' %}
    <div class="pagebreak"> </div>
{% endif %}
{% if destruccion > 0 %}
    {% include 'pdfLoteDestruccion.html' %}
{% endif %}

<style>
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
</style>