{% extends 'base_reportes.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <h1>Menu Reportes:</h1>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            <li><a href="{% url 'inventario:stock_semillas' %}">Stock de Semillas</a></li>
                            <li><a href="{% url 'produccion:lotes_sembrados' %}">Lotes Sembrados</a></li>
                            <li><a href="{% url 'produccion:lotes_vegetativos' %}">Lotes Vegetativos</a></li>
                            <li><a href="{% url 'produccion:lotes_floracion' %}">Lotes de Floración</a></li>
                            <li><a href="{% url 'produccion:lotes_secado' %}">Lotes de Secado</a></li>
                            <li><a href="{% url 'produccion:plantas_eliminadas' %}">Plantas Eliminadas</a></li>
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                        <a class="btn btn-primary" href="{% url 'core:menu' %}">Volver al Menú Principal</a>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}