﻿{% extends 'basePDF.html' %}
{% load mathfilters %}
{% block germinacion %}
    <h4><u>Declaración Jurada de Plantas Madres {{ fechaDesde }} - {{ fecha }}</u></h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Variedad</th>
                            <th>Cod. De Lote PP</th>
                            <th>Ubicaci&oacute;n</th>
                            <th>Instalaci&oacute;n</th>
                            <th>Plantas Logradas</th>
                            <th>Plantas actuales</th>
                            <th>Fecha de Movimiento</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lote in lotes %}
                        {% for i in lote %}
                            {% if i.lote.tipo == 'Lote de Plantas Madre' %}
                                    <tr>
                                        <td>{{ i.codigo }}</td>
                                        <td>{{ i.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                                        <td>{{ i.loteVegetativo.codigo }}</td>
                                        <td>{{ i.lote.predio }}</td>
                                        <td>{{ i.lote.instalacion }}</td>
                                        <td>{{ i.totalPlantas }}</td>
                                        <td>{{ i.stockActual }}</td>
                                        <td>{{ i.lote.fechaMovimiento|date:"d/m/Y" }}</td>
                                        <td>{{ i.lote.observaciones }}</td>
                                    </tr>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                          <tr style="background-color: #7aba7b">
                              <td colspan="5"><b>Totales:</b></td>
                              <td><b>{{ floracionTotal }}</b></td>
                              <td><b>{{ floracionActual }}</b></td>
                              <td colspan="2"><b></b></td>
                          </tr>
                    </tbody>
                </table>
            <br />
{#            <div class="referencias">#}
{#                <p><b>LPP-1-BB1</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LPP-C-5-BB3</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>C:</b> Campo; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LP-1-BB1</b><br />#}
{#                <b>LP:</b> Lote de plantín; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
