﻿{% extends 'basePDF.html' %}
{% load mathfilters %}
{% block semillas %}
    <h4><u>Declaración Jurada Stock de semillas al {{ fecha }}</u></h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Variedad</th>
                            <th>Cantidad (gr)</th>
                            <th>Ubicaci&oacute;n</th>
                            <th>Instalaci&oacute;n</th>
                            <th>Cant. Utilizada (gr)</th>
                            <th>Cant. Remanente (gr)</th>
                            <th>Fecha</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lote in lotes %}
                        {% for i in lote %}
                            {% if i.lote.tipo == 'Lote de Semillas' %}
                                    <tr>
                                        <td>{{ i.codigo }}</td>
                                        <td>{{ i.semilla.variedad }}</td>
                                        <td>{{ i.pesoInicial }}</td>
                                        <td>{{ i.lote.predio }}</td>
                                        <td>{{ i.lote.instalacion }}</td>
                                        <td>{{ i.pesoInicial|sub:i.pesoActual }}</td>
                                        <td>{{ i.pesoActual }}</td>
                                        <td>{{ i.lote.fechaMovimiento|date:"d/m/Y" }}</td>
                                        <td>{{ i.lote.observaciones }}</td>
                                    </tr>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                          <tr style="background-color: #7aba7b">
                              <td colspan="2"><b>Totales:</b></td>
                              <td><b>{{ semillaTotalCant }}</b></td>
                              <td colspan="2"><b></b></td>
                              <td><b>{{ semillaCantUtilizada }}</b></td>
                              <td><b>{{ semillaCantRemanente }}</b></td>
                              <td colspan="2"><b></b></td>
                          </tr>
                    </tbody>
                </table>
            <br />
{#            <div class="referencias">#}
{#                <p><b>S-GLGS-BB1-260619-01</b><br />#}
{#                <b>S:</b> Semilla; <b>GLGS:</b> proveedor; <b>BB1:</b> variedad; <b>260619:</b> fecha de ingreso; <b>01:</b> numero contenedor de semillas</p>#}
{#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
