﻿{% extends 'basePDF.html' %}
{% load mathfilters %}
{% block germinacion %}
    <h4><u>Declaración Jurada de Plantas Cosechadas - Flores Deshidratadas {{ fechaDesde }} - {{ fecha }}</u></h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Variedad</th>
                            <th>Cod. De Lote Secado</th>
                            <th>Ubicaci&oacute;n</th>
                            <th>Instalaci&oacute;n</th>
                            <th>Plantas Envasadas</th>
                            <th>Rendimiento Peso en Seco (Kg.)</th>
                            <th>Humedad (%)</th>
                            <th>Peso Medio por Planta</th>
                            <th>Fecha de Envasado</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lote in lotes %}
                        {% for i in lote %}
                            {% if i.lote.tipo == 'Lote de Flores Deshidratadas' %}
                                    <tr>
                                        <td>{{ i.codigo }}</td>
                                        <td>{{ i.loteSecado.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                                        <td>{{ i.loteSecado.codigo }}</td>
                                        <td>{{ i.lote.predio }}</td>
                                        <td>{{ i.lote.instalacion }}</td>
                                        <td>{{ i.totalPlantas }}</td>
                                        <td>{{ i.pesoSeco }}</td>
                                        <td>{{ i.porcentajeHumedad }}</td>
                                        <td>{{ i.pesoSeco|div:i.totalPlantas|floatformat:"3" }}</td>
                                        <td>{{ i.lote.fechaMovimiento|date:"d/m/Y" }}</td>
                                        <td>{{ i.lote.observaciones }}</td>
                                    </tr>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                          <tr style="background-color: #7aba7b">
                              <td colspan="5"><b>Totales:</b></td>
                              <td><b>{{ materialTotal }}</b></td>
                              <td><b>{{ materialSeco }}</b></td>
                              <td colspan="4"><b></b></td>
                          </tr>
                    </tbody>
                </table>
            <br />
{#            <div class="referencias">#}
{#                <p><b>LPP-1-BB1</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LPP-C-5-BB3</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>C:</b> Campo; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LP-1-BB1</b><br />#}
{#                <b>LP:</b> Lote de plantín; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
