﻿{% extends 'basePDF.html' %}
{% load mathfilters %}
{% block germinacion %}
    <h4><u>Declaración Jurada de Destricci&oacute;n de Plantas {{ fechaDesde }} - {{ fecha }}</u></h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Cod. De Lote Planta Destru&iacute;da</th>
                            <th>Tipo de Lote</th>
                            <th>Variedad</th>
                            <th>Nº de Plantas</th>
                            <th>Actualizado al</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in destrucciones %}
                        {% for des in i %}
                            <tr>
                                <td>{{ des.codigo }}</td>
                                {% if des.loteG %}
                                    <td>{{ des.loteG.codigo }}</td>
                                    <td>{{ des.loteG.lote.tipo }}</td>
                                    <td>{{ des.loteG.loteSemilla.semilla.variedad }}</td>
                                {% endif %}
                                {% if des.loteV %}
                                    <td>{{ des.loteV.codigo }}</td>
                                    <td>{{ des.loteV.lote.tipo }}</td>
                                    <td>{{ des.loteV.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                                {% endif %}
                                {% if des.loteF %}
                                    <td>{{ des.loteF.codigo }}</td>
                                    <td>{{ des.loteF.lote.tipo }}</td>
                                    <td>{{ des.loteF.loteVegetativo.loteGerminacionloteSemilla.semilla.variedad }}</td>
                                {% endif %}
                                <td>{{ des.cantidad }}</td>
                                <td>{{ des.fecha|date:"d/m/Y" }}</td>
                                <td>{{ des.observaciones }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                          <tr style="background-color: #7aba7b">
                              <td colspan="4"><b>Totales:</b></td>
                              <td><b>{{ destruccionTotal }}</b></td>
                              <td colspan="2"><b></b></td>
                          </tr>
                    </tbody>
                </table>
            <br />
{#            <div class="referencias">#}
{#                <p><b>LPP-1-BB1</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LPP-C-5-BB3</b><br />#}
{#                <b>LPP:</b> Lote de planta productiva; <b>C:</b> Campo; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#                <p><b>LP-1-BB1</b><br />#}
{#                <b>LP:</b> Lote de plantín; <b>1:</b> Número de lote; <b>BB1:</b> variedad;</p>#}
{#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
