﻿{% extends 'basePDF.html' %}
{% load mathfilters %}
{% block germinacion %}
    <h4><u>Declaración Jurada de Plantas Cosechadas - Etapa trimming y secado {{ fechaDesde }} - {{ fecha }}</u></h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <thead>
                        <tr>
                            <th rowspan="2">C&oacute;digo</th>
                            <th rowspan="2">Variedad</th>
                            <th rowspan="2">Cod. De Lote PP - Floraci&oacute;n</th>
                            <th rowspan="2">Ubicaci&oacute;n</th>
                            <th rowspan="2">Instalaci&oacute;n</th>
                            <th rowspan="2">Plantas Cosechadas</th>
                            <th rowspan="2">Plantas actuales</th>
                            <th rowspan="2">Fecha de Cosecha</th>
                            <th colspan="2">Fechas de trimming</th>
                            <th colspan="2">Fechas de secado</th>
                            <th rowspan="2">Observaciones</th>
                        </tr>
                        <tr>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lote in lotes %}
                        {% for i in lote %}
                            {% if i.lote.tipo == 'Lote de Secado' %}
                                    <tr>
                                        <td>{{ i.codigo }}</td>
                                        <td>{{ i.loteFloracion.loteVegetativo.loteGerminacion.loteSemilla.semilla.variedad }}</td>
                                        <td>{{ i.loteFloracion.codigo }}</td>
                                        <td>{{ i.lote.predio }}</td>
                                        <td>{{ i.lote.instalacion }}</td>
                                        <td>{{ i.totalPlantas }}</td>
                                        <td>{{ i.stockActual }}</td>
                                        <td>{{ i.lote.fechaMovimiento|date:"d/m/Y" }}</td>
                                        {% if i.inicioTrimming %}
                                            <td>{{ i.inicioTrimming|date:"d/m/Y H:i" }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if i.finTrimming %}
                                            <td>{{ i.finTrimming|date:"d/m/Y H:i" }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if i.inicioSecado %}
                                            <td>{{ i.inicioSecado|date:"d/m/Y H:i" }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if i.finSecado %}
                                            <td>{{ i.finSecado|date:"d/m/Y H:i" }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>
                                            {% if i.finTrimming == None and i.finSecado == None %}
                                                Esperando Trimming y Secado
                                            {% elif i.finTrimming == None %}
                                                Esperando Trimming
                                            {% elif i.finSecado == None %}
                                                Esperando Secado
                                            {%  endif %}
                                        </td>
                                    </tr>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %}
                          <tr style="background-color: #7aba7b">
                              <td colspan="5"><b>Totales:</b></td>
                              <td><b>{{ secadoTotal }}</b></td>
                              <td><b>{{ secadoActual }}</b></td>
                              <td colspan="6"><b></b></td>
                          </tr>
                    </tbody>
                </table>
            <br />
            </div>
        </div>
    </div>
{% endblock %}
