{% extends 'base_inventario.html' %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
            <h1>Menu Comercial:</h1>
                <div class="row">        

                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.inventario_admin %}
                                <li><a href="{% url 'comercial:lista_proveedores'  %}">Proveedores</a></li>
{#                                <hr>#}
                            {% endif %}
                        </ul>
                    </div>
{#                    <div class="col-md-4">#}
{#                        {% include 'info_user.html' %}#}
{#                        <a class="btn btn-primary" href="{% url 'core:menu' %}">Volver al Menú Principal</a>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </section>
{% endblock %}