{% extends 'base_inventario.html' %}

{% load static %}

{% block body_block %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Stock de Semillas</h2>
            <br>
            <a class="btn btn-primary btn-sm float-right" href="{% url 'reportes:menu' %}">Volver al Menú Anterior</a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Fecha Importacion</th>
                        <th>Nombre</th>
                        <th>Identificador</th>
                        <th>Stock Inicial</th>
                        <th>Utilizado</th>
                        <th>Disponible</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    {% for semilla in semillas %}
                        <tr>
                            <td>{{semilla.creacion.fecha.date}}</td>
                            <td>{{semilla.nombre}}</td>
                            <td>{{semilla.identificador}}</td>

                            <td>{{semilla.cantidad}}{{semilla.get_medida_display}}</td>
                            <td>{{semilla.cantidad_distribuida}}{{semilla.get_medida_display}}</td>
                            {% if semilla.cantidad_disponible > 0 %}
                            <td style="color: green;">{{semilla.cantidad_disponible}}{{semilla.get_medida_display}}</td>
                            {% else %}
                            <td style="color: red;">{{semilla.cantidad_disponible}}{{semilla.get_medida_display}}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'inventario:ver_item' item_id=semilla.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/ver.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}